@charset "UTF-8";

.header__menu__dropdown>li {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
/* 드롭다운 스타일 */
.dropdown {
	position: relative !important;
	display: inline-block !important;
}

.dropdown-toggle:hover+.dropdown-menu, .dropdown-menu:hover {
	display: block !important;
	/* 드롭다운 메뉴 표시 */
}

.dropdown-menu {
	display: none !important;
	/* 기본적으로 숨김 */
	position: absolute !important;
	top: 100% !important;
	/* 메뉴 아래에 위치 */
	left: 0 !important;
	background-color: white !important;
	border: 1px solid #ccc !important;
	z-index: 1000 !important;
	/* 드롭다운이 다른 요소 위에 표시되도록 */
}

.dropdown-menu a {
	display: block !important;
	padding: 10px 20px !important;
	text-decoration: none !important;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1 !important;
	/* hover 시 배경 색상 변경 */
}