@charset "UTF-8";

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#aboutUsBody {
	background: #B9D1D3;
}

#heroItem {
	background-image: url('/home/img/hero/hero_bg.png');
	background-size: 100%;
	/* background: linear-gradient(to right, #D1DFD9, #80ACC6); */
	border-radius: 25px;
}

#examBtn {
	border-radius: 10px;
}

.categories {
}

.categories-div {
	height: 100px !important;
	display: flex !important;
	justify-content: center !important;
}

#categoriesExamList {
	background: linear-gradient(to right, #FFADAD, #FFB9A1);
	border-radius: 25px;
}

#categoriesUserExamResultList {
	background: linear-gradient(to right, #FFB9A1, #FFC899);
	border-radius: 25px;
}

#categoriesUserExamAnalyse {
	background: linear-gradient(to right, #FFC899, #F7D999);
	border-radius: 25px;
}

#categoriesScoreMain {
	background: linear-gradient(to right, #F7D999, #E7EAA2);
	border-radius: 25px;
}

#categoriesExamScoreSummary {
	background: linear-gradient(to right, #E7EAA2, #C7F1AE);
	border-radius: 25px;
}

#categoriesExamScoreList {
	background: linear-gradient(to right, #C7F1AE, #A5F6C4);
	border-radius: 25px;
}

#categoriesCastSubjectList {
	background: linear-gradient(to right, #A5F6C4, #82F8E0);
	border-radius: 25px;
}

#categoriesTargetUniversityList {
	background: linear-gradient(to right, #82F8E0, #56EDFC);
	border-radius: 25px;
}

#categoriesTargetGradeList {
	background: linear-gradient(to right, #56EDFC, #5BDEFF);
	border-radius: 25px;
}

#categoriesLearningScheduleList {
	background: linear-gradient(to right, #5BDEFF, #8BCAFF);
	border-radius: 25px;
}

#categoriesSiteMap {
	background: linear-gradient(to right, #8BCAFF, #BDB2FF);
	border-radius: 25px;
}

.categories-site-map-a {
	height: 100%;
	line-height: 50px;
	font-size: 15px !important;
	background: transparent !important;
	padding: 0px !important;
}

#heroP {
	font-weight: bold !important;
	color: #252525 !important;
}