/*�߰�*/
.grid-contents .comm-stitle {padding:0 0 0 0; border-bottom:1px solid #d6d6d6;}
.grid-contents .comm-stitle1 {padding:0 0 0 0;}
.grid-contents .comm-stitle2 {padding:0 0 0 0;margin:0}
.grid-contents .comm-stitle3 {padding:0 0 0 0;}
.grid-contents .comm-stitle span {display: inline-block; zoom: 1; padding: 0 20px 10px 33px;}
.grid-contents .comm-stitle1 span {display: inline-block; zoom: 1; padding: 0 20px 0 33px;}
.grid-contents .comm-stitle2 span {display: block; zoom: 1; padding: 10px 0 17px 0;margin:0;}
.grid-contents .comm-stitle3 span {display: inline-block; zoom: 1; padding: 0 20px 10px 0;}

.Hid{display:none}


.fc_blue{color:#167fff !important}
.fc_red{color:#f34d51 !important}
.fw_b{font-weight: bold !important}

/*���*/
.exam-bottomlist {padding:20px 0 10px 20px; background:#f9f9f9;}
.exam-bottomlist li {padding:0 0 8px 10px; background: url('http://img.megastudy.net/study/exam/dot.gif') no-repeat 0 6px; font-size:13px;}

.exam-check_btn {display:inline-block; width:100%; padding:10px 0 5px 12px;}
.exam-check_btn button {margin:0 3px 0 0; padding:0; cursor:pointer; color:none;border:0; font-size:0; line-height:-100px; }
.exam-check_btn button.check_all {float:left; margin-right: 5px;width:49px; height:17px; background: url('http://img.megastudy.net/study/exam/btn_check_all.gif') no-repeat center 0;}
.exam-check_btn button.check_cancel {float:left; width:49px; height:17px; background: url('http://img.megastudy.net/study/exam/btn_check_cancel.gif') no-repeat center 0;}
.exam-check_btn button.check_del {float:left; width:28px; height:17px; background: url('http://img.megastudy.net/study/exam/btn_check_del.gif') no-repeat center 0;}
.exam-check_btn button.select_add {float:left; width:72px; height:17px; background: url('http://img.megastudy.net/study/exam/btn_select_add.gif') no-repeat center 0;}
.exam-check_btn span{float:left;padding: 3px 0 0 3px;}
.grid-contents .check_btn span {display:inline-block; padding:3px;}
.grid-contents .check_btn .tab {float:right;}
.grid-contents .check_btn .tab a {color:#2b2d32;}
.grid-contents .check_btn .tab a:hover {text-decoration:none;}
.grid-contents .check_btn .tab a.on {color:#0082ff;}
.grid-contents .check_btn .tab .txt_bar {margin:0 4px;color:#d4d4d4;}

/* ���� */
.colorBlue {color:#0080fa;}
.colorOrange {color:#ff5f11;}

/* ���̺� */
.tbl_type1 {width:100%;table-layout:fixed;border-collapse:collapse;border-top:2px solid #7b8087;border-bottom:1px solid #e7e7e7;}
.tbl_type1 thead th {padding:11px 0 8px 0;vertical-align:top;border-bottom:1px solid #e7e7e7;background:#f9f9f9;}
.tbl_type1 tbody td {padding:8px 0 5px 0;text-align:center;color:#858585;border-top:1px solid #e0e0e0;}
.tbl_type1 tbody td.sub {text-align:left;}
.tbl_type1 tbody td.sub a, .tbl_type1 tbody td.sub strong {display:block}
.tbl_type1 tbody td.sub a {padding-bottom:6px}
.tbl_type1 tbody td.sub strong {padding-bottom:4px;}
.tbl_type1 tbody td.sub strong img{margin-top: -2px\0/IE8;margin-top: -1px;} /*hack ie8,7*/
.tbl_type1 tbody td.sub .good {margin-left:20px;padding-left:15px;background: url(http://img.megastudy.net/study_v2/community/bul_good.gif) 0 0 no-repeat;}
.tbl_type1 tbody td.sub .thumb {float:left;margin-right:10px;border:1px solid #ebebeb;}
.tbl_type1 .go1{color: #ff6c00;}
.tbl_type1 .go2{color: #10bb4c;}
.tbl_type1 .go3{color: #0080fa;}
caption{display:none;}
.tbl_type1 {table-layout: fixed;word-break:break-all;border-collapse:collapse; }
.tbl_type1 th {color:#5d666f;border-right:1px solid #e7e7e7; border-left:1px solid #e7e7e7; }
.tbl_type1 th+th+th+th+th+th+th+th+th+th {border-right:0;}
.tbl_type1 td {color:#5d666f;border-right:1px solid #e7e7e7; border-left:1px solid #e7e7e7;}
.tbl_type1 td+td+td+td+td+td+td+td+td+td {border-right:0;}
.tbl_type1 .preview {padding:0 0 0 4px;cursor: pointer;}
.tbl_type1 .colorOrange {color:#ff5f11;}
.tbl_type1 .colorBlue {color:#0080fa;}

/* ���� */
.ml20 {margin:0 0 0 20px;}
.mb10 {margin:0 0 20px 0;}
.mb20 {margin:0 0 20px 0;}
.mb60 {margin:0 0 60px 0;}
.m0{margin: 0 !important}
.mt0{margin-top: 0 !important}
.mt40{margin-top: 40px !important}
.mr0{margin-right:0}
.mb0{margin-bottom:0 !important}

.pb0 {padding-bottom:0 !important;}


/* ����Ʈ */
.inherit {padding:10px 5px 10px 15px ;}
.inherit li {display:block; overflow:hidden; width:150px; padding:0 0 10px 0; text-align:left; white-space:nowrap;text-overflow:ellipsis; }

/* tab */
.tab_box ul.tab {overflow:hidden; width:100%;margin-bottom: 30px}
.tab_box ul.tab li {float:left;}
.tab_box .tab-wrapper { padding:0 17px 0 17px; border:1px solid #d6d6d6;}

/* input */
.radio_area {float:left;}

.step {display:inline-block; width:100%;}
.step .comm-stitle3 {float:left;}
.step .radio_area {float:left;}
.step .radio_area label {cursor:pointer;vertical-align: -1px}

.step_box { width:100%;overflow: hidden;padding-top: 30px}
.step_box .step_title {position:relative; padding:15px 15px 7px 15px; text-align:center;}
.step_box .step_title span {position:absolute; top:15px;right:10px; }
.step_box .left_box {position:relative;float:left; width:380px; height:385px; background:#e2e6ea;}
.step_box .step_arr {float:left; padding:0 10px 0 13px;}
.step_box .right_box {position:relative;float:left; width:360px; height:385px; background:#e2e6ea;}
.step_box .loading{position: absolute;top:50%;left:50%;margin:-22px 0 0 -22px;}
.step_box .select_box {overflow-y:auto; height:320px; margin:10px; background:#fff;}
.step_box .select_box ul {padding:20px 30px 20px 30px;}
.step_box .select_box li {margin-top:-1px;}
.step_box .select_box li p {padding:3px 0 3px 30px; border-top:1px solid #ececec; border-bottom:1px solid #ececec; background: url('http://img.megastudy.net/study/exam/ico_select_off.gif') no-repeat 10px 2px;}
.step_box .select_box li dl {display:none;}
.step_box .select_box li dt {padding:3px 0 3px 75px; background:#f9f9f9 url('http://img.megastudy.net/study/exam/ico_select_off.gif') no-repeat 57px 2px;}
.step_box .select_box li dd {display:none;}
.step_box .select_box li dd ul {padding:3px 0 8px 0;}
.step_box .select_box li dd ul li {height:19px; padding:3px 0 3px 75px; cursor:pointer; line-height:15px;}
.step_box .select_box li dd ul li label {padding:1px 0 0 2px; cursor:pointer;}
.step_box .select_box li .on {display:block !important;}
.step_box .add_box {overflow-y:auto; height:320px; margin:10px; background:#fff;}
.step_box .add_box ul {padding:20px 30px 20px 30px;}
.step_box .add_box li {padding-bottom:8px; color:#0080fa;}
.step_box .add_box li img {padding:0 0 0 5px;}
.ltitle.ico_on {background: url('http://img.megastudy.net/study/exam/ico_select_on.gif') no-repeat 10px 2px !important;}
.list_a dt.ico_on {background:#f9f9f9 url('http://img.megastudy.net/study/exam/ico_select_on.gif') no-repeat 57px 2px !important;}
.section .search {clear:both;padding: 20px 0 30px 0;text-align:center;}
.exam-search {text-align:center;}
.exam-select_box{overflow:hidden;border-bottom: 1px solid #e7e7e7;margin:0 -17px 0 -17px}
.exam-select_box label{float:left;width:137px;text-align:center;padding:11px 0;background: #eaeaea;line-height: 0}
.exam-select_box select{float:left;width:35%}
.exam-select_box .selection{float:left;width:272px;background: #f8f8f8;height: 39px;}
.exam-select_box .selection select{width:45%;margin: 12px 5px 0 5px}
.footer{clear:both;}



.cont_test--exam {}
.cont_test--exam .tab_bg {background:url(http://img.megastudy.net/Entinfo/ex_test/re_tab_0309.gif) no-repeat;}

.top_cont--wrap{position: relative;background: #21253b;padding-bottom: 30px;}
.top_cont--wrap .ic_done{position: absolute;right:61px;top:25px; z-index: 10;}
.top_cont--wrap .cont--box{height: 50px;padding:0 0 0 146px;background: #2b3a74 url(http://img.megastudy.net/entinfo/ex_test/ic_notice.gif) 40px 50% no-repeat;color:#fff;text-align: left;line-height: 50px;font-size:15px;overflow: hidden;}
.cont--box ul li {font-size:15px}
.cont--box ul li a{font-size:15px}
/* .top_cont--wrap .cont--box .noti--list{position: absolute;bottom:8px;left:5%;width:90%;padding-top:5px;border-top:1px dashed #d3d3d3} */
/* .noti--list li{font-size: 14px;line-height: 21px;color:#21253b;text-align: center} */
.noti--list li .label{font-weight: bold;color:#167fff}
.noti--list li .new{font-weight: bold;color:#ff502b}
.mid_cont--wrap {background:#21253b;padding:20px;margin-bottom:10px;}
.mid_cont--wrap table, .mid_cont--wrap th, .mid_cont--wrap td,
.answer_tbl--type table, .answer_tbl--type th, .answer_tbl--type td {border:0}

/*
.mid_tab--select {overflow:hidden;height:79px}
.mid_tab--select ul {}
.mid_tab--select ul:after{display:block;clear:both;content:""}
.mid_tab--select ul li {float:left;text-align:center}
.mid_tab--select ul li a {height:79px;float:left;}
.mid_tab--select ul li a span {display:block;text-align:center;text-indent:-9999px;overflow:hidden;}
.mid_tab--select ul li a.m1 {width:390px;background-position:0 0}
.mid_tab--select ul li a.m2 {width:390px;background-position:-390px 0}
.mid_tab--select ul li.on a.m1, .mid_tab--select ul li a.m1:hover {width:390px;background-position:0 -79px}
.mid_tab--select ul li.on a.m2, .mid_tab--select ul li a.m2:hover {width:390px;background-position:-390px -79px}
*/



.mid_tab--cont {background:#FFFFFF;padding:0 20px 55px}
.mid_tab--cont *, .bot_ques--area *{font-family:'���� ���',Malgun gothic,dotum}
.mid_tbl--type {width:100%;border-top:2px solid #353535 !important;text-align:center;border-collapse:collapse;}
.mid_tbl--type th{border-bottom:1px solid #dadada;background-color:#f7f7f7;color:#1b1d30;font-weight:bold;font-size:14px}
.mid_tbl--type td{padding:12px 0 12px;border-bottom:1px solid #dadada;color:#7a7b84;font-size:14px}
.mid_tbl--type .none {vertical-align:middle;height:200px}
.mid_tbl--type .none .view_all {text-decoration:underline;color:#000000;display:block;margin-top:10px;font-size:13px}
.mid_tbl--type .tbl_in--atc {overflow:hidden;}
.mid_tbl--type .tbl_in--atc li {float:left;margin-left:5px}
.mid_tbl--type .tbl_in--atc li .tdBox {margin-left:5px;}
.mid_tbl--type .tbl_in--atc li .tdBox input {width:80px; text-align:center;}
.tbl_in--atc input{vertical-align: middle;}
.tbl_in--atc label{vertical-align: -2px;}
.tbl_in--atc-subject{width:100%;padding:5px 0 1px 0}
.mid_tabl--txt{padding-top: 5px;}
.mid_hypen--txt {position: relative; margin: 10px 0 0; padding: 0 0 0 15px; font-size: 13px; letter-spacing: -0.5px; text-align: left;}
.mid_hypen--txt:after{content: '※'; position: absolute; left: 0; top: 0;}

.mid_sel--cont {margin:40px 0}
.mid_sel--cont h3 {font-weight:bold;color:#383947;font-size:15px;margin-bottom:13px}
.mid_sel--cont h3 .num{font-size:16px;color:#167fff;display: inline-block}
.mid_sel--cont .desc{/*vertical-align: bottom;*/font-size: 12px;color:#999999;font-weight: normal;text-align: right;padding-bottom: 5px;}
.mid_sel--cont h3 .desc{margin-top: -18px;}
/* .mid_sel--area {border:1px solid #dadada;height:181px;overflow-y:scroll;padding:12px 18px;margin-bottom:20px} */
.mid_sel--area{height: 187px;border:1px solid #dadada;text-align: left;width:608px;margin: 0 auto;padding:8px;box-sizing: border-box;overflow-y: auto}
.mid_sel--none {padding:75px 0;text-align:center}
/* .mid_sel--in {margin-bottom:35px} */
.mid_sel--area .mid_sel--in{margin-top: 10px}
.mid_sel--area .mid_sel--in:first-of-type{margin-top: 0}
.mid_sel--area .tbl_in--atc{margin-bottom: 10px;}


.mid_sel--in h4 {color:#1b1d30;font-size:14px;margin-bottom:7px;font-weight:bold;}
.mid_sel--list {overflow:hidden}
.mid_sel--list li {float:left;color:#7a7b84;font-size:14px;margin-right:15px}

.mid_btn_area {position:relative;text-align:center;display:block;margin-top:20px;overflow:hidden}
.mid_btn_area::before{content:'';width:0;height:100%;vertical-align:middle}
.mid_btn_area .a_l{position: absolute;left:0;top:50%;margin-top:-15px }
.mid_btn_area .a_r{position: absolute;right:0;top:50%;margin-top:-17px }
.mid_btn_area #table_footer #paging_wrap{padding:9px 0}
.mid_btn_area__txt {display:block;margin-top:7px;font-size:12px;line-height: 1.3;}

.bot_ques--area {padding:0 0 0;background:#FFFFFF;border-radius:0 0 21px 21px}
.bot_tbl--top {overflow:hidden;margin-bottom:15px}
.tbl_top_left {padding-bottom: 10px;}
.tbl_top_left strong {color:#ff0000}
.tbl_top_right {vertical-align: bottom;font-size: 12px;color:#999999;font-weight: normal;letter-spacing: -0.5px;}
.tbl_top_right span {display: inline-block;margin-right: 5px;font-size:14px}
.tbl_top_right a{display: inline-block;color:#fff;background: #93b5f8;font-weight: bold;padding:5px 7px;line-height: 1;font-size:13px}
.tbl_top_right .clear{background: #b3b3b3;}
.tbl_top_right select{border: 1px solid #ccc;height: 23px;vertical-align: top;}

.bot_tbl--type {width:100%;border-top:2px solid #353535 !important;text-align:center;border-collapse:collapse;table-layout:fixed;margin-bottom:20px}
.bot_tbl--type th {padding:9px 0;background-color:#f7f7f7;color:#1b1d30;font-weight:bold;font-size:12px;border-bottom:1px solid #dadada;border-left:1px solid #dadada;}
.bot_tbl--type th:first-child{border-left: 0;}
.bot_tbl--type .on, .bot_tbl--type .on a{color:#0000ff}
.bot_tbl--type td {padding:6px 0 6px;border-bottom:1px solid #dadada;border-right:1px solid #dadada;color:#7a7b84;}
.bot_tbl--type td.po {color:#ff5f11}
.bot_tbl--type tr:last-child, .bot_tbl--type td:last-child {border-right:0}
.bot_tbl--type tr.wrong td{background-color: #fff3f4}
.bot_tbl--type .none {padding:100px 0}
.bot_tbl--type .t_l{text-align: left;padding-left:20px}
.bot_tbl--type .link{color:#167fff;text-decoration: underline;font-weight: bold}


.bot_info--txt {background:#f6f6f6;padding:14px 20px;margin-top:20px}
.bot_info--txt ul li {color:#858585}

.pop_exam--wrap *{font-family:'���� ���',Malgun gothic,dotum}
.pop_exam--wrap h5 {margin:0;padding:0}
.pop_exam--wrap {width:1000px;height:950px}
.pop_exam--wrap .scr_in {height:810px;overflow-y:scroll}
.pop_exam--top {overflow:hidden;background:#126ad6;padding:15px 30px 0;height:65px}
.pop_top--left {float:left}
.pop_top--right {float:right}
.pop_top--left h1 {font-size:14px;color:#05faff;margin-bottom:12px}
.pop_top--left h2 {color:#FFFFFF;font-size:23px}
.pop_top--left h2 em {font-size:16px}
.pop_top--right a {font-size:13px;display: inline-block;padding: 0 12px;height: 24px; line-height: 21px;text-align: center;border: 1px solid #84b6e9;color: #fdfbff;margin-top:21px}
.pop_top--right .txt_print{padding:0 6px;color:#fff;font-size:13px;border:0}


.pop_cont--area {padding-top:30px;overflow:hidden}
.exam_ques--para {margin-bottom:50px}
.pop_cont--ques {float:left;width:580px;padding:0 25px 0 30px}
.pop_cont--answer {float:left;width:330px;padding-left:20px}
.pop_print--wrap {}
.pop_cont--print {width:940px;padding-left:30px;}
.exam_ques--ex {background:#e3edf9;padding:11px 20px;color:#2d73d5;font-size:14px;line-height:19px;margin-bottom:25px}
.exam_ques--img {margin-bottom:27px}
.exam_ques--info {color:#888888;border-top:1px solid #f0f0f0;padding-top:20px;line-height:19px;}
.exam_ques--info strong {color:#666666;display:block}

.answer_tbl--type {width:300px;border-top:1px solid #116ad7 !important;text-align:center;border-collapse:collapse;margin-bottom:20px}
.answer_tbl--type th {border-bottom:1px solid #dadada;border-right:1px solid #dadada;border-left:1px solid #dadada;background-color:#f9f9f9;color:#666666;font-size:14px;font-weight:normal;}
.answer_tbl--type th.tit {font-size:16px;font-weight:bold;color:#494949;border-left:1px solid #f9f9f9;border-right:1px solid #f9f9f9;padding:14px 0;}
.answer_tbl--type th.info {padding:7px 0}
.answer_tbl--type th.info h3 {color:#333333;font-weight:normal;font-size:13px}
.answer_tbl--type th.info .exp {font-size:16px;font-weight:bold;margin:6px 0 8px}
.answer_tbl--type th.info .exp strong {color:#f34d51;margin-left:23px}
.answer_tbl--type th.info .mine {text-align:right;padding:0 11px 0 0;font-size:11px;}
.pop_exam--wrap .mine span {display:inline-block;width:9px;height:9px}
.pop_exam--wrap .mine span img{width:9px;height:9px}
.pop_exam--wrap .mine span.circle2 {}
.pop_exam--wrap .mine em {color:#f34d51}
.answer_tbl--type th.num {font-size:14px;}
.answer_tbl--type th.num p {position:relative;}
.answer_tbl--type th.tt_per {font-size:12px;}
.answer_tbl--type th .chk_o, .answer_tbl--type th .chk_x {position:absolute;left:0;top:-14px;width:55px;height:44px;display:inline-block;margin-left:12px}
.answer_tbl--type th .chk_o {background:url(http://img.megastudy.net/Entinfo/ex_test/test_img.png) left -58px no-repeat;}
.answer_tbl--type th .chk_x {background:url(http://img.megastudy.net/Entinfo/ex_test/test_img.png) -55px -58px no-repeat;}
.answer_tbl--type td {padding:9px 0;border-bottom:1px solid #dadada;border-right:1px solid #dadada;color:#7a7b84;position:relative}
.answer_tbl--type td .chk_mine, .answer_tbl--type td .chk_correct {position:absolute;left:15px;top:9px;width:17px;height:17px;display:inline-block}
.answer_tbl--type td .chk_mine {}
.answer_tbl--type td .chk_correct {}
.answer_tbl--type td .short_answer {width:205px;height:17px;border:1px solid #bbbbbb}
.po_chk_r {margin-left:15px}
.po_chk_r em {color:#DD191C}
.pop_btn--grading, .pop_btn--view  {font-size:20px;display: inline-block;width:298px;height:50px;line-height: 45px;text-align: center;font-weight:bold;text-decoration:none}
.pop_btn--grading {border: 2px solid #116ad7;color: #116ad7 !important;}
.pop_btn--view {border: 2px solid #f34d51;color: #f34d51 !important;}

/** �Ⱦ��� ����� **/
.answer_tbl--type input.rdo_type[type="checkbox"] {display:none}
.answer_tbl--type input.rdo_type[type="checkbox"] + label span {
    display:inline-block;width:21px;height:21px;vertical-align:top;
    background:url(http://img.megastudy.net/bookMall/2017/bg_dt_bt.gif) left -233px no-repeat;cursor:pointer}
.answer_tbl--type input.rdo_type[type="checkbox"]:checked + label span {
    background:url(http://img.megastudy.net/bookMall/2017/bg_dt_bt.gif) -24px -233px no-repeat}


.view_answer--para {padding:0 30px 35px}
.view_answer--wrap {overflow:hidden}
.view_answer--ques {float:left;width:580px;padding-right:25px;border-right:1px solid #dddddd;min-height:300px}
.view_answer--exp {float:left;width:300px;padding-left:15px}
.exam_ques--exp {border-top:1px solid #f0f0f0;padding:15px 0 0}
.exam_ques--exp h5 {margin-bottom:24px}
.exam_exp_in {font-size:12px;color:#8c8c8c}
.exam_exp_in strong {color:#666666}
.exam_exp_in p {margin-top:9px;}
.view_answer--wrap h5 {color:#116ad7;font-size:15px;margin-bottom:16px}
.view_info--ques {margin-bottom:40px}
.view_info--detail, .view_detail--ques {font-size:13px;}
.view_info--detail {color:#666666;font-weight:bold;margin-bottom:5px;line-height:17px}
.view_detail--ques {color:#888888}
.btn_lec--vod{font-size: 14px; display: inline-block; height: 30px;line-height: 27px;text-align: center  ;color: #333333;
   background:#eeeeee;font-weight:bold;padding:0 13px;margin-bottom:5px}
.btn_lec--vod:hover {text-decoration:none}
.btn_lec--vod .ico {background:url(http://img.megastudy.net/Entinfo/ex_test/test_img.png) -78px 6px no-repeat;width:20px;height:27px;display:inline-block}
.btn_lec--vod .name {display:inline-block;vertical-align:7px}
.view_answer--result {position:relative}
.view_answer--top {position:absolute;right:4px;top:2px}
.view_answer--top .mine {font-size:12px !important}
.view_info--vod {margin-bottom:35px}

/*  ��õ �׸� ������ */
.recommend--area{border:1px solid #dadada;margin-bottom: 40px}
.recommend--tag{padding:5px 20px 25px 0;font-size:0;text-align:center}
.recommend--tag .tag{display: inline-block;height:30px;border:1px solid #dadada;border-radius: 15px;margin:13px 0 0 20px}
.recommend--tag .tag a{display:block;padding:0 18px;line-height: 30px;color:#000;font-family:'���� ���',Malgun gothic,dotum;font-size:14px}
.recommend--tag .tag.gray{background-color:#f5f5f5 }

/* ���̾��˾� */
.layer_ex_bg{position: fixed;top:0;left:0;width:100%;height: 100%;background:#000;opacity:0.4;display: none;z-index: 500}
.layer_ex_pop{display: none;position: fixed;z-index: 600;left:50%;top:50%;transform: translateX(-50%) translateY(-50%);}
.layer_ex_pop .tit{padding-left:20px;font-size:16px;color:#fff;background-color:#374ebb;height: 40px;line-height: 40px}
.layer_ex_pop .btn_close{display: block;float:right;margin: 10px 20px 0 0}
.layer_ex_pop .layer_cont{background-color: #fff}
.layer_ex_pop .layer_cont{border:1px solid #dadada;border-top:none}

/* ������ ��� �ϱ� */
.layer_regist{width:380px;height: auto}
.layer_regist .layer_cont{padding:40px 20px 30px}
.layer_regist .layer_cont input[type="text"]{width:100%;height:30px;border:1px solid #dadada;text-align: center}

/* �ؼ����� ���� */
.layer_lecture{width:400px;height: auto}
.layer_lecture .layer_cont{padding:25px 20px 30px;border:1px solid #dadada;border-top:none}
.layer_lecture .layer_cont .txt_01{font-size:13px;color:#666}
.layer_lecture .layer_cont .txt_02{font-size:15px;color:#333;font-weight: bold}
.layer_lecture .lecture_list{height: auto;overflow:hidden;margin-top: 13px}
.layer_lecture .lecture_list:after{content:'';display: block;clear:both}
.layer_lecture .lecture_list li{float:left;margin-left:14px;margin-top: 5px}
.layer_lecture .lecture_list li:nth-child(3n+1){margin-left: 0}
.layer_lecture .lecture_list li a{position: relative;display: block;width:110px;height: 35px;border:1px solid #dadada;padding:0 12px;font-size:16px;color:#333;line-height: 32px;text-decoration: none;box-sizing: border-box}
.layer_lecture .lecture_list li a:after{content:"";display: block;width:21px;height: 21px;position: absolute;right:12px;top:7px;background: url('http://img.megastudy.net/Entinfo/ex_test/btn_play.png') no-repeat 0 0}

/* ���� ���� Ǯ�� */
.layer_explan{width:700px;height: auto}
.layer_explan .layer_cont{padding:25px 20px}
.result_list{display: table;width:100%;table-layout: fixed;border:1px solid #dadada;border-left:none;margin: 14px 0 30px}
.result_list > *{display: table-cell;vertical-align: middle;height: 48px;border-left:1px solid #dadada;font-size:16px;text-align: center}
.result_list dt{background-color: #f7f7f7;color:#333333}
.result_list dd{background-color: #fff;font-weight: bold}
.fc_blue{color:#167fff}
.fc_red{color:#f34d51}

.type_txt_area{background-color:#f4f8ff;padding:10px 24px;font-size: 14px;line-height: 21px;color:#333;margin-bottom: 20px}
.type_txt_area span{color:#167fff}

/* 20190103 renewal */
.mid_tab--select {overflow:hidden;height:81px}
.mid_tab--select ul {}
.mid_tab--select ul:after{display:block;clear:both;content:""}
.mid_tab--select ul li {float:left;text-align:center}
.mid_tab--select ul li a {height:81px;float:left;}
.mid_tab--select ul li a span {display:block;text-align:center;text-indent:-9999px;overflow:hidden;}
.mid_tab--select ul li a.m1 {width:390px;background-position:0 0}
.mid_tab--select ul li a.m2 {width:390px;background-position:-390px 0}
.mid_tab--select ul li.on a.m1, .mid_tab--select ul li a.m1:hover {width:390px;background-position:0 -81px}
.mid_tab--select ul li.on a.m2, .mid_tab--select ul li a.m2:hover {width:390px;background-position:-390px -81px}



.mn_tab {position:relative;height:50px;margin-bottom:20px;}
.mn_tab:after{content:" "; display:block; clear:both;}
.mn_tab ul {}
.mn_tab ul li {float:left;border-top:1px solid #d8d8d8;border-right:1px solid #d8d8d8;width:50%;background:#f9f9f9;border-bottom:1px solid #444444;text-align:center;height:50px;line-height:42px;box-sizing: border-box}
.mn_tab ul li:first-child {border-left:1px solid #d8d8d8;border-right:none}
.mn_tab ul li a {display:block;color:#a9a9a9;font-size:14px;line-height:48px}
.mn_tab ul li a em {color:#a9a9a9 !important;}
.mn_tab ul li.on {background:#FFFFFF;border:1px solid #444444;border-bottom:none}
.mn_tab ul li.on a {color:#494949;font-weight:bold}
.mn_tab ul li.on a em {color:#f25a5e !important}

.tab_cont_wrap [class*="tab_cont_"]{display: none}
.tab_cont_wrap > div.on{display: block}


.mid_step--area{height: 60px;text-align: center;background-color: #f4f8ff;margin-bottom: 20px}
.mid_step--area::before{content: '';display: inline-block;vertical-align: middle;height: 100%}
.mid_step--area::after{content:'';display: block;clear: both}
.mid_step--area li{float:left;text-align: left;padding-left:30px;width:47%;font-size:20px;line-height: 60px;color:#333;font-weight: bold;box-sizing: border-box;vertical-align: middle}
.mid_step--area li.arrow{position: relative;padding-left:0;width:6%;font-size: 30px;text-align: center;color:#333}
.mid_step--area li.arrow img{margin-top: -8px}

.mid_step--area .on{color:#167fff}
.mid_step--area a{display: inline-block;vertical-align: middle;font-size: 18px;font-weight: bold;padding:0 26px;border-left:1px solid #bbb4b4;line-height: 25px;text-decoration: none}
.mid_step--area a:first-child{border-left:none}

.mid_step--area2{height:30px;margin:10px 0}
.mid_step--area2 a{font-size:12px;line-height: 11px;}
.mid_step--area--step2{text-align: center;margin-bottom:10px;}
.mid_step--area--step2 select{width:67%;text-align: center;margin-top:0}


.mid_step--area li.step01 {}
.mid_step--area li.step01 a {float:left;text-align: left;padding-left:0;width:100%;font-size:20px;line-height: 60px;color:#333;font-weight: bold;box-sizing: border-box;vertical-align: middle}
.mid_step--area li.step01 a span {border-bottom: 1px solid #333;}
.mid_step--area li.step01 .step01_inner01 {}
.mid_step--area li.step01 .step01_inner02 {display:none;}


.mid_btn_area{position: relative;font-size: 0;min-height: 30px}
.mid_btn_area [class*="btn_ty"]{display: inline-block;font-size:16px;color:#fff;height: 35px;line-height: 33px; padding:0 15px; margin-left: 10px;text-decoration: none}
.mid_btn_area [class*="btn_ty"]:first-child{margin-left: 0}
.mid_btn_area .btn_ty01{background-color:#167fff}
.mid_btn_area .btn_ty02{background-color:#e55c5c}
.mid_btn_area .btn_ty03{background-color:#b3b3b3}
.mid_btn_area .f_l{position: absolute;top:0;left:0}
.mid_btn_area .f_r{position: absolute;top:0;right:0}

.fixed-table-container {position: relative;padding-top: 30px;}
.fixed-table-header-bg {
        border-top:1px solid #424242;
        border-bottom:1px solid #dadada;
        text-align:center;
        color:#666;
        background:#f7f7f7;
        font-weight:bold;
    height: 31px; /* header-bg height�� */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width:100%;
    overflow:hidden;
    /*border-bottom: 1px solid #000;*/
}
.fixed-table-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
table.fixed-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
table.fixed-table td {
    border-bottom: 1px solid #DDD;
            height:30px; padding:3px 0 2px;
    text-align:center;
    color:#666;
}
table.fixed-table td + td {
    border-left: 1px solid #DDD;
}
table.fixed-table th {
    padding: 0px; /* reset */

}
table.fixed-table .th-text {
    position: absolute;
    top: 0;
    width: inherit;
    line-height: 32px; /* header-bg height�� */
    border-right:1px solid; border-color:#dadada #dadada;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-left:1px solid #fff;
}
table.fixed-table th:last-child .th-text {
    border-right: none;
}
#MyTestArea .mid_sel--cont{margin-top: 0;}

.guidePop{text-align: center;}
.guidePop h1{line-height: 1;padding: 61px 0 34px 0;}
.guidePop--menu{width:743px;overflow:hidden;margin:0 auto;height: 69px;background: url('http://img.megastudy.net/Entinfo/ex_test/bg_guidePop.gif') no-repeat;margin-bottom: 35px;}
.guidePop--menu a{float:left;height: 100%;width:147px;margin-left: 1px;}
.guidePop--menu a:first-child{width:148px;margin-left: 0;}
.guidePop--menu1{background-position: 0 -69px;}
.guidePop--menu2{background-position: 0 -138px;}
.guidePop--menu3{background-position: 0 -207px;}
.guidePop--menu4{background-position: 0 -276px;}
.guidePop h2{padding: 44px 0 34px;}
.guidePop--con{padding-bottom: 60px;}
.guidePop--section{display: none}
.guidePop--section.on{display: block}
.guidePop--header{height:270px;background: #f2f2f2;border-top: 7px solid #1262dd;box-sizing: border-box;margin-bottom: 30px;}

.tabMenu{padding:0 40px 30px;margin-bottom:40px;display: flex;align-items: center;justify-content: center;background: #f2f2f2;}
.tabMenu a{flex:1;background: #344157;font-size:16px;color:#aeb1b8;display: flex;align-items: center;justify-content: center;height: 60px;border-left: 1px solid #fff;letter-spacing: -1px;text-align: center;line-height: 1.1;}
.tabMenu a:first-child{border-left: 0;}
.tabMenu .on, .tabMenu a:hover{background: #1162db;color:#fff;text-decoration: none;}

.loading_layer{position: absolute;left:50%;top:50%;transform: translateX(-50%) translateY(-50%);font-size:15px;line-height: 1.4;color:#434343;text-align: center;width:346px;padding:25px 0;background: #e8e8e8;}
.loading_layer p{padding-bottom: 10px;}

.mid_cont__title{background: #fff;color:#333;font-size:20px;font-weight: bold;font-family: '���� ���',Malgun gothic,dotum;padding:40px 20px 20px;letter-spacing: -1px;}

.popexam-wrap__header--print {display:none; position:fixed; left:50%; top:50%; z-index:1000; background:#f7f7f7;width:500px;transform: translateX(-50%) translateY(-50%);}
.popexam-wrap__header--print--close{position: absolute;right:19px;top:12px;}
.popexam-wrap__header--print h3{background: #374ebb;font-size:16px;color:#fff;height:40px;line-height: 40px;margin:0;padding:0 0 0 22px;}
.popexam-wrap__header--print ul{overflow:hidden;margin:0;padding:30px 0 0 20px;list-style:none;width:auto;float:none}
.popexam-wrap__header--print li {float:left;position:relative;width:145px; height:110px;margin:0  13px 0 0;text-align:center;background: #fff url(//img.megastudy.net/entinfo/ex_test/ic_print1.gif) 50% 50% no-repeat;}
.popexam-wrap__header--print li:nth-child(1){background-image: url(http://img.megastudy.net/entinfo/smartMath/ic_print1.gif);background-position: 50% 14px;}
.popexam-wrap__header--print li:nth-child(2){background-image: url(http://img.megastudy.net/entinfo/smartMath/ic_print2.gif);background-position: 50% 17px;}
.popexam-wrap__header--print li:nth-child(3){background-image: url(http://img.megastudy.net/entinfo/smartMath/ic_print3.gif);background-position: 50% 15px;}
/* .popexam-wrap__header--print > li:first-child {margin-top:8px;} */
.popexam-wrap__header--print li a {position:relative;z-index:2;display:block;width:100%;height:31px;padding:79px 0 0 0;font-size:14px; color:#000;line-height:20px;}
.popexam-wrap__header--print li a::after{content:url(http://img.megastudy.net/entinfo/smartMath/ic_print4.gif);vertical-align: 0;margin-left:4px;}
.popexam-wrap__header--print li::after{content: '';position: absolute;left:0;right:0;bottom:0;width:100%;height:40px;background: #e2edfa;}
.popexam-wrap__header--print li a:hover {color:#167fff; text-decoration:underline;}
.popexam-wrap__header--print--close{position: absolute;right:20px;top:12px}
.popexam-wrap__header--print--txt{padding:21px;line-height: 1;margin:0;font-size:12px;}
.popexam-wrap__header--print--txt a{color:#374ebb;font-size:13px}
.popexam-wrap__header--print.on {display:block;}
#printSel.on::after, #MyTagArea.on::after{content:'';position: fixed;left:0;top:0;right:0;bottom:0;background: #000;z-index:21;opacity: 0.5;}