<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" type="text/css" href="/user/css/score/score.css" />
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">
	
		// 
		const subjectScore = [[${subjectScoreMap}]];
		let koreanScore = subjectScore['koreanScore'];
		let mathScore = subjectScore['mathScore'];
		let englishScore = subjectScore['englishScore'];
		let koreanHistoryScore = subjectScore['koreanHistoryScore'];
		let inquiry1Score = subjectScore['inquiry1Score'];
		let inquiry2Score = subjectScore['inquiry2Score'];
		let secondLanguageAndChineseCharactersScore = subjectScore['secondLanguageAndChineseCharactersScore'];

		const updateChart = function(chartName, chartType) {
			console.log(chartName);
			chartName.config.data.datasets[0].label = `${chartType} 전국 평균`;
			chartName.config.data.datasets[1].label = `${chartType} 도 평균`;
			chartName.config.data.datasets[2].label = `${chartType} 시 평균`;
			chartName.config.data.datasets[3].label = `${chartType}`;
			if(chartType == '원점수') {
				chartName.config.data.datasets[0].data = [koreanScore?.subjectOriginalScoreNationAvg??0.0,
														  mathScore?.subjectOriginalScoreNationAvg??0.0,
														  englishScore?.subjectOriginalScoreNationAvg??0.0,
														  koreanHistoryScore?.subjectOriginalScoreNationAvg??0.0,
														  inquiry1Score?.subjectOriginalScoreNationAvg??0.0,
														  inquiry2Score?.subjectOriginalScoreNationAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectOriginalScoreNationAvg??0.0];
				chartName.config.data.datasets[1].data = [koreanScore?.subjectOriginalScoreProvinceAvg??0.0,
														  mathScore?.subjectOriginalScoreProvinceAvg??0.0,
														  englishScore?.subjectOriginalScoreProvinceAvg??0.0,
														  koreanHistoryScore?.subjectOriginalScoreProvinceAvg??0.0,
														  inquiry1Score?.subjectOriginalScoreProvinceAvg??0.0,
														  inquiry2Score?.subjectOriginalScoreProvinceAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectOriginalScoreProvinceAvg??0.0];
				chartName.config.data.datasets[2].data = [koreanScore?.subjectOriginalScoreMunicipalityAvg??0.0,
														  mathScore?.subjectOriginalScoreMunicipalityAvg??0.0,
														  englishScore?.subjectOriginalScoreMunicipalityAvg??0.0,
														  koreanHistoryScore?.subjectOriginalScoreMunicipalityAvg??0.0,
														  inquiry1Score?.subjectOriginalScoreMunicipalityAvg??0.0,
														  inquiry2Score?.subjectOriginalScoreMunicipalityAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectOriginalScoreMunicipalityAvg??0.0];
				chartName.config.data.datasets[3].data = [koreanScore?.subjectOriginalScore??0.0,
														  mathScore?.subjectOriginalScore??0.0,
														  englishScore?.subjectOriginalScore??0.0,
														  koreanHistoryScore?.subjectOriginalScore??0.0,
														  inquiry1Score?.subjectOriginalScore??0.0,
														  inquiry2Score?.subjectOriginalScore??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectOriginalScore??0.0];
				chartName.config.options.scales.y.min = 0;
				chartName.config.options.scales.y.max = 100;
				chartName.config.options.scales.y.ticks.beginAtZero = true;
				chartName.config.options.scales.y.ticks.stepSize = 10;
				chartName.config.options.scales.y.ticks.callback = value => value;
				chartName.config.options.plugins.tooltip['callbacks'] = {
					label : function(ctx) {
						let lbl = Math.round((ctx.raw)*10)/10 ?? '응시안함';
						return `${ctx.dataset.label} : ${lbl}점`;
					}
				}
			} else if(chartType == '표준점수') {
				chartName.config.data.datasets[0].data = [koreanScore?.subjectStandardScoreNationAvg??0.0,
														  mathScore?.subjectStandardScoreNationAvg??0.0,
														  englishScore?.subjectStandardScoreNationAvg??0.0,
														  koreanHistoryScore?.subjectStandardScoreNationAvg??0.0,
														  inquiry1Score?.subjectStandardScoreNationAvg??0.0,
														  inquiry2Score?.subjectStandardScoreNationAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectStandardScoreNationAvg??0.0];
				chartName.config.data.datasets[1].data = [koreanScore?.subjectStandardScoreProvinceAvg??0.0,
														  mathScore?.subjectStandardScoreProvinceAvg??0.0,
														  englishScore?.subjectStandardScoreProvinceAvg??0.0,
														  koreanHistoryScore?.subjectStandardScoreProvinceAvg??0.0,
														  inquiry1Score?.subjectStandardScoreProvinceAvg??0.0,
														  inquiry2Score?.subjectStandardScoreProvinceAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectStandardScoreProvinceAvg??0.0];
				chartName.config.data.datasets[2].data = [koreanScore?.subjectStandardScoreMunicipalityAvg??0.0,
														  mathScore?.subjectStandardScoreMunicipalityAvg??0.0,
														  englishScore?.subjectStandardScoreMunicipalityAvg??0.0,
														  koreanHistoryScore?.subjectStandardScoreMunicipalityAvg??0.0,
														  inquiry1Score?.subjectStandardScoreMunicipalityAvg??0.0,
														  inquiry2Score?.subjectStandardScoreMunicipalityAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectStandardScoreMunicipalityAvg??0.0];
				chartName.config.data.datasets[3].data = [koreanScore?.subjectStandardScore??0.0,
														  mathScore?.subjectStandardScore??0.0,
														  englishScore?.subjectStandardScore??0.0,
														  koreanHistoryScore?.subjectStandardScore??0.0,
														  inquiry1Score?.subjectStandardScore??0.0,
														  inquiry2Score?.subjectStandardScore??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectStandardScore??0.0];
				chartName.config.options.scales.y.min = 0;
				chartName.config.options.scales.y.max = 150;
				chartName.config.options.scales.y.ticks.beginAtZero = true;
				chartName.config.options.scales.y.ticks.stepSize = 10;
				chartName.config.options.scales.y.ticks.callback = value => value;
				chartName.config.options.plugins.tooltip['callbacks'] = {
					label : function(ctx) {
						let lbl = Math.round((ctx.raw)*10)/10 ?? '응시안함';
						return `${ctx.dataset.label} : ${lbl}점`;
					}
				}
			} else if(chartType == '백분위') {
				chartName.config.data.datasets[0].data = [koreanScore?.subjectPercentNationAvg??0.0,
														  mathScore?.subjectPercentNationAvg??0.0,
														  englishScore?.subjectPercentNationAvg??0.0,
														  koreanHistoryScore?.subjectPercentNationAvg??0.0,
														  inquiry1Score?.subjectPercentNationAvg??0.0,
														  inquiry2Score?.subjectPercentNationAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectPercentNationAvg??0.0];
				chartName.config.data.datasets[1].data = [koreanScore?.subjectPercentProvinceAvg??0.0,
														  mathScore?.subjectPercentProvinceAvg??0.0,
														  englishScore?.subjectPercentProvinceAvg??0.0,
														  koreanHistoryScore?.subjectPercentProvinceAvg??0.0,
														  inquiry1Score?.subjectPercentProvinceAvg??0.0,
														  inquiry2Score?.subjectPercentProvinceAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectPercentProvinceAvg??0.0];
				chartName.config.data.datasets[2].data = [koreanScore?.subjectPercentMunicipalityAvg??0.0,
														  mathScore?.subjectPercentMunicipalityAvg??0.0,
														  englishScore?.subjectPercentMunicipalityAvg??0.0,
														  koreanHistoryScore?.subjectPercentMunicipalityAvg??0.0,
														  inquiry1Score?.subjectPercentMunicipalityAvg??0.0,
														  inquiry2Score?.subjectPercentMunicipalityAvg??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectPercentMunicipalityAvg??0.0];
				chartName.config.data.datasets[3].data = [koreanScore?.subjectPercent??0.0,
														  mathScore?.subjectPercent??0.0,
														  englishScore?.subjectPercent??0.0,
														  koreanHistoryScore?.subjectPercent??0.0,
														  inquiry1Score?.subjectPercent??0.0,
														  inquiry2Score?.subjectPercent??0.0,
														  secondLanguageAndChineseCharactersScore?.subjectPercent??0.0];
				chartName.config.options.scales.y.min = 0;
				chartName.config.options.scales.y.max = 100;
				chartName.config.options.scales.y.ticks.beginAtZero = true;
				chartName.config.options.scales.y.ticks.stepSize = 10;
				chartName.config.options.scales.y.ticks.callback = value => value;
				chartName.config.options.plugins.tooltip['callbacks'] = {
					label : function(ctx) {
						let lbl = Math.round((ctx.raw)*10)/10 ?? '응시안함';
						return `${ctx.dataset.label} : ${lbl}%`;
					}
				}
			} else if(chartType == '등급') {
				chartName.config.data.datasets[0].data = [10 - (koreanScore?.subjectGradeNationAvg??9.0),
														  10 - (mathScore?.subjectGradeNationAvg??9.0),
														  10 - (englishScore?.subjectGradeNationAvg??9.0),
														  10 - (koreanHistoryScore?.subjectGradeNationAvg??9.0),
														  10 - (inquiry1Score?.subjectGradeNationAvg??9.0),
														  10 - (inquiry2Score?.subjectGradeNationAvg??9.0),
														  10 - (secondLanguageAndChineseCharactersScore?.subjectGradeNationAvg??9.0)];
				chartName.config.data.datasets[1].data = [10 - (koreanScore?.subjectGradeProvinceAvg??9.0),
														  10 - (mathScore?.subjectGradeProvinceAvg??9.0),
														  10 - (englishScore?.subjectGradeProvinceAvg??9.0),
														  10 - (koreanHistoryScore?.subjectGradeProvinceAvg??9.0),
														  10 - (inquiry1Score?.subjectGradeProvinceAvg??9.0),
														  10 - (inquiry2Score?.subjectGradeProvinceAvg??9.0),
														  10 - (secondLanguageAndChineseCharactersScore?.subjectGradeProvinceAvg??9.0)];
				chartName.config.data.datasets[2].data = [10 - (koreanScore?.subjectGradeMunicipalityAvg??9.0),
														  10 - (mathScore?.subjectGradeMunicipalityAvg??9.0),
														  10 - (englishScore?.subjectGradeMunicipalityAvg??9.0),
														  10 - (koreanHistoryScore?.subjectGradeMunicipalityAvg??9.0),
														  10 - (inquiry1Score?.subjectGradeMunicipalityAvg??9.0),
														  10 - (inquiry2Score?.subjectGradeMunicipalityAvg??9.0),
														  10 - (secondLanguageAndChineseCharactersScore?.subjectGradeMunicipalityAvg??9.0)];
				chartName.config.data.datasets[3].data = [10 - (koreanScore?.subjectGrade??9.0),
														  10 - (mathScore?.subjectGrade??9.0),
														  10 - (englishScore?.subjectGrade??9.0),
														  10 - (koreanHistoryScore?.subjectGrade??9.0),
														  10 - (inquiry1Score?.subjectGrade??9.0),
														  10 - (inquiry2Score?.subjectGrade??9.0),
														  10 - (secondLanguageAndChineseCharactersScore?.subjectGrade??9.0)];
				chartName.config.options.scales.y.min = 1;
				chartName.config.options.scales.y.max = 9;
				chartName.config.options.scales.y.ticks.beginAtZero = false;
				chartName.config.options.scales.y.ticks.stepSize = 1;
				chartName.config.options.scales.y.ticks.callback = value => (10-value);
				chartName.config.options.plugins.tooltip['callbacks'] = {
					label : function(ctx) {
						let lbl = Math.round((10-ctx.raw)*10)/10 ?? '응시안함';
						return `${ctx.dataset.label} : ${lbl}등급`;
					}
				}
			} else if(chartType == '석차') {
				chartName.config.data.datasets[0].data = [20 - (koreanScore?.subjectRankNationAvg??20),
														  20 - (mathScore?.subjectRankNationAvg??20),
														  20 - (englishScore?.subjectRankNationAvg??20),
														  20 - (koreanHistoryScore?.subjectRankNationAvg??20),
														  20 - (inquiry1Score?.subjectRankNationAvg??20),
														  20 - (inquiry2Score?.subjectRankNationAvg??20),
														  20 - (secondLanguageAndChineseCharactersScore?.subjectRankNationAvg??20)];
				chartName.config.data.datasets[1].data = [20 - (koreanScore?.subjectRankProvinceAvg??20),
														  20 - (mathScore?.subjectRankProvinceAvg??20),
														  20 - (englishScore?.subjectRankProvinceAvg??20),
														  20 - (koreanHistoryScore?.subjectRankProvinceAvg??20),
													      20 - (inquiry1Score?.subjectRankProvinceAvg??20),
														  20 - (inquiry2Score?.subjectRankProvinceAvg??20),
														  20 - (secondLanguageAndChineseCharactersScore?.subjectRankProvinceAvg??20)];
				chartName.config.data.datasets[2].data = [20 - (koreanScore?.subjectRankMunicipalityAvg??20),
														  20 - (mathScore?.subjectRankMunicipalityAvg??20),
														  20 - (englishScore?.subjectRankMunicipalityAvg??20),
														  20 - (koreanHistoryScore?.subjectRankMunicipalityAvg??20),
														  20 - (inquiry1Score?.subjectRankMunicipalityAvg??20),
														  20 - (inquiry2Score?.subjectRankMunicipalityAvg??20),
														  20 - (secondLanguageAndChineseCharactersScore?.subjectRankMunicipalityAvg??20)];
				chartName.config.data.datasets[3].data = [20 - (koreanScore?.subjectRank??20),
														  20 - (mathScore?.subjectRank??20),
														  20 - (englishScore?.subjectRank??20),
														  20 - (koreanHistoryScore?.subjectRank??20),
														  20 - (inquiry1Score?.subjectRank??20),
														  20 - (inquiry2Score?.subjectRank??20),
														  20 - (secondLanguageAndChineseCharactersScore?.subjectRank??20)];
				chartName.config.options.scales.y.min = 0;
				chartName.config.options.scales.y.max = 20;
				chartName.config.options.scales.y.ticks.beginAtZero = false;
				chartName.config.options.scales.y.ticks.stepSize = 2;
				chartName.config.options.scales.y.ticks.callback = value => (20-value);
				chartName.config.options.plugins.tooltip['callbacks'] = {
					label : function(ctx) {
						let lbl = Math.round((20-ctx.raw)*10)/10 ?? '응시안함';
						return `${ctx.dataset.label} : ${lbl}등`;
					}
				}
			}
			chartName.update();
		};
		
		$('#took-exam-select').change(function() {
			const data = $(this).find(':selected').data();
			const request = $.ajax({
										url : '/score/searchTookExamScore',
										method : 'POST',
										dataType : 'JSON',
										contentType: 'application/json',
										data : JSON.stringify(data)
									});
			request.done(function(subjectScore) {
				
				console.log(subjectScore);
				
				koreanScore = subjectScore['koreanScore'];
				mathScore = subjectScore['mathScore'];
				englishScore = subjectScore['englishScore'];
				koreanHistoryScore = subjectScore['koreanHistoryScore'];
				inquiry1Score = subjectScore['inquiry1Score'];
				inquiry2Score = subjectScore['inquiry2Score'];
				secondLanguageAndChineseCharactersScore = subjectScore['secondLanguageAndChineseCharactersScore'];
				
				// 버튼 그룹 초기화
				$('#score-analysis-div button').each((idx, ele) => $(ele).attr('id') == 'originalScoreBtn' ? $(ele).toggleClass('active', true) : $(ele).toggleClass('active', false));

				updateChart(scoreChart, '원점수');
				
				// 테이블 값 변경
				$('#koreaSelectSubject').text(koreanScore?.subjectMinorCategoryName??'');
				$('#mathSelectSubject').text(mathScore?.subjectMinorCategoryName??'');
				$('#inquiry1SelectSubject').text(inquiry1Score?.subjectMinorCategoryName??'');
				$('#inquiry2SelectSubject').text(inquiry2Score?.subjectMinorCategoryName??'');
				$('#secondLanguageAndChineseCharactersSelectSubject').text(secondLanguageAndChineseCharactersScore?.subjectMinorCategoryName??'');
				
				const $koreanHistoryTookStatusTd = $('#koreanHistoryTookStatus');
				$koreanHistoryTookStatusTd.empty();
				if(koreanHistoryScore == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$koreanHistoryTookStatusTd.append($a);
					
				} else {
					const $span = $('<span></span>').text('응시');
					$koreanHistoryTookStatusTd.append($span);
				}
				
				const $koreanTookStatusTd = $('#koreanTookStatus');
				$koreanTookStatusTd.empty();
				if(koreanScore == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$koreanTookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$koreanTookStatusTd.append($span);
				}
				
				const $mathTookStatusTd = $('#mathTookStatus');
				$mathTookStatusTd.empty();
				if(mathScore == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$mathTookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$mathTookStatusTd.append($span);
				}
				
				const $englishTookStatusTd = $('#englishTookStatus');
				$englishTookStatusTd.empty();
				if(englishScore == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$englishTookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$englishTookStatusTd.append($span);
				}
				
				const $inquiry1TookStatusTd = $('#inquiry1TookStatus');
				$inquiry1TookStatusTd.empty();
				if(inquiry1Score == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$inquiry1TookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$inquiry1TookStatusTd.append($span);
				}
				
				const $inquiry2TookStatusTd = $('#inquiry2TookStatus');
				$inquiry2TookStatusTd.empty();
				if(inquiry2Score == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					$inquiry2TookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$inquiry2TookStatusTd.append($span);
				}
				
				const $secondLanguageAndChineseCharactersTookStatusTd = $('#secondLanguageAndChineseCharactersTookStatus');
				$secondLanguageAndChineseCharactersTookStatusTd.empty();
				if(secondLanguageAndChineseCharactersScore == null) {
					const $a = $('<a></a>', {'href':`/exam/examList`}).text('미응시');
					
					$secondLanguageAndChineseCharactersTookStatusTd.append($a);
				} else {
					const $span = $('<span></span>').text('응시');
					$secondLanguageAndChineseCharactersTookStatusTd.append($span);
				}
				
				$('#koreanHistoryOriginalScore').text(koreanHistoryScore?.subjectOriginalScore??'');
				$('#koreanOriginalScore').text(koreanScore?.subjectOriginalScore??'');
				$('#mathOriginalScore').text(mathScore?.subjectOriginalScore??'');
				$('#englishOriginalScore').text(englishScore?.subjectOriginalScore??'');
				$('#inquiry1OriginalScore').text(inquiry1Score?.subjectOriginalScore??'');
				$('#inquiry2OriginalScore').text(inquiry2Score?.subjectOriginalScore??'');
				$('#secondLanguageAndChineseCharactersOriginalScore').text(secondLanguageAndChineseCharactersScore?.subjectOriginalScore??'');
				
				$('#koreanStandardScore').text(koreanScore?.subjectStandardScore??'');
				$('#mathStandardScore').text(mathScore?.subjectStandardScore??'');
				$('#inquiry1StandardScore').text(inquiry1Score?.subjectStandardScore??'');
				$('#inquiry2StandardScore').text(inquiry2Score?.subjectStandardScore??'');
				
				$('#koreanPercent').text(koreanScore?.subjectPercent??'');
				$('#mathPercent').text(mathScore?.subjectPercent??'');
				$('#inquiry1Percent').text(inquiry1Score?.subjectPercent??'');
				$('#inquiry2Percent').text(inquiry2Score?.subjectPercent??'');
			
				$('#koreanHistoryRank').text(koreanHistoryScore?.subjectRank??'');
				$('#koreanRank').text(koreanScore?.subjectRank??'');
				$('#mathRank').text(mathScore?.subjectRank??'');
				$('#englishRank').text(englishScore?.subjectRank??'');
				$('#inquiry1Rank').text(inquiry1Score?.subjectRank??'');
				$('#inquiry2Rank').text(inquiry2Score?.subjectRank??'');
				$('#secondLanguageAndChineseCharactersRank').text(secondLanguageAndChineseCharactersScore?.subjectRank??'');
				
				$('#koreanHistoryGrade').text(koreanHistoryScore?.subjectGrade??'');
				$('#koreanGrade').text(koreanScore?.subjectGrade??'');
				$('#mathGrade').text(mathScore?.subjectGrade??'');
				$('#englishGrade').text(englishScore?.subjectGrade??'');
				$('#inquiry1Grade').text(inquiry1Score?.subjectGrade??'');
				$('#inquiry2Grade').text(inquiry2Score?.subjectGrade??'');
				$('#secondLanguageAndChineseCharactersGrade').text(secondLanguageAndChineseCharactersScore?.subjectGrade??'');
				
			});
			request.fail(function(jqXHR, textStatus, error){
				console.log(error);
			});
		});
		
		$('.score-btn').click(function(e) {
			$('.score-btn').each((idx, ele) => $(ele).toggleClass('active', ele == this));
			if($(e.target).attr('id') == 'originalScoreBtn') {
				updateChart(scoreChart, '원점수');
			} else if($(e.target).attr('id') == 'standardScoreBtn') {
				updateChart(scoreChart, '표준점수');
			} else if($(e.target).attr('id') == 'percentBtn') {
				updateChart(scoreChart, '백분위');
			} else if($(e.target).attr('id') == 'gradeBtn') {
				updateChart(scoreChart, '등급');
			} else if($(e.target).attr('id') == 'rankBtn') {
				updateChart(scoreChart, '석차');
			}
		});
		
		
		
		const ctx = document.getElementById('scoreChart').getContext('2d');
		const data = {
			labels : [ '국어', '수학', '영어', '한국사', '탐구1', '탐구2', '제2외국어 및 한문' ],
			datasets : [
			{
				label : '원점수 전국 평균',
				data : [koreanScore == null ? 0.0 : koreanScore.subjectOriginalScoreNationAvg,
						mathScore == null ? 0.0 : mathScore.subjectOriginalScoreNationAvg,
						englishScore == null ? 0.0 : englishScore.subjectOriginalScoreNationAvg,
						koreanHistoryScore == null ? 0.0 : koreanHistoryScore.subjectOriginalScoreNationAvg,
						inquiry1Score == null ? 0.0 : inquiry1Score.subjectOriginalScoreNationAvg,
						inquiry2Score == null ? 0.0 : inquiry2Score.subjectOriginalScoreNationAvg,
						secondLanguageAndChineseCharactersScore == null ? 0.0 : secondLanguageAndChineseCharactersScore.subjectOriginalScoreNationAvg],
						 
				backgroundColor: 'rgba(198, 93, 143, 1)',
				borderColor: 'rgba(198, 93, 143, 1)',
				borderWidth: 1.5,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '원점수 도 평균',
				data : [koreanScore == null ? 0.0 : koreanScore.subjectOriginalScoreProvinceAvg,
						mathScore == null ? 0.0 : mathScore.subjectOriginalScoreProvinceAvg,
						englishScore == null ? 0.0 : englishScore.subjectOriginalScoreProvinceAvg,
						koreanHistoryScore == null ? 0.0 : koreanHistoryScore.subjectOriginalScoreProvinceAvg,
						inquiry1Score == null ? 0.0 : inquiry1Score.subjectOriginalScoreProvinceAvg,
						inquiry2Score == null ? 0.0 : inquiry2Score.subjectOriginalScoreProvinceAvg,
						secondLanguageAndChineseCharactersScore == null ? 0.0 : secondLanguageAndChineseCharactersScore.subjectOriginalScoreProvinceAvg],
						 
				backgroundColor: 'rgba(84, 127, 214, 1)',
				borderColor: 'rgba(84, 127, 214, 1)',
				borderWidth: 1.5,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '원점수 시 평균',
				data : [koreanScore == null ? 0.0 : koreanScore.subjectOriginalScoreMunicipalityAvg,
						mathScore == null ? 0.0 : mathScore.subjectOriginalScoreMunicipalityAvg,
						englishScore == null ? 0.0 : englishScore.subjectOriginalScoreMunicipalityAvg,
						koreanHistoryScore == null ? 0.0 : koreanHistoryScore.subjectOriginalScoreMunicipalityAvg,
						inquiry1Score == null ? 0.0 : inquiry1Score.subjectOriginalScoreMunicipalityAvg,
						inquiry2Score == null ? 0.0 : inquiry2Score.subjectOriginalScoreMunicipalityAvg,
						secondLanguageAndChineseCharactersScore == null ? 0.0 : secondLanguageAndChineseCharactersScore.subjectOriginalScoreMunicipalityAvg],
						 
				backgroundColor: 'rgba(70, 134, 184, 1)',
				borderColor: 'rgba(70, 134, 184, 1)',
				borderWidth: 1.5,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '원점수',
				data : [koreanScore == null ? 0.0 : koreanScore.subjectOriginalScore,
						mathScore == null ? 0.0 : mathScore.subjectOriginalScore,
						englishScore == null ? 0.0 : englishScore.subjectOriginalScore,
						koreanHistoryScore == null ? 0.0 : koreanHistoryScore.subjectOriginalScore,
						inquiry1Score == null ? 0.0 : inquiry1Score.subjectOriginalScore,
						inquiry2Score == null ? 0.0 : inquiry2Score.subjectOriginalScore,
						secondLanguageAndChineseCharactersScore == null ? 0.0 : secondLanguageAndChineseCharactersScore.subjectOriginalScore],
								 
				barThickness : 50,
						 
				backgroundColor: ['rgba(255, 173, 173, 0.75)',
					              'rgba(255, 214, 165, 0.75)',
					              'rgba(253, 255, 182, 0.75)',
					              'rgba(202, 255, 191, 0.75)',
					              'rgba(155, 246, 255, 0.75)',
					              'rgba(160, 196, 255, 0.75)',
					              'rgba(189, 178, 255, 0.75)'],
				borderColor: ['rgba(255, 173, 173, 1)',
				              'rgba(255, 214, 165, 1)',
				              'rgba(253, 255, 182, 1)',
				              'rgba(202, 255, 191, 1)',
				              'rgba(155, 246, 255, 1)',
				              'rgba(160, 196, 255, 1)',
				              'rgba(189, 178, 255, 1)'],
				borderWidth: 1
			}]
		};

		const config = {
			type : 'bar',
			data : data,
			options : {
				scales : {
					y : {
						beginAtZero : true,
						max : 100
					}
				},
				plugins : {
					legend : {
						position : 'top',
					},
					tooltip : {
						mode : 'index',
						intersect : false,
					}
				},
				responsive : true,
				maintainAspectRatio : false
			}
		};

		const scoreChart = new Chart(ctx, config);
	</script>
</th:block>
<div layout:fragment="content" id="momoDefault">
	<ul>
		<!-- Product Section Begin -->
		<section class="product spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="sidebar">
							<div class="sidebar__item">
								<h4>성적관리</h4>
								<h5>모의고사 성적 개요</h5>
								<ul>
									<li><a th:href="@{examAllOriginalScore}">모의고사 원점수 조회</a></li>
									<li><a th:href="@{examAllStandardScore}">모의고사 표준점수 조회</a></li>
									<li><a th:href="@{examAllPercentScore}">모의고사 백분위 조회</a></li>
									<li><a th:href="@{examAllGradeScore}">모의고사 등급 조회</a></li>
									<li><a th:href="@{examAllRank}">모의고사 석차 조회</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-7">
						<div id="took-exam-div">
							<strong>최근 응시하신&nbsp</strong>
							<select id="took-exam-select">
								<option th:each="l : ${tookExamList}" 
										th:data-area-city-code="${l.areaCityCode}"
										th:data-exam-code="${l.examCode}"
										th:data-took-exam-info-code="${l.tookExamInfoCode}"
										th:text="${l.examInfo.examNm}"></option>
							</select>
							<strong>의 점수입니다.</strong>
						</div>
						<div id="score-analysis-div">
							<ul id="scoreCatBtnDiv" class="nav nav-tabs">
							  <li class="nav-item score-li">
							    <button id="originalScoreBtn" class="nav-link score-btn active">원점수</button>
							  </li>
							  <li class="nav-item score-li">
							    <button id="standardScoreBtn" class="nav-link score-btn">표준점수</button>
							  </li>
							  <li class="nav-item score-li">
							    <button id="percentBtn" class="nav-link score-btn">백분위</button>
							  </li>
							  <li class="nav-item score-li">
							    <button id="gradeBtn" class="nav-link score-btn">등급</button>
							  </li>
							  <li class="nav-item score-li">
							    <button id="rankBtn" class="nav-link score-btn">석차</button>
							  </li>
							</ul>
							<div id="score-cat-chart-div">
								<canvas id="scoreChart" width="800" height="400px"	max-height="400px"></canvas>
							</div>
						</div>
						<div id="score-card-div">
							<table th:object="${subjectScoreMap}">
								<thead>
									<tr>
										<th>수험번호</th>
										<th colspan="2">성 명</th>
										<th>생년월일</th>
										<th>성별</th>
										<th colspan="3">출신고교(반 또는 졸업년도)</th>
									</tr>
									<tr>
										<th>12345678</th>
										<th colspan="2" th:text="${user.userName}"></th>
										<th th:text="${formattedUserBirthDate}"></th>
										<th th:text="${user.userGender}"></th>
										<th colspan="3">한수정고등학교</th>
									</tr>
								<thead>
								<tbody>
									<tr class="report-card-subject-tr">
										<td>영역</td>
										<td>한국사</td>
										<td>국어</td>
										<td>수학</td>
										<td>영어</td>
										<td colspan="2">탐구</td>
										<td>제2외국어/<br>한문
										</td>
									</tr>
									<tr class="report-card-subject-tr">
										<td>응시여부</td>
										<td id="koreanHistoryTookStatus">
											<span class="subject-took-status-span" th:if="*{['koreanHistoryScore'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['koreanHistoryScore'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="koreanTookStatus">
											<span class="subject-took-status-span" th:if="*{['koreanScore'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['koreanScore'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="mathTookStatus">
											<span class="subject-took-status-span" th:if="*{['mathScore'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['mathScore'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="englishTookStatus">
											<span class="subject-took-status-span" th:if="*{['englishScore'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['englishScore'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="inquiry1TookStatus">
											<span class="subject-took-status-span" th:if="*{['inquiry1Score'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['inquiry1Score'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="inquiry2TookStatus">
											<span class="subject-took-status-span" th:if="*{['inquiry2Score'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['inquiry2Score'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
										<td id="secondLanguageAndChineseCharactersTookStatus">
											<span class="subject-took-status-span" th:if="*{['secondLanguageAndChineseCharactersScore'] != null}">응시</span>
											<a class="subject-took-status-a" th:unless="*{['secondLanguageAndChineseCharactersScore'] != null}" th:href="@{/exam/examList}">미응시</a>
										</td>
									</tr>									
									<tr class="report-card-subject-tr">
										<td>선택과목</td>
										<td class="report-card-empty-row"></td>
										<td id="koreanSelectSubject" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectMinorCategoryName} : ''"></td>
										<td id="mathSelectSubject" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectMinorCategoryName} : ''"></td>
										<td class="report-card-empty-row"></td>
										<td id="inquiry1SelectSubject" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectMinorCategoryName} : ''"></td>
										<td id="inquiry2SelectSubject" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectMinorCategoryName} : ''"></td>
										<td id="secondLanguageAndChineseCharactersSelectSubject" th:text="*{['secondLanguageAndChineseCharactersScore']} != null ? *{['secondLanguageAndChineseCharactersScore'].subjectMinorCategoryName} : ''"></td>
									</tr>
									<tr>
										<td>원점수</td>
										<td id="koreanHistoryOriginalScore" th:text="*{['koreanHistoryScore']} != null ? *{['koreanHistoryScore'].subjectOriginalScore} : ''"></td>
										<td id="koreanOriginalScore" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectOriginalScore} : ''"></td>
										<td id="mathOriginalScore" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectOriginalScore} : ''"></td>
										<td id="englishOriginalScore" th:text="*{['englishScore']} != null ? *{['englishScore'].subjectOriginalScore} : ''"></td>
										<td id="inquiry1OriginalScore" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectOriginalScore} : ''"></td>
										<td id="inquiry2OriginalScore" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectOriginalScore} : ''"></td>
										<td id="secondLanguageAndChineseCharactersOriginalScore" th:text="*{['secondLanguageAndChineseCharactersScore']} != null ? *{['secondLanguageAndChineseCharactersScore'].subjectOriginalScore} : ''"></td>
									</tr>
									<tr>
										<td>표준점수</td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td	id="koreanStandardScore" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectStandardScore} : ''"></td>
										<td id="mathStandardScore" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectStandardScore} : ''"></td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td id="inquiry1StandardScore" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectStandardScore} : ''"></td>
										<td id="inquiry2StandardScore" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectStandardScore} : ''"></td>
										<td rowspan="2" class="report-card-empty-row"></td>
									</tr>
									<tr>
										<td>백분위</td>
										<td id="koreanPercent" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectPercent} : ''"></td>
										<td id="mathPercent" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectPercent} : ''"></td>
										<td id="inquiry1Percent" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectPercent} : ''"></td>
										<td id="inquiry2Percent" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectPercent} : ''"></td>
									</tr>
									<tr>
										<td>석차</td>
										<td id="koreanHistoryRank" th:text="*{['koreanHistoryScore']} != null ? *{['koreanHistoryScore'].subjectRank} : ''"></td>
										<td id="koreanRank" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectRank} : ''"></td>
										<td id="mathRank" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectRank} : ''"></td>
										<td id="englishRank" th:text="*{['englishScore']} != null ? *{['englishScore'].subjectRank} : ''"></td>
										<td id="inquiry1Rank" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectRank} : ''"></td>
										<td id="inquiry2Rank" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectRank} : ''"></td>
										<td id="secondLanguageAndChineseCharactersRank" th:text="*{['secondLanguageAndChineseCharactersScore']} != null ? *{['secondLanguageAndChineseCharactersScore'].subjectRank} : ''"></td>
									</tr>
									<tr>
										<td>등급</td>
										<td id="koreanHistoryGrade" th:text="*{['koreanHistoryScore']} != null ? *{['koreanHistoryScore'].subjectGrade} : ''"></td>
										<td id="koreanGrade" th:text="*{['koreanScore']} != null ? *{['koreanScore'].subjectGrade} : ''"></td>
										<td id="mathGrade" th:text="*{['mathScore']} != null ? *{['mathScore'].subjectGrade} : ''"></td>
										<td id="englishGrade" th:text="*{['englishScore']} != null ? *{['englishScore'].subjectGrade} : ''"></td>
										<td id="inquiry1Grade" th:text="*{['inquiry1Score']} != null ? *{['inquiry1Score'].subjectGrade} : ''"></td>
										<td id="inquiry2Grade" th:text="*{['inquiry2Score']} != null ? *{['inquiry2Score'].subjectGrade} : ''"></td>
										<td id="secondLanguageAndChineseCharactersGrade" th:text="*{['secondLanguageAndChineseCharactersScore']} != null ? *{['secondLanguageAndChineseCharactersScore'].subjectGrade} : ''"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ul>
</div>

</html>