<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" type="text/css" href="/user/css/score/score.css" />
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">
		const examScore = [[${examScore}]];
		let koreanScore = examScore.koreanScore;
		let mathScore = examScore.mathScore;
		let englishScore = examScore.englishScore;
		let koreanHistoryScore = examScore.koreanHistoryScore;
		let inquiry1Score = examScore.inquiry1Score;
		let inquiry2Score = examScore.inquiry2Score;
		let frnScore = examScore.secondLanguageAndChineseCharactersScore;
		$('#took-exam-select').change(function() {
			const val = $(this).val();
			const request = $.ajax({
										url : '/score/searchTookExamScore',
										method : 'POST',
										dataType : 'JSON',
										data : {
													tookExamInfoCode : val
												}
									});
			request.done(function(data) {
				koreanScore = data.koreanScore;
				mathScore = data.mathScore;
				englishScore = data.englishScore;
				koreanHistoryScore = data.koreanHistoryScore;
				inquiry1Score = data.inquiry1Score;
				inquiry2Score = data.inquiry2Score;
				frnScore = data.secondLanguageAndChineseCharactersScore;
				$('#korean-select-subject').text(`${data.koreanScore.subjectMinorCategory.subMirCatNm}`);
				$('#math-select-subject').text(`${data.mathScore.subjectMinorCategory.subMirCatNm}`);
				$('#inquiry1-select-subject').text(`${data.inquiry1Score.subjectMinorCategory.subMirCatNm}`);
				$('#inquiry2-select-subject').text(`${data.inquiry2Score.subjectMinorCategory.subMirCatNm}`);
				// null error
				$('#second-language-and-chinese-characters-select-subject').text(`${data.secondLanguageAndChineseCharactersScore.subjectMinorCategory.subMirCatNm}`);
				
				$('#korean-history-original-score').text(`${data.koreanHistoryScore.subjectScore.subjectScoreOrigin}`);
				$('#korean-original-score').text(`${data.koreanScore.subjectScore.subjectScoreOrigin}`);
				$('#math-original-score').text(`${data.mathScore.subjectScore.subjectScoreOrigin}`);
				$('#english-original-score').text(`${data.englishScore.subjectScore.subjectScoreOrigin}`);
				$('#inquiry1-original-score').text(`${data.inquiry1Score.subjectScore.subjectScoreOrigin}`);
				$('#inquiry2-original-score').text(`${data.inquiry2Score.subjectScore.subjectScoreOrigin}`);
				$('#second-language-and-chinese-characters-original-score').text(`${data.secondLanguageAndChineseCharactersScore.subjectScore.subjectScoreOrigin}`);
				$('#korean-history-rank').text(`${data.koreanHistoryScore.korHisRanking}`);
				$('#korean-history-grade').text(`${data.koreanHistoryScore.korHisGrd}`);
			});
			request.fail(function(jqXHR, textStatus, error){
				console.log(error);
			});
		});
		
		const ctx = document.getElementById('scoreChart').getContext('2d');
		const data = {
			labels : [ '국어', '수학', '영어', '한국사', '탐구1', '탐구2', '제2외국어 및 한문' ],
			datasets : [
			{
				label : '전국 평균',
				data : [50.8,
						 20,
						 30,
						 40,
						 50,
						 60,
						 0],
						 
				backgroundColor: 'rgba(198, 93, 143, 1)',
				borderColor: 'rgba(198, 93, 143, 1)',
				borderWidth: 2,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '도 평균',
				data : [60.8,
						 10,
						 40,
						 30,
						 60,
						 50,
						 0],
						 
				backgroundColor: 'rgba(84, 127, 214, 1)',
				borderColor: 'rgba(84, 127, 214, 1)',
				borderWidth: 2,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '시 평균',
				data : [65.8,
						 15,
						 45,
						 35,
						 65,
						 55,
						 10],
						 
				backgroundColor: 'rgba(70, 134, 184, 1)',
				borderColor: 'rgba(70, 134, 184, 1)',
				borderWidth: 2,
				tension: 0.25,
				fill: false,
				type: 'line'
			},
			{
				label : '원점수',
				data : [`${koreanScore.subjectScore.subjectScoreOrigin}`,
						`${mathScore.subjectScore.subjectScoreOrigin}`,
						`${englishScore.subjectScore.subjectScoreOrigin}`,
						`${koreanHistoryScore.subjectScore.subjectScoreOrigin}`,
						`${inquiry1Score.subjectScore.subjectScoreOrigin}`,
						`${inquiry2Score.subjectScore.subjectScoreOrigin}`,
						0],
						 
				backgroundColor: ['rgba(255, 173, 173, 0.75)',
					              'rgba(255, 214, 165, 0.75)',
					              'rgba(253, 255, 182, 0.75)',
					              'rgba(202, 255, 191, 0.75)',
					              'rgba(155, 246, 255, 0.75)',
					              'rgba(160, 196, 255, 0.75)',
					              'rgba(189, 178, 255, 0.75)'],
				borderColor: ['rgba(255, 173, 173, 1)',
				              'rgba(255, 214, 165, 1)',
				              'rgba(253, 255, 182, 1)',
				              'rgba(202, 255, 191, 1)',
				              'rgba(155, 246, 255, 1)',
				              'rgba(160, 196, 255, 1)',
				              'rgba(189, 178, 255, 1)'],
				borderWidth: 1
			}]
		};

		const config = {
			type : 'bar',
			data : data,
			options : {
				scales : {
					y : {
						beginAtZero : true,
						max : 100
					}
				},
				plugins : {
					legend : {
						position : 'top',
					},
					tooltip : {
						mode : 'index',
						intersect : false,
					}
				},
				responsive : true,
				maintainAspectRatio : false
			}
		};

		const scoreChart = new Chart(ctx, config);
	</script>
</th:block>
<div layout:fragment="content" id="momoDefault">
	<ul>
		<!-- Product Section Begin -->
		<section class="product spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="sidebar">
							<div class="sidebar__item">
								<h4>성적관리</h4>
								<h5>모의고사 성적 개요</h5>
								<ul>
									<li><a th:href="@{examAllOriginalScore}">모의고사 원점수 조회</a></li>
									<li><a th:href="@{examAllStandardScore}">모의고사 표준점수 조회</a></li>
									<li><a th:href="@{examAllPercentScore}">모의고사 백분위 조회</a></li>
									<li><a th:href="@{examAllGradeScore}">모의고사 등급 조회</a></li>
									<li><a th:href="@{examAllRank}">모의고사 석차 조회</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-7">
						<div id="took-exam-div">
							<strong>최근 응시하신&nbsp</strong>
							<select id="took-exam-select">
								<option th:each="l : ${tookExamList}" th:value="${l.tookExamInfoCode}" th:text="${l.examInfo.examNm}"></option>
							</select>
							<strong>의 점수입니다.</strong>
						</div>
						<div id="score-analysis-div">
							<div id="score-cat-button-div">
								<button class="score-btn">원점수</button>
								<button class="score-btn">표준점수</button>
								<button class="score-btn">백분위</button>
								<button class="score-btn">등급</button>
								<button class="score-btn">석차</button>
							</div>
							<div id="score-cat-chart-div">
								<canvas id="scoreChart" width="800" height="400px"
									max-height="400px"></canvas>
							</div>
						</div>
						<div id="score-card-div">
							<table>
								<thead>
									<tr>
										<th>수험번호</th>
										<th colspan="2">성 명</th>
										<th>생년월일</th>
										<th>성별</th>
										<th colspan="3">출신고교(반 또는 졸업년도)</th>
									</tr>
									<tr>
										<th>12345678</th>
										<th colspan="2" th:text="${user.userName}"></th>
										<th th:text="${formattedUserBirthDate}"></th>
										<th th:text="${user.userGender}"></th>
										<th colspan="3">한수정고등학교</th>
									</tr>
								<thead>
								<tbody>
									<tr class="report-card-subject-tr">
										<td>영역</td>
										<td>한국사</td>
										<td>국어</td>
										<td>수학</td>
										<td>영어</td>
										<td colspan="2">탐구</td>
										<td>제2외국어/<br>한문
										</td>
									</tr>
									<tr class="report-card-subject-tr">
										<td>응시여부</td>
										<td>응시</td>
										<td>응시</td>
										<td>응시</td>
										<td>응시</td>
										<td>응시</td>
										<td>응시</td>
										<td th:if="examScore.secondLanguageAndChineseCharactersScore == null">미응시</td>
										<td th:unless="examScore.secondLanguageAndChineseCharactersScore == null">응시</td>
									</tr>									
									<tr class="report-card-subject-tr">
										<td>선택과목</td>
										<td class="report-card-empty-row"></td>
										<td id="korean-select-subject" th:text="${examScore.koreanScore != null ? examScore.koreanScore.subjectMinorCategory.subMirCatNm : ''}"></td>
										<td id="math-select-subject" th:text="${examScore.mathScore != null ? examScore.mathScore.subjectMinorCategory.subMirCatNm : ''}"></td>
										<td class="report-card-empty-row"></td>
										<td id="inquiry1-select-subject" th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.subjectMinorCategory.subMirCatNm : ''}"></td>
										<td id="inquiry2-select-subject" th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.subjectMinorCategory.subMirCatNm : ''}"></td>
										<td id="second-language-and-chinese-characters-select-subject" th:text="${examScore.secondLanguageAndChineseCharactersScore != null ? examScore.secondLanguageAndChineseCharactersScore.subjectMinorCategory.subMirCatNm : ''}"></td>
									</tr>
									<tr>
										<td>원점수</td>
										<td id="korean-history-original-score" th:text="${examScore.koreanHistoryScore != null ? examScore.koreanHistoryScore.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="korean-original-score" th:text="${examScore.koreanScore != null ? examScore.koreanScore.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="math-original-score" th:text="${examScore.mathScore != null ? examScore.mathScore.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="english-original-score" th:text="${examScore.englishScore != null ? examScore.englishScore.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="inquiry1-original-score" th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="inquiry2-original-score" th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.subjectScore.subjectScoreOrigin : ''}"></td>
										<td id="second-language-and-chinese-characters-original-score" th:text="${examScore.secondLanguageAndChineseCharactersScore != null ? examScore.secondLanguageAndChineseCharactersScore.subjectScore.subjectScoreOrigin : ''}"></td>
									</tr>
									<tr>
										<td>표준점수</td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td
											th:text="${examScore.koreanScore != null ? examScore.koreanScore.korStdScr : ''}"></td>
										<td th:text="${examScore.mathScore != null ? examScore.mathScore.mathStdScr : ''}"></td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td
											th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.inq1StdScr : ''}"></td>
										<td
											th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.inq2StdScr : ''}"></td>
										<td rowspan="2" class="report-card-empty-row"></td>
									</tr>
									<tr>
										<td>백분위</td>
										<td th:text="${examScore.koreanScore != null ? examScore.koreanScore.korPct : ''}"></td>
										<td th:text="${examScore.mathScore != null ? examScore.mathScore.mathPct : ''}"></td>
										<td
											th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.inq1Pct : ''}"></td>
										<td
											th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.inq2Pct : ''}"></td>
									</tr>
									<tr>
										<td>석차</td>
										<td id="korean-history-rank"
											th:text="${examScore.koreanHistoryScore != null ? examScore.koreanHistoryScore.korHisRanking : ''}"></td>
										<td
											th:text="${examScore.koreanScore != null ? examScore.koreanScore.korRanking : ''}"></td>
										<td
											th:text="${examScore.mathScore != null ? examScore.mathScore.mathRanking : ''}"></td>
										<td
											th:text="${examScore.englishScore != null ? examScore.englishScore.engRanking : ''}"></td>
										<td
											th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.inq1Ranking : ''}"></td>
										<td
											th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.inq2Ranking : ''}"></td>
										<td
											th:text="${examScore.secondLanguageAndChineseCharactersScore != null ? examScore.secondLanguageAndChineseCharactersScore.frnRanking : ''}"></td>
									</tr>
									<tr>
										<td>등급</td>
										<td id="korean-history-grade"
											th:text="${examScore.koreanHistoryScore != null ? examScore.koreanHistoryScore.korHisGrd : ''}"></td>
										<td th:text="${examScore.koreanScore != null ? examScore.koreanScore.korGrd : ''}"></td>
										<td th:text="${examScore.mathScore != null ? examScore.mathScore.mathGrd : ''}"></td>
										<td
											th:text="${examScore.englishScore != null ? examScore.englishScore.engGrd : ''}"></td>
										<td
											th:text="${examScore.inquiry1Score != null ? examScore.inquiry1Score.inq1Grd : ''}"></td>
										<td
											th:text="${examScore.inquiry2Score != null ? examScore.inquiry2Score.inq2Grd : ''}"></td>
										<td>hh</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ul>
</div>

</html>