<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>

<style>
table {
	border: 2px solid;
	text-align: center;
	width: 100%;
}

thead, tbody, tr, th, td {
	border: 1px solid;
}

td {
	width: 12.5%;
}

tr {
	height: 40px;
}

.report-card-subject-tr {
	height: 80px;
}

.report-card-empty-row {
	background-color: rgba(33, 37, 41, 0.25);
}

#momoDefault .sidebar__item ul li a:hover {
	color: red;
}
</style>
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script>
		const ctx = document.getElementById('scoreChart').getContext('2d');

		const data = {
			labels: ['국어', '수학', '영어', '한국사', '탐구1', '탐구2', '제2외국어 및 한문'],
			datasets: [{
				label: '원점수',
				data: [58, 19, 44, 49, 10, 21, 28],
				backgroundColor: 'rgba(220, 53, 69, 0.5)',
				borderColor: 'rgba(220, 53, 69, 1)',
				borderWidth: 1
			}, {
				label: '표준점수',
				data: [95, 69, 0, 0, 100, 100, 0],
				backgroundColor: 'rgba(253, 126, 20, 0.5)',
				borderColor: 'rgba(253, 126, 20, 1)',
				borderWidth: 1
			}, {
				label: '백분위',
				data: [45, 13, 0, 0, 50, 50, 0],
				backgroundColor: 'rgba(255, 193, 7, 0.5)',
				borderColor: 'rgba(255, 193, 7, 1)',
				borderWidth: 1
			}, {
				label: '등급',
				data: [5, 6, 6, 1, 1, 1, 5],
				backgroundColor: 'rgba(40, 167, 69, 0.5)',
				borderColor: 'rgba(40, 167, 69, 1)',
				borderWidth: 1
			}, {
				label: '석차',
				data: [6, 4, 8, 1, 1, 1, 1],
				backgroundColor: 'rgba(0, 123, 255, 0.5)',
				borderColor: 'rgba(0, 123, 255, 1)',
				borderWidth: 1
			}]
		};

		const config = {
			type: 'bar',
			data: data,
			options: {
				scales: {
					y: {
						beginAtZero: true,
						max: 100
					}
				},
				plugins: {
					legend: {
						position: 'top',
					},
					tooltip: {
						mode: 'index',
						intersect: false,
					}
				},
				responsive: true,
				maintainAspectRatio: false
			}
		};

		const scoreChart = new Chart(ctx, config);
	</script>
</th:block>
<div layout:fragment="content" id="momoDefault">
	<ul>
		<!-- Product Section Begin -->
		<section class="product spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="sidebar">
							<div class="sidebar__item">
								<h4>성적관리</h4>
								<ul>
									<li><a th:href="@{examAllOriginalScore}">모의고사 원점수 조회</a></li>
									<li><a th:href="@{examAllStandardScore}">모의고사 표준점수 조회</a></li>
									<li><a th:href="@{examAllPercentScore}">모의고사 백분위 조회</a></li>
									<li><a th:href="@{examAllGradeScore}">모의고사 등급 조회</a></li>
									<li><a th:href="@{examAllRank}">모의고사 석차 조회</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-7">
						<div>
							<select>
								<option>2024년 9월 모의고사</option>
								<option>2024년 8월 모의고사</option>
								<option>2024년 7월 모의고사</option>
								<option>2024년 6월 모의고사</option>
								<option>2024년 5월 모의고사</option>
							</select>
						</div>
						<div>
							<p>최근 응시하신 2024년 9월 모의고사의 점수입니다.</p>
						</div>
						<div>
							<canvas id="scoreChart" width="800" height="400px"
								max-height="400px"></canvas>
						</div>
						<div>
							<table>
								<thead>
									<tr>
										<th>수험번호</th>
										<th colspan="2">성 명</th>
										<th>생년월일</th>
										<th>성별</th>
										<th colspan="3">출신고교(반 또는 졸업년도)</th>
									</tr>
									<tr>
										<th>12345678</th>
										<th colspan="2">이지은</th>
										<th>93.05.16</th>
										<th>여</th>
										<th colspan="3">한수정고등학교(2)</th>
									</tr>
								<thead>
								<tbody>
									<tr class="report-card-subject-tr">
										<td>영역</td>
										<td>한국사</td>
										<td>국어</td>
										<td>수학</td>
										<td>영어</td>
										<td colspan="2">탐구</td>
										<td>제2외국어/<br>한문
										</td>
									</tr>
									<tr class="report-card-subject-tr">
										<td>선택과목</td>
										<td class="report-card-empty-row"></td>
										<td>언어와 매체</td>
										<td>미적분</td>
										<td class="report-card-empty-row"></td>
										<td>사회·문화</td>
										<td>생명과학I</td>
										<td>한문I</td>
									</tr>
									<tr>
										<td>원점수</td>
										<td>49</td>
										<td>58</td>
										<td>19</td>
										<td>44</td>
										<td>10</td>
										<td>21</td>
										<td>28</td>
									</tr>
									<tr>
										<td>표준점수</td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td>95</td>
										<td>69</td>
										<td rowspan="2" class="report-card-empty-row"></td>
										<td>100</td>
										<td>100</td>
										<td rowspan="2" class="report-card-empty-row"></td>
									</tr>
									<tr>
										<td>백분위</td>
										<td>45</td>
										<td>13</td>
										<td>50</td>
										<td>50</td>
									</tr>
									<tr>
										<td>석차</td>
										<td>1</td>
										<td>6</td>
										<td>4</td>
										<td>8</td>
										<td>1</td>
										<td>1</td>
										<td>1</td>
									</tr>
									<tr>
										<td>등급</td>
										<td>1</td>
										<td>5</td>
										<td>6</td>
										<td>6</td>
										<td>1</td>
										<td>1</td>
										<td>5</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</section>
	</ul>
</div>

</html>