<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team01.admin.exam.mapper.AdminExamMapper">
	<resultMap type="SubMirCate" id="SubMirCateMap">
		<id column="sub_mir_cat_code" property="subMirCatCode"></id>
		<result column="sub_mjr_cat_code" property="subMjrCatCode"></result>
		<result column="sub_mir_cat_nm" property="subMirCatNm"></result>
		<result column="comm_slt" property="commSlt"></result>
		<result column="cur_exam_user_state" property="curExamUserState"></result>
		<result column="sub_mjr_cat_nm" property="subMjrName"></result>
		
		<association javaType="SubMjrCate" property="subMjrCate" >
			<id 	column="sub_mjr_cat_code" 		property="subMjrCatCode"/>
			<result column="sub_mjr_cat_nm" 	property="subMjrCatNm" />
			<result column="sub_exam_time" 	property="subExamTime" />
			<result column="sub_exam_order" 	property="subExamOrder" />
			<result column="sub_qst_num" 	property="subQstNum" />
			<result column="sub_qst_total_scr" 	property="subQstTotalScr" />
			<result column="cur_exam_user_state" 	property="curExamUserState" />
	
		</association>
	</resultMap>

	<select id="getAdminExamCategoryList" resultMap="SubMirCateMap">
		SELECT
			smic.sub_mir_cat_code,
			smic.sub_mjr_cat_code,
			smjc.sub_mjr_cat_nm,
			smic.sub_mir_cat_nm,
			smic.comm_slt,
			smic.cur_exam_user_state
		FROM
			sub_mir_cat smic INNER JOIN sub_mjr_cat smjc
			ON smic.sub_mjr_cat_code = smjc.sub_mjr_cat_code
		ORDER BY
			CAST(SUBSTRING(smic.sub_mir_cat_code,7) AS UNSIGNED);
	</select>




</mapper>