<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/style.css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/common(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/layout(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/customsmartmath.css}">
</head>

<th:block layout:fragment="customJsFile">
	<!--	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>-->
	<!-- Highcharts 라이브러리 로드 -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script>
	// session에 저장된 userCode가져오기(위에 th:inline="javascript필수")
    var userCode = /*[[${session.loggedInUser.userCode}]]*/[];
	
	$(function() {
	 // 영역 label 클릭 시 처리
	    $('#mDomCdDiv').on('click', 'label', function() {
	        // 모든 영역 label에서 'on' 클래스 제거 라벨 on/off에 따라 글씨 굵기 변경
	        $('#mDomCdDiv label').removeClass('on').css('font-weight','normal');

	        // 클릭한 영역 label에 'on' 클래스 추가
	        $(this).addClass('on').css('font-weight','bold');

	        // 선택된 과목에 대한 작업 수행
	        const subjectName = $(this).text();
	        fncSetDom(subjectName);
	    });
	    // 페이지 로드 시 국어 라벨을 클릭한 상태로 설정
        const initialLabel = $('#mDomCdDiv label#mDomCdKO');
        initialLabel.addClass('on').css('font-weight', 'bold');
        fncSetDom(initialLabel.text()); // 국어 차트 데이터 로드 
        
        $(document).ready(function() {
            const $title = document.querySelector('title');
            $title.textContent = '모의고사 결과분석'; // 제목 설정

            // 초기 데이터 로드 (기본 과목 데이터)
            fncSetDom('국어'); // 기본 과목 설정
       	  });
	    });
	
	const request=$.ajax({
		 url: '/exam/userChapData', 
         method: 'GET',
         data: {
         	 chapName:'chapName',           	
         	chapCorrectRate:'chapCorrectRate',
         	chapTryAccount:'chapTryAccount'
         },
         dataType: 'JSON'		
	})
	request.done(function(data){
		console.log(data);
		
		/* if(data=!null&&data.length !=0){
			
		}else{
			
		} */
	})
	request.fail(function (jqXHR, textStatus, error) {
 				console.log(error);
 			});
	
	
	
	
	/* const $title = document.querySelector('title');
	$title.textContent = '모의고사 결과분석';

	function fncShowDtl(id) {
	    const content = document.getElementById('dtlCont' + id);
	    const classname = document.getElementById('tit_main' + id);
	    
	    // 모든 내용 숨기기
	    const allContents = document.querySelectorAll('[id^="dtlCont"]');
	    const allClassNames = document.querySelectorAll('[id^="tit_main"]');
	    allContents.forEach((item) => {
	        item.style.display = "none";
	    });
	    allClassNames.forEach((item) => {
	        item.classList.remove("on");
	        item.classList.add("off");
	    });

	    // 클릭한 항목 표시하기
	    if (content.style.display == "none" || content.style.display == "") {
	        content.style.display = "block";
	        classname.classList.remove("off");
	        classname.classList.add("on");
	    }
	} */

	</script>
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain" style="max-width:1270px;margin:0 auto">
			<!-- Include the sidebar fragment here -->
<div th:replace="fragments/user/exam/sidebar :: sidebar"></div>
	<!-- container -->
	<section class="container" style="max-width: 80%; width: 100%">
		<!-- sub_container -->
		<div class="sub_container" style="width: 100% !important;">
			<!-- content -->
			
				<div class="column_main" style="width:100%">
					<div class="column_right analysis" style="margin-bottom: 10px;">
						<h3 class="areaLogo" >성적 분석</h3>
						<div class="review--topTxt">
							<ul>
								<li>응시한 문제지를 과목·단원·유형·난도별로 성적이 분석됩니다.</li>
								<li>성적 분석으로 나의 취약점을 파악할 수 있습니다.</li>
							</ul>
						</div>

						<div id="searchCndArea">
							<!-- 공통 인클루드 페이지 시작 -->

							<!-- 공통 인클루드 페이지 종료 -->


							<table class="mid_tbl--type mid_tbl--type02">
								<colgroup>
									<col width="110">
									<col width="620">
								</colgroup>
								<tbody id="subjectArea">
									<tr>
										<th>영역</th>
										<td>
											<div class="tbl_in--atc" id="mDomCdDiv">
												<label id="mDomCdKO">국어</label>
											
												<label id="mDomCdMA">수학</label>
												
												<label id="mDomCdENG">영어</label>
												
												<label id="mDomCdHI"  >한국사</label>
	
												<label id="mDomCdSC"  >과학탐구</label>
												
												<label id="mDomCdSO">사회탐구</label>
												
												<label id="mDomCdJO">직업탐구</label>
												
												<label id="mDomCdFOR">제2외국어</label>											

											</div>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
						<div class="searchSection--menu ty2" id="schTabMenu">
							<a href="/exam/userExamAnalyse" onclick="fncTabSet(1)" ><strong>분석1</strong>성적 변화</a>
							<a href="JavaScript:;" onclick="fncTabSet(2)"  class="on"><strong>분석2</strong>단원별	분석</a>
							<a href="/exam/weak" onclick="fncTabSet(3)" ><strong>분석3</strong>유형별 분석</a>
							
						</div>

						<div id="ContArea">

							<!--[D] 분석 2 -->
							<div class="bx_analysis">
								<div class="top_legend">
							
									<span class="g_legen" ><span class="ic_qc2" ></span>나의 정답률</span>
								</div>

								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis on" onclick="fncShowDtl('1')"
										id="tit_main1" >단원별 분석</a>


									<div class="cont_analysis" id="dtlCont1">


										<div class="item_cont ">
											<p class="tit_grapth">선사 문화와 여러나라의 성장 </p>
											<div class="bx_bargrapth">
												
												<div class="bg_grapth">
													<div class="garpth_bar my" style="width:50%"></div>
													<span class="percent my">%</span>
												</div>
											
											<ul class="bx_question_total">
												<li>
													<p class="qtit">정답률</p>
													<div class="qnum"></div>
												</li>
												<li>
													<p class="qtit">풀이횟수</p>
													<div class="qnum ty2"></div>
												</li>
												
											</ul>
											
											</div>
										</div>


										<div class="item_cont ">
											<p class="tit_grapth">삼국과 가야의 발전 </p>
											<div class="bx_bargrapth">

												<div class="bg_grapth">
													<div class="garpth_bar my" style="width:50%"></div>
													<span class="percent my">%</span>
												</div>
											</div>
											<ul class="bx_question_total">
												<li>
													<p class="qtit">정답률</p>
													<div class="qnum"></div>
												</li>
												<li>
													<p class="qtit">풀이횟수</p>
													<div class="qnum ty2"></div>
												</li>
												
											</ul>
										</div>


										<div class="item_cont">
											<p class="tit_grapth">통일 신라와 발해의 발전 </p>
											<div class="bx_bargrapth">

												<div class="bg_grapth">
													<div class="garpth_bar my" style="width:50%"></div>
													<span class="percent my">%</span>
												</div>
											</div>
											<ul class="bx_question_total">
												<li>
													<p class="qtit">정답률</p>
													<div class="qnum"></div>
												</li>
												<li>
													<p class="qtit">풀이횟수</p>
													<div class="qnum ty2"></div>
												</li>												
											</ul>
										</div>


										<div class="item_cont ">
											<p class="tit_grapth">대외 교류와 문화 발전 </p>
											<div class="bx_bargrapth">

												
												<div class="bg_grapth">
													<div class="garpth_bar my" style="width:100%"></div>
													<span class="percent my">%</span>
												</div>
											</div>
											<ul class="bx_question_total">
												<li>
													<p class="qtit">정답률</p>
													<div class="qnum"></div>
												</li>
												<li>
													<p class="qtit">풀이횟수</p>
													<div class="qnum ty2"></div>
												</li>
												
											</ul>
										</div>

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

			
	
			<!-- //content -->
		</div>
		<!-- //sub_container -->
	</section>
	<!-- container //-->
</div>

</html>