<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<link rel="stylesheet"
	th:href="@{/user/css/exam/examMain/common(1).css}">
<link rel="stylesheet"
	th:href="@{/user/css/exam/examMain/layout(1).css}">
<link rel="stylesheet" th:href="@{/user/css/exam/examMain/board(1).css}">
<link rel="stylesheet"
	th:href="@{/user/css/exam/examMain/past_question.css}">
</head>
<th:block layout:fragment="customJsFile">
	<!--<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>-->
</th:block>
<th:block layout:fragment="customJs">
	<script>
		var loginTF = false;
		var first = true;
		var bYearOld, eYearOld;
		$(document).ready(function() {
			yearSel();
		});
		function chekedT(id) {
			$('input:checkbox[name="' + id + '"]').each(function() {
				if (!this.disabled)
					this.checked = true;
			});
			if (id == 'month') {
				monthSel();
			} else {
				subjSel();
			}
		}

		function chekedF(id) {
			$('input:checkbox[name="' + id + '"]').each(function() {
				if (!this.disabled)
					this.checked = false;
			});
			if (id == 'month') {
				monthSel();
			} else {
				subjSel();
			}
		}

		$(function() {
			$("#monthAll").click(function() {
				if ($("#monthAll").prop("checked")) {
					chekedT('month');
				} else {
					chekedF('month');
				}
			})
			$('input[name="month"]').change(function() {
		        monthSel(); // 개별 월 체크박스 상태에 따라 "전체" 체크박스 업데이트
		    });
		});

		$(function() {
			$("#subjAll").click(function() {
				if ($("#subjAll").prop("checked")) {
					chekedT('subj');
				} else {
					chekedF('subj');
				}
			})
			$('input[name="subj"]').change(function() {
		        subjSel(); // 개별 과목 체크박스 상태에 따라 "전체" 체크박스 업데이트
		    });
		});	
		
		$(document).ready(function() {
		    // 페이지 로드 시 yearSel 함수 호출
		    yearSel();

		    // beginYear와 endYear의 change 이벤트를 수동으로 등록
		    $('#beginYear, #endYear').change(function() {
		        yearSel(); // yearSel 함수 호출
		    });		    
		});

		function yearSel() {
			var bYear = $('#beginYear').val();
			var eYear = $('#endYear').val();

			if (bYear <= eYear) {
				bYearOld = bYear;
				eYearOld = eYear;
			} else {
				alert('연도를 확인하세요');
				$('#beginYear option[value="' + bYearOld + '"]').prop(
						'selected', true);
				$('#endYear option[value="' + eYearOld + '"]').prop('selected',
						true);
				return false;
			}

			// 2024년 이전이면 10월, 11월 활성화, 2024년이면 비활성화
			if (bYear < 2024 || eYear < 2024) {
				$('#month10, #month11').attr("disabled", false);
			} else {
				$('#month10, #month11').attr("disabled", true).prop("checked",
						false);
			}

			// 한국사 체크박스 활성화/비활성화
			if (eYear <= 2015) {
				$('#subj4').attr("disabled", true).prop("checked", false);
			} else {
				$('#subj4').attr("disabled", false);
			}
		}

		function monthSel() {
			var totalCount = $('input[name=month]').length;
			var checkedCount = $('input[name=month]:checked').length;
			var disabledCount = $('input[name=month]:disabled').length;

			$('#monthAll').prop('checked',
					totalCount === checkedCount + disabledCount);

			var month = [];
			$('input:checkbox[name="month"]').each(function() {
				if (!this.disabled && this.checked) {
					month.push($(this).val());
					if ($(this).val() == '03')
						month.push('02');
					if ($(this).val() == '04')
						month.push('05');
					if ($(this).val() == '11')
						month.push('12');
				}
			});
			$('#monthList').val(month.join(','));
		}

		function subjSel() {
			var totalCount = $('input[name=subj]').length;
			var checkedCount = $('input[name=subj]:checked').length;
			var disabledCount = $('input[name=subj]:disabled').length;

			$('#subjAll').prop('checked',
					totalCount === checkedCount + disabledCount);

			var subj = [];
			$('input:checkbox[name="subj"]').each(function() {
				if (!this.disabled && this.checked) {
					subj.push($(this).val());
				}
			});
			$('#subjList').val(subj.join(','));
		}

		function search() {
			if ($('#monthList').val() == '') {
				alert('월을 선택하세요');
			} else if ($('#subjList').val() == '') {
				alert('과목을 선택하세요');
			}
		}
		function paperOn() {
			const width = window.innerWidth * 1.0;
			const height = window.innerHeight * 1.0;

			window.open('/exam/userExamTake', 'popupWindow',
					`width=${width},height=${height},scrollbars=yes`);
		}
		const $title = document.querySelector('title');
		$title.textContent = '모의고사 기출문제';

		$('.btn_popup_test').click(function() {
			paperOn();
		})
	

	</script>
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain"
	style="max-width: 1270px; margin: 0 auto">

	<div th:replace="fragments/user/exam/sidebar :: sidebar"></div>

	<section class="container" style="max-width: 80%; width: 100%">
		<!-- sub_container -->
		<div class="sub_container" style="width: 100%">

			<!-- content -->
			<div class="content" style="width: 100%">
				<form action="#" name="paperListFrm" id="paperListFrm" method="post">
					<input type="hidden" name="targetCd" id="targetCd" value="D300">
					<input type="hidden" name="monthList" id="monthList"
						value="03,02,04,05,06,07,09"> <input type="hidden"
						name="subjList" id="subjList" value="1,2,3,4,5,6,7,8"> <input
						type="hidden" name="sort" id="sort" value="recent"> <input
						type="hidden" name="paperId" id="paperId" value=""> <input
						type="hidden" name="paperNo" id="paperNo" value=""> <input
						type="hidden" name="lvl" id="lvl" value="">

					<div class="con_banner_wrap past_question">
						<img src="/user/img/exam/bnr_main_visual3.jpg" alt=""
							class="visual_pc"> <img
							src="/user/img/exam/bnr_main_visual3.jpg" alt="" class="visual_m">
					</div>
					<!-- searchbox -->
					<div class="search_box2">
						<div class="form_wrap">
							<dl>
								<dt>
									<label for="sFormGrade">학년</label>
								</dt>
								<dd class="type_yesrs">
									<select name="selectGrade">
										<option value="1">1학년</option>
										<option value="2">2학년</option>
										<option value="2" selected="selected">3학년</option>
									</select>
							</dl>
							<dl>
								<dt>
									<label for="sFormDate">연도</label>
								</dt>
								<dd class="type_yesrs">
									<select name="beginYear" id="beginYear" >
										<option value="2024" selected="selected">2024</option>
										<option value="2023">2023</option>
										<option value="2022">2022</option>
										<option value="2021">2021</option>
										<option value="2020">2020</option>
										<option value="2019">2019</option>
										<option value="2018">2018</option>
										<option value="2017">2017</option>
										<option value="2016">2016</option>
										<option value="2015">2015</option>
										<option value="2014">2014</option>
										<option value="2013">2013</option>
										<option value="2012">2012</option>
										<option value="2011">2011</option>
										<option value="2010">2010</option>
										<option value="2009">2009</option>
										<option value="2008">2008</option>
										<option value="2007">2007</option>
										<option value="2006">2006</option>
									</select> <i class="form_split">~</i> <select name="endYear"
										id="endYear" >
										<option value="2024" selected="selected">2024</option>
										<option value="2023">2023</option>
										<option value="2022">2022</option>
										<option value="2021">2021</option>
										<option value="2020">2020</option>
										<option value="2019">2019</option>
										<option value="2018">2018</option>
										<option value="2017">2017</option>
										<option value="2016">2016</option>
										<option value="2015">2015</option>
										<option value="2014">2014</option>
										<option value="2013">2013</option>
										<option value="2012">2012</option>
										<option value="2011">2011</option>
										<option value="2010">2010</option>
										<option value="2009">2009</option>
										<option value="2008">2008</option>
										<option value="2007">2007</option>
										<option value="2006">2006</option>
									</select>
								</dd>
								<dt>
									<label for="sFormTest">시험</label>
								</dt>
								<dd>
									<div class="chk_box_group">
										<span class="chk_box"> <input type="checkbox"
											name="monthAll" id="monthAll" checked="checked"> <label
											for="monthAll">전체</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month03" value="03" >
											<label for="month03">3월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month04" value="04" >
											<label for="month04">4월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month06" value="06" >
											<label for="month06">6월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month07" value="07" >
											<label for="month07">7월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month09" value="09" >
											<label for="month09">9월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month10" value="10" 
											disabled=""> <label for="month10">10월</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="month" id="month11" value="11" 
											disabled=""> <label for="month11">11월</label>
										</span>
									</div>
								</dd>
								<dt>
									<label for="sFormPart">영역</label>
								</dt>
								<dd>
									<div class="chk_box_group">
										<span class="chk_box"> <input type="checkbox"
											name="subjAll" id="subjAll" checked="checked"> <label
											for="subjAll">전체</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj1" value="1" >
											<label for="subj1">국어</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj2" value="2" >
											<label for="subj2">수학</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj3" value="3" >
											<label for="subj3">영어</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj4" value="4" >
											<label for="subj4">한국사</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj5" value="5" >
											<label for="subj5">사회탐구</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj6" value="6" >
											<label for="subj6">과학탐구</label>
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj7" value="7" >
											<label for="subj7">직업탐구</label> <!-- 수정: 잘못된 label 태그 닫힘 오류 -->
										</span> <span class="chk_box"> <input type="checkbox"
											name="subj" id="subj8" value="8" >
											<label for="subj8">제2외국어</label>
										</span>
									</div>
								</dd>
							</dl>
						</div>
						<div class="btn_wrap">
							<button type="button" class="btn_L_col7" >
								<span>검색</span>
							</button>
						</div>
						<!-- searchbox -->
						<!-- board_list -->
					</div>
				</form>
				<div id="boardListArea">
					<form action="#" name="pagingForm" id="pagingForm" method="post">
						<input type="hidden" name="beginYear" value="2024"> <input
							type="hidden" name="endYear" value="2024"> <input
							type="hidden" name="targetCd" value="D300"> <input
							type="hidden" name="monthList" value="03,02,04,05,06,07,09">
						<input type="hidden" name="subjList" value="1,2,3,4,5,6,7,8">
						<input type="hidden" name="sort" id="sort" value="recent">
						<input type="hidden" name="currentPage" id="currentPage" value="1">

						<!-- board_head -->
						<div class="board_head" style="margin-top: 3rem;">
							<div class="count_area">
								<p>
									검색결과 <em class="tot">146개</em>
								</p>
							</div>
							<div class="order_area">
								<div class="btn_wrap">
									<button type="button" class="btn_order on">
										<span>최근등록순</span>
									</button>
									<button type="button" class="btn_order ">
										<span>응시수</span>
									</button>
								</div>
								<select name="pageSize">
									<option value="15" selected="">15개씩 보기</option>
									<option value="30">30개씩 보기</option>
									<option value="50">50개씩 보기</option>
								</select>
							</div>
						</div>
						<!-- //board_head -->

						<!-- board_list -->
						<div class="board_qusesion">
							<ul>
								<li>
									<div class="img">
										<img src="/user/img/exam/thumb_book_korean.png" alt="">
									</div>
									<div class="txt_wrap">
										<div class="txt_group">
											<p class="tit">2024년&nbsp;고3 9월 모평(평가원)&nbsp;언어와 매체
												&nbsp;</p>
											<ul class="txt_info">
												<li>45문항</li>
												<li>10281명 응시</li>
											</ul>
										</div>
										<div class="survey_wrap" id="survey_wrap_24271023">
											<dl class="survey_result answer01">
												<dt>
													<a href="#"	>
														<p style="width: 65.7051282051282%;">쉬워요!</p>
													</a>
												</dt>
												<dd>205명</dd>
											</dl>
											<dl class="survey_result answer02">
												<dt>
													<a href="">
														<p style="width: 34.294871794871796%;">어려워요!</p>
													</a>
												</dt>
												<dd>107명</dd>
											</dl>
										</div>
									</div>
									<div class="btn_wrap">
										<div class="btn_row btn_down_row">
											<button type="button" class="btn_L_col2 has_down">
												<span>문제</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>정답</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>해설</span>
											</button>
										</div>
										<div class="btn_row btn_popup_row">
											<button type="button" class="btn_popup_class">
												<span>해설강의</span>
											</button>
											<button type="button" class="btn_popup_test" style="width: 100%">
												<span>응시하기</span>
											</button>
										</div>
									</div>
								</li>
								<li>
									<div class="img">
										<img src="/user/img/exam/thumb_book_math.png" alt="">
									</div>
									<div class="txt_wrap">
										<div class="txt_group">
											<p class="tit">2024년&nbsp;고3 9월 모평(평가원)&nbsp;확률과 통계
												&nbsp;</p>
											<ul class="txt_info">
												<li>30문항</li>
												<li>10766명 응시</li>
											</ul>
										</div>
										<div class="survey_wrap" id="survey_wrap_24271025">
											<dl class="survey_result answer01">
												<dt>
													<a href="#">
														<p style="width: 57.84313725490197%;">쉬워요!</p>
													</a>
												</dt>
												<dd>118명</dd>
											</dl>
											<dl class="survey_result answer02">
												<dt>
													<a href="#">
														<p style="width: 42.15686274509804%;">어려워요!</p>
													</a>
												</dt>
												<dd>86명</dd>
											</dl>
										</div>
									</div>
									<div class="btn_wrap">
										<div class="btn_row btn_down_row">
											<button type="button" class="btn_L_col2 has_down">
												<span>문제</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>정답</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>해설</span>
											</button>
										</div>
										<div class="btn_row btn_popup_row">
											<button type="button" class="btn_popup_class">
												<span>해설강의</span>
											</button>
											<button type="button" class="btn_popup_test">
												<span>응시하기</span>
											</button>
										</div>
									</div>
								</li>
								<li>
									<div class="img">
										<img src="/user/img/exam/thumb_book_english.png" alt="">
									</div>
									<div class="txt_wrap">
										<div class="txt_group">
											<p class="tit">2024년&nbsp;고3 9월 모평(평가원)&nbsp;영어 &nbsp;</p>
											<ul class="txt_info">
												<li>45문항</li>
												<li>27797명 응시</li>
											</ul>
										</div>
										<div class="survey_wrap" id="survey_wrap_24271028">
											<dl class="survey_result answer01">
												<dt>
													<a href="#">
														<p style="width: 38.97435897435898%;">쉬워요!</p>
													</a>
												</dt>
												<dd>152명</dd>
											</dl>
											<dl class="survey_result answer02">
												<dt>
													<a href="#">
														<p style="width: 61.02564102564103%;">어려워요!</p>
													</a>
												</dt>
												<dd>238명</dd>
											</dl>
										</div>
									</div>
									<div class="btn_wrap">
										<div class="btn_row btn_down_row">
											<button type="button" class="btn_L_col2 has_down">
												<span>문제</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>듣기</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>대본</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>정답</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>해설</span>
											</button>
										</div>
										<div class="btn_row btn_popup_row">
											<button type="button" class="btn_popup_class">
												<span>해설강의</span>
											</button>
											<button type="button" class="btn_popup_test">												
												<span>응시하기</span>
											</button>
										</div>
									</div>
								</li>
								<li>
									<div class="img">
										<img src="/user/img/exam/thumb_book_history.png" alt="">
									</div>
									<div class="txt_wrap">
										<div class="txt_group">
											<p class="tit">2024년&nbsp;고3 9월 모평(평가원)&nbsp;한국사 &nbsp;</p>
											<ul class="txt_info">
												<li>20문항</li>
												<li>22579명 응시</li>
											</ul>
										</div>
										<div class="survey_wrap" id="survey_wrap_24271029">
											<dl class="survey_result answer01" id="test99">
												<dt>
													<a href="#">
														<p style="width: 64.77987421383648%;">쉬워요!</p>
													</a>
												</dt>
												<dd>103명</dd>
											</dl>
											<dl class="survey_result answer02">
												<dt>
													<a href="#">
														<p style="width: 35.22012578616352%;">어려워요!</p>
													</a>
												</dt>
												<dd>56명</dd>
											</dl>
										</div>
									</div>

									<div class="btn_wrap">
										<div class="btn_row btn_down_row">
											<button type="button" class="btn_L_col2 has_down">
												<span>문제</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>정답</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>해설</span>
											</button>
										</div>
										<div class="btn_row btn_popup_row">

											<button type="button" class="btn_popup_test">
												<span>응시하기</span>
											</button>
											<button type="button" class="btn_popup_class">
												<span>재응시하기</span>
											</button>
										</div>
									</div>
								</li>
								<li>
									<div class="img">
										<img src="/user/img/exam/thumb_book_social.png" alt="">
									</div>
									<div class="txt_wrap">
										<div class="txt_group">
											<p class="tit">2024년&nbsp;고3 9월 모평(평가원)&nbsp;생활과윤리 &nbsp;</p>
											<ul class="txt_info">
												<li>20문항</li>
												<li>10600명 응시</li>
											</ul>
										</div>
										<div class="survey_wrap" id="survey_wrap_24271030">
											<dl class="survey_result answer01">
												<dt>
													<a href="#">
														<p style="width: 39.79057591623037%;">쉬워요!</p>
													</a>
												</dt>
												<dd>76명</dd>
											</dl>
											<dl class="survey_result answer02">
												<dt>
													<a href="#">
														<p style="width: 60.20942408376963%;">어려워요!</p>
													</a>
												</dt>
												<dd>115명</dd>
											</dl>
										</div>
									</div>
									<div class="btn_wrap">
										<div class="btn_row btn_down_row">
											<button type="button" class="btn_L_col2 has_down">
												<span>문제</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>정답</span>
											</button>
											<button type="button" class="btn_L_col2 has_down">
												<span>해설</span>
											</button>
										</div>
										<div class="btn_row btn_popup_row">
											<button type="button" class="btn_popup_class">
												<span>해설강의</span>
											</button>
											<button type="button" class="btn_popup_test">
												<span>응시하기</span>
											</button>
										</div>
									</div>
								</li>

							</ul>
						</div>
						<!-- pagination -->
					</form>
					<div class="pagination" style="margin-bottom: 30px">
						<a href="javascript:;" class="btn_first" style="cursor: default"><span
							class="blind">맨 처음</span></a><a href="javascript:;" class="btn_prev"
							style="cursor: default"><span class="blind">이전</span></a>
						<div class="count">
							<a href="javascript:goPage(1)" class="active"> 1 </a> /<a
								href="javascript:goPage(10)"> 10 </a>
						</div>
						<a href="javascript:goPage(2)" class="btn_next"><span
							class="blind">다음</span></a><a href="javascript:goPage(10)"
							class="btn_last"><span class="blind">맨 마지막</span></a>
					</div>
					<!-- //board_list -->
				</div>
				<!-- //board_list -->
			</div>
			<!-- //content -->
		</div>
		<!-- //sub_container -->
	</section>
	<!-- container //-->
</div>

</html>