<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/style.css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/common(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/layout(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/exam/userExamAnalyse/smartmath.css}">
</head>
<th:block layout:fragment="customJsFile">
	<!-- Highcharts 라이브러리 로드 -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script>
	$(function() {
	    const subjectDetails = {
	        '국어': {
	            labels: ['독서', '문학', '화법과 작문', '언어와 매체'],
	        },
	        '수학': {
	            labels: ['수학1', '수학2', '확률과 통계', '미분과 적분', '기하'],
	        },
	        '영어': {
	            labels: ['영어1', '영어2'],
	        },
	        '한국사': {
	            labels: ['한국사'],
	        },
	        '사회탐구': {
	            labels: ['생활과 윤리', '윤리와 사상', '한국지리', '세계지리', '동아시아사', '세계사', '경제', '정치와 법', '사회문화'],
	        },
	        '과학탐구': {
	            labels: ['물리1', '화학1', '생물1', '지구과학1', '물리2', '화학2', '생물2', '지구과학2'],
	        },
	        '직업탐구': {
	            labels: ['성공적인 직업생활', '농업 기초 기술', '공업 일반', '상업 경제', '수산 해운 산업 기초', '인간 발달'],
	        },
	        '제2외국어': {
	            labels: ['독일어1', '프랑스어1', '스페인어1', '중국어1', '일본어1', '러시아어1', '아랍어1', '베트남어1', '한문1'],
	        }
	    };

	 // 영역 label 클릭 시 처리
	    $('#mDomCdDiv').on('click', 'label', function() {
	        // 모든 영역 label에서 'on' 클래스 제거 라벨 on/off에 따라 글씨 굵기 변경
	        $('#mDomCdDiv label').removeClass('on').css('font-weight','normal');

	        // 클릭한 영역 label에 'on' 클래스 추가
	        $(this).addClass('on').css('font-weight','bold');

	        // 선택된 과목에 대한 작업 수행
	        const subjectName = $(this).text();
	        fncSetDom(subjectName);
	    });

	    // 선택된 과목에 대한 함수
	    function fncSetDom(subjectName) {
	        $('#subjectArea tr.subject-row').remove(); // 기존 과목 행 제거

	        // 새로운 행 생성
	        const newRow = $('<tr class="subject-row"><th>과목</th><td><div class="tbl_in--atc" ></div></td></tr>');
	        const $div = newRow.find('div');

	        // 선택된 과목의 라벨 가져오기
	        const labels = subjectDetails[subjectName]?.labels || [];
	        labels.forEach(label => {
	            const newLabel = $('<label style="margin:0 auto">' + label + '</label>');

	            // 과목 label 클릭 이벤트 추가 (이벤트 위임 방식)
	            newLabel.on('click', function() {
	                $div.find('label').removeClass('on').css('font-weight','normal'); // 다른 과목 라벨의 'on' 클래스 제거
	                $(this).toggleClass('on').css('font-weight','bold'); // 클릭한 라벨에 'on' 클래스 추가/제거 라벨 on/off에 따라 글씨 굵기 변경
	            });

	            $div.append(newLabel);
	        });

	        // tbody에 새 행 추가
	        $('#subjectArea').append(newRow);

	    }

	});
	
	
	
	const $title = document.querySelector('title');
	$title.textContent = '모의고사 결과분석';

	function fncShowDtl(id) {
	    const content = document.getElementById('dtlCont' + id);
	    const classname = document.getElementById('tit_main' + id);
	    
	    // 모든 내용 숨기기
	    const allContents = document.querySelectorAll('[id^="dtlCont"]');
	    const allClassNames = document.querySelectorAll('[id^="tit_main"]');
	    allContents.forEach((item) => {
	        item.style.display = "none";
	    });
	    allClassNames.forEach((item) => {
	        item.classList.remove("on");
	        item.classList.add("off");
	    });

	    // 클릭한 항목 표시하기
	    if (content.style.display == "none" || content.style.display == "") {
	        content.style.display = "block";
	        classname.classList.remove("off");
	        classname.classList.add("on");
	    }
	}



		const ctx = document.getElementById('myRadarChart').getContext('2d');
		const myRadarChart = new Chart(ctx, {
			type: 'radar',
			data: {
				labels: ['하', '중하', '중', '중상', '상'],
				datasets: [{
					label: '정답률 (%)',
					data: [100, 100, 0, 50, 100],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});

		const ctx2 = document.getElementById('myRadarChart2').getContext('2d');
		const myRadarChart2 = new Chart(ctx2, {
			type: 'radar',
			data: {
				labels: ['중하', '중상', '상', '최상'],
				datasets: [{
					label: '정답률 (%)',
					data: [100, 0, 100, 100],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});

		const ctx3 = document.getElementById('myRadarChart3').getContext('2d');
		const myRadarChart3 = new Chart(ctx3, {
			type: 'radar',
			data: {
				labels: ['하', '중하', '중', '중상', '상'],
				datasets: [{
					label: '정답률 (%)',
					data: [50, 100, 0, 0, 100],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});

		const ctx4 = document.getElementById('myRadarChart4').getContext('2d');
		const myRadarChart4 = new Chart(ctx4, {
			type: 'radar',
			data: {
				labels: ['중하', '중', '상'],
				datasets: [{
					label: '정답률 (%)',
					data: [100, 0, 66],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});

		const ctx5 = document.getElementById('myRadarChart5').getContext('2d');
		const myRadarChart5 = new Chart(ctx5, {
			type: 'radar',
			data: {
				labels: ['중', '중상', '상', '최상'],
				datasets: [{
					label: '정답률 (%)',
					data: [0, 0, 33, 0],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});

		const ctx6 = document.getElementById('myRadarChart6').getContext('2d');
		const myRadarChart6 = new Chart(ctx6, {
			type: 'radar',
			data: {
				labels: ['중하', '중', '중상', '상'],
				datasets: [{
					label: '정답률 (%)',
					data: [50, 0, 0, 100],
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					pointBackgroundColor: 'rgba(54, 162, 235, 1)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgba(54, 162, 235, 1)'
				}]
			},
			options: {
				scales: {
					r: {
						angleLines: {
							display: true
						},
						min: 0,
						max: 100,
						ticks: {
							stepSize: 20
							// 20 단위로 숫자 표시
						}
					}
				}
			}
		});
	</script>
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain" style="max-width:1270px;margin:0 auto">
			<!-- Include the sidebar fragment here -->
<div th:replace="fragments/user/exam/sidebar :: sidebar"></div>
	<!-- container -->
	<section class="container" style="max-width: 80%; width: 100%">
		<!-- sub_container -->
		<div class="sub_container" style="width: 100% !important;">
			<!-- content -->
			
				<div class="column_main" style="width:100%">

					<div class="column_right analysis" style="margin-bottom:15px!important;">
						<h3 class="areaLogo">성적 분석</h3>

						<div class="review--topTxt">
							<ul>
								<li>응시한 문제지를 과목·단원·유형·난도별로 성적이 분석됩니다.</li>
								<li>성적 분석으로 나의 취약점을 파악할 수 있습니다.</li>
							</ul>
						</div>

						<div id="searchCndArea">
							<!-- 공통 인클루드 페이지 시작 -->

							<!-- 공통 인클루드 페이지 종료 -->


							<table class="mid_tbl--type mid_tbl--type02">
								<colgroup>
									<col width="110">
									<col width="620">
								</colgroup>
								<tbody id="subjectArea">
									<tr>
										<th>영역</th>
										<td>
											<div class="tbl_in--atc" id="mDomCdDiv">
											
												<label id="mDomCdKO">국어</label>

												<label id="mDomCdMA">수학</label>
												
												<label id="mDomCdENG">영어</label>
												
												<label id="mDomCdHI" >한국사</label>
	
												<label id="mDomCdSC" >과학탐구</label>
												
												<label id="mDomCdSO">사회탐구</label>
												
												<label id="mDomCdJO">직업탐구</label>
												
												<label id="mDomCdFOR">제2외국어</label>											

											</div>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
						<div class="searchSection--menu ty2" id="schTabMenu">
							<a href="/exam/userExamAnalyse" onclick="fncTabSet(1)" class=""><strong>분석1</strong>성적 변화</a>
							<a href="/exam/ccr" onclick="fncTabSet(2)" class=""><strong>분석2</strong>단원별 정답률</a>
							<a href="/exam/weak" onclick="fncTabSet(3)" class=""><strong>분석3</strong>취약 유형</a>
							<a href="JavaScript:;" onclick="fncTabSet(4)" class="on"><strong>분석4</strong>단원/난도/문항별 분석</a>

						</div>

						<div id="ContArea">
							<!-- 공통 인클루드 페이지 시작 -->

							<!-- 공통 인클루드 페이지 종료 -->

							<!--[D] 분석 4 -->
							<div class="bx_analysis">
								<div class="top_legend">
									<span class="g_legen"><span class="ic_qc2"></span>나의 정답률</span>
								</div>

								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis on" onclick="fncShowDtl('1')"
										id="tit_main1">우리 역사의 형성과 고대 국가의 발전</a>
									<div class="cont_analysis" id="dtlCont1">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart"></canvas>
												</div>

											</div>
											<div class="detail_info ty2" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>하</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

														<tr>
															<td>중하</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

														<tr>
															<td>중</td>
															<td>0%</td>
															<td>0/2</td>
														</tr>

														<tr>
															<td>중상</td>
															<td>50%</td>
															<td>1/2</td>
														</tr>

														<tr>
															<td>상</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:57%"></div>
														<span class="percent my">57%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>57%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>4/7</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>



								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis" onclick="fncShowDtl('2')"
										id="tit_main2">고려 귀족 사회의 형성과 변천</a>
									<div class="cont_analysis" id="dtlCont2">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart2"></canvas>
												</div>
											</div>
											<div class="detail_info" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>중하</td>
															<td>100%</td>
															<td>2/2</td>
														</tr>

														<tr>
															<td>중상</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

														<tr>
															<td>상</td>
															<td>100%</td>
															<td>2/2</td>
														</tr>

														<tr>
															<td>최상</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:83%"></div>
														<span class="percent my">83%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>83%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>5/6</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>



								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis" onclick="fncShowDtl('3')"
										id="tit_main3">조선 유교 사회의 성립과 변화</a>
									<div class="cont_analysis" id="dtlCont3">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart3"></canvas>
												</div>
											</div>
											<div class="detail_info" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>하</td>
															<td>50%</td>
															<td>1/2</td>
														</tr>

														<tr>
															<td>중하</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

														<tr>
															<td>중</td>
															<td>0%</td>
															<td>0/2</td>
														</tr>

														<tr>
															<td>중상</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

														<tr>
															<td>상</td>
															<td>100%</td>
															<td>1/1</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:42%"></div>
														<span class="percent my">42%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>42%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>3/7</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>



								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis" onclick="fncShowDtl('4')"
										id="tit_main4">국제 질서의 변동과 근대 국가 수립 운동</a>
									<div class="cont_analysis" id="dtlCont4">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart4"></canvas>
												</div>
											</div>
											<div class="detail_info" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>중하</td>
															<td>100%</td>
															<td>2/2</td>
														</tr>

														<tr>
															<td>중</td>
															<td>0%</td>
															<td>0/2</td>
														</tr>

														<tr>
															<td>상</td>
															<td>66%</td>
															<td>2/3</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:57%"></div>
														<span class="percent my">57%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>57%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>4/7</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>



								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis" onclick="fncShowDtl('5')"
										id="tit_main5">일제의 강점과 민족 운동의 전개</a>
									<div class="cont_analysis" id="dtlCont5">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart5"></canvas>
												</div>
											</div>
											<div class="detail_info" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>중</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

														<tr>
															<td>중상</td>
															<td>0%</td>
															<td>0/2</td>
														</tr>

														<tr>
															<td>상</td>
															<td>33%</td>
															<td>1/3</td>
														</tr>

														<tr>
															<td>최상</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:14%"></div>
														<span class="percent my">14%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>14%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>1/7</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>



								<div class="section_analysis">
									<a href="javascript:;" class="tit_analysis" onclick="fncShowDtl('6')"
										id="tit_main6">대한민국의 발전과 현대 세계의 변화</a>
									<div class="cont_analysis" id="dtlCont6">

										<p class="sub_txtinfo">난이도별 분석</p>

										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">
												<div
													style="width: 95%; height: 80%;background-color: white; display:flex; ">
													<canvas id="myRadarChart6"></canvas>
												</div>
											</div>
											<div class="detail_info" style="display:flex;">
												<table class="buyVoucher--voucherTable" style="width:100% !important">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>난이도</th>
															<th>정답률</th>
															<th>정답수/문제수</th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td>중하</td>
															<td>50%</td>
															<td>1/2</td>
														</tr>

														<tr>
															<td>중</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

														<tr>
															<td>중상</td>
															<td>0%</td>
															<td>0/1</td>
														</tr>

														<tr>
															<td>상</td>
															<td>100%</td>
															<td>2/2</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<p class="sub_txtinfo">문제 형태별 분석 </p>
										<div class="item_cont" style="padding-bottom:0px;">
											<div class="analysis_grapth">

												<p class="tit_grapth">객관식</p>
												<div class="bx_bargrapth">
													<div class="bg_grapth">
														<div class="garpth_bar my" style="width:50%"></div>
														<span class="percent my">50%</span>
													</div>
												</div>

											</div>
											<div class="detail_info ty2">
												<table class="buyVoucher--voucherTable">
													<colgroup>
														<col>
														<col>
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>문제 형태</th>
															<th>객관식</th>
															<th>주관식</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="thblue">정답률</th>

															<td>50%</td>

															<td>-</td>

														</tr>
														<tr>
															<th class="thblue">정답수/문제수</th>

															<td>3/6</td>

															<td>-</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- //content -->
			
			<!-- //sub_container -->
			</div>
	</section>
	<!-- container //-->
</div>

</html>