<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team01.student.score.mapper.ScoreMapper">
	<select id="getTookExam" parameterType="String" resultType="TookExam">
		/* 회원이 응시한 모의고사 목록 조회 */
		SELECT
			tei.took_exam_info_code AS tookExamInfoCode,
			ei.exam_nm AS examNm
		FROM
			took_exam_info tei
			JOIN
			exam_info ei
			ON
			tei.exam_code = ei.exam_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC;
	</select>
	
	<select id="getKoreanHistoryScore" parameterType="String" resultType="KoreanHistoryScore">
		/* 한국사 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			ss.subject_score_origin as subjectScoreOrigin,
			khs.kor_his_grd as korHisGrd,
			khs.kor_his_ranking as korHisRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			kor_his_scr khs
			ON
			ss.subject_score_code = khs.kor_his_subject_score_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>
	
	<select id="getKoreanHistoryScoreByTookExamCode" parameterType="String" resultType="KoreanHistoryScore">
		/* 회원 응시 모의고사 한국사 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			ss.subject_score_origin as subjectScoreOrigin,
			khs.kor_his_grd as korHisGrd,
			khs.kor_his_ranking as korHisRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			kor_his_scr khs
			ON
			ss.subject_score_code = khs.kor_his_subject_score_code
		WHERE
			tei.took_exam_info_code = #{tookExamInfoCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC;
	</select>
	

	<select id="getKoreanScore" parameterType="String" resultType="KoreanScore">
		/* 국어 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			smc.sub_mir_cat_nm as subMirCatNm,
			ss.subject_score_origin as subjectScoreOrigin,
			ks.kor_std_scr as korStdScr,
			ks.kor_pct as korPct,
			ks.kor_grd as korGrd,
			ks.kor_ranking as korRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			kor_scr ks
			ON
			ss.subject_score_code = ks.kor_subject_score_code
			JOIN
			sub_mir_cat smc
			ON
			tei.kor_slt_sub = smc.sub_mir_cat_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>

	<select id="getMathScore" parameterType="String" resultType="MathScore">
		/* 수학 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			smc.sub_mir_cat_nm as subMirCatNm,
			ss.subject_score_origin as subjectScoreOrigin,
			ms.math_std_scr as mathStdScr,
			ms.math_pct as mathPct,
			ms.math_grd as mathGrd,
			ms.math_ranking as mathRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			math_scr ms
			ON
			ss.subject_score_code = ms.math_subject_score_code
			JOIN
			sub_mir_cat smc
			ON
			tei.math_slt_sub = smc.sub_mir_cat_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>

	<select id="getEnglishScore" parameterType="String" resultType="EnglishScore">
		/* 영어 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			ss.subject_score_origin as subjectScoreOrigin,
			es.eng_grd as engGrd,
			es.eng_ranking as engRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			eng_scr es
			ON
			ss.subject_score_code = es.eng_subject_score_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>
	
	<select id="getInquiry1Score" parameterType="String" resultType="Inquiry1Score">
		/* 탐구1 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			smc.sub_mir_cat_nm as subMirCatNm,
			ss.subject_score_origin as subjectScoreOrigin,
			i1s.inq1_std_scr as inq1StdScr,
			i1s.inq1_pct as inq1Pct,
			i1s.inq1_grd as inq1Grd,
			i1s.inq1_ranking as inq1Ranking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			inq1_scr i1s
			ON
			ss.subject_score_code = i1s.inq1_subject_score_code
			JOIN
			sub_mir_cat smc
			ON
			tei.inq1_slt_sub = smc.sub_mir_cat_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>
	
	<select id="getInquiry2Score" parameterType="String" resultType="Inquiry2Score">
		/* 탐구2 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			smc.sub_mir_cat_nm as subMirCatNm,
			ss.subject_score_origin as subjectScoreOrigin,
			i2s.inq2_std_scr as inq2StdScr,
			i2s.inq2_pct as inq2Pct,
			i2s.inq2_grd as inq2Grd,
			i2s.inq2_ranking as inq2Ranking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			inq2_scr i2s
			ON
			ss.subject_score_code = i2s.inq2_subject_score_code
			JOIN
			sub_mir_cat smc
			ON
			tei.inq2_slt_sub = smc.sub_mir_cat_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>

	<select id="getSecondLanguageAndChineseCharactersScore" parameterType="String" resultType="SecondLanguageAndChineseCharactersScore">
		/* 제2외국어 및 한문 점수 조회 */
		SELECT
			tei.took_exam_info_code as tookExamInfoCode,
			smc.sub_mir_cat_nm as subMirCatNm,
			ss.subject_score_origin as subjectScoreOrigin,
			fs.frn_grd as frnGrd,
			fs.frn_ranking as frnRanking
		FROM
			took_exam_info tei
			JOIN
			subject_score ss
			ON
			tei.took_exam_info_code = ss.took_exam_info_code
			JOIN
			frn_scr fs
			ON
			ss.subject_score_code = fs.frn_subject_score_code
			JOIN
			sub_mir_cat smc
			ON
			tei.frn_slt_sub = smc.sub_mir_cat_code
		WHERE
			tei.user_code = #{userCode}
		ORDER BY
			CAST(SUBSTRING(tei.took_exam_info_code, 5) AS UNSIGNED) DESC LIMIT 1;
	</select>
</mapper>