<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team01.student.study.mapper.StudyMapper">
	<resultMap type="ks52team01.student.study.dto.StudyTarget"
		id="StudyTargetsResultMap">
		<id column="csat_sel_code" property="idx" />
		<result column="user_code" property="usercode" />
		<result column="sub_mir_cat_com_kor" property="smcck" />
		<result column="sub_mir_cat_sel_kor" property="smcsk" />
		<result column="sub_mir_cat_com_math" property="smccm" />
		<result column="sub_mir_cat_sel_math" property="smcsm" />
		<result column="sub_mir_cat_inq1" property="smci1" />
		<result column="sub_mir_cat_inq2" property="smci2" />
		<result column="sub_mir_cat_lang" property="smcl1" />
		<result column="sub_mir_cat_lang2" property="smcl2" />
		<result column="sub_mir_cat_kh" property="smck" />


		<result property="smcsknm" column="smcsknm" />
		<result property="smcsmnm" column="smcsmnm" />
		<result property="smci1nm" column="smci1nm" />
		<result property="smci2nm" column="smci2nm" />
		<result property="smcl2nm" column="smcl2nm" />
		<result property="smcknm" column="smcknm" />
	</resultMap>
	<select id="getStudyTarget" resultMap="StudyTargetsResultMap">

		SELECT
		csat_sel_code,
		user_code,
		sub_mir_cat_com_kor,
		sub_mir_cat_sel_kor,
		sub_mir_cat_com_math,
		sub_mir_cat_sel_math,
		sub_mir_cat_inq1,
		sub_mir_cat_inq2,
		sub_mir_cat_lang,
		sub_mir_cat_lang2,
		sub_mir_cat_kh,
		smic1.sub_mir_cat_nm as smcsknm,
		smic2.sub_mir_cat_nm as smcsmnm,
		smic3.sub_mir_cat_nm as smci1nm,
		smic4.sub_mir_cat_nm as smci2nm,
		smic5.sub_mir_cat_nm as smcl2nm,
		smic6.sub_mir_cat_nm as smcknm
		FROM
		CSAT cs
		LEFT
		JOIN sub_mir_cat smic1
		ON smic1.sub_mir_cat_code =
		cs.sub_mir_cat_sel_kor
		LEFT JOIN sub_mir_cat smic2
		ON
		smic2.sub_mir_cat_code = cs.sub_mir_cat_sel_math
		LEFT JOIN sub_mir_cat
		smic3
		ON smic3.sub_mir_cat_code = cs.sub_mir_cat_inq1
		LEFT JOIN
		sub_mir_cat smic4
		ON smic4.sub_mir_cat_code = cs.sub_mir_cat_inq2
		LEFT
		JOIN sub_mir_cat smic5
		ON smic5.sub_mir_cat_code = cs.sub_mir_cat_lang2
		LEFT JOIN sub_mir_cat smic6
		ON smic6.sub_mir_cat_code =
		cs.sub_mir_cat_kh
		where
		user_code = #{id};
	</select>

	<insert id='addCastSubject'
		parameterType="ks52team01.student.study.dto.StudyTarget">
		<selectKey keyProperty="idx" resultType="string"
			order="BEFORE">
			SELECT
			CASE
			WHEN COUNT(*) = 0 THEN CONCAT('csat_', 1)
			ELSE
			CONCAT('csat_', MAX(CAST(SUBSTRING_INDEX(csat_sel_code, 'csat_', -1)
			AS
			UNSIGNED))+1)
			END AS idx
			FROM
			CSAT;
		</selectKey>
		insert into CSAT VALUES(
		#{idx},
		#{usercode},
		#{smcck},
		#{smcsk},
		#{smccm},
		#{smcsm},
		#{smci1},
		#{smci2},
		#{smcl1},
		#{smcl2},
		#{smck}
		);
	</insert>

	<update id='modifyCastSubject'
		parameterType="ks52team01.student.study.dto.StudyTarget">
		update CSAT
		<trim prefix="SET" suffixOverrides=",">
			<if test="smcl2 != null and smcl2 != ''">
				sub_mir_cat_sel_kor = #{smcsk},
			</if>
			<if test="smcsm != null and smcsm != ''">
				sub_mir_cat_sel_math = #{smcsm},
			</if>
			<if test="smci1 != null and smci1 != ''">
				sub_mir_cat_inq1 = #{smci1},
			</if>
			<if test="smci2 != null and smci2 != ''">
				sub_mir_cat_inq2 = #{smci2},
			</if>
			<if test="smcl2 != null and smcl2 != ''">
				sub_mir_cat_lang2 = #{smcl2}
			</if>
		</trim>
		WHERE csat_sel_code = #{idx};
	</update>

	<delete id='removeCastSubject'
		parameterType="ks52team01.student.study.dto.StudyTarget">
		DELETE FROM CSAT cs WHERE cs.csat_sel_code = #{idx};
	</delete>








	<resultMap
		type="ks52team01.student.study.dto.TargetUniversity"
		id="TargetUniversityResultMap">
		<id column="target_university_code" property="targetUniverseCode" />
		<result column="user_code" property="usercode" />
		<result column="target_university_name"
			property="targetUniversityName" />
		<result column="target_university_lesson"
			property="targetUniversityLesson" />
		<result column="target_university_rangking"
			property="targetUniversityRangking" />

	</resultMap>
	<select id="getTargetUniversity"
		resultMap="TargetUniversityResultMap">

		SELECT
		target_university_code,
		user_code,
		target_university_name,
		target_university_lesson,
		target_university_rangking

		FROM
		target_university
		where
		user_code = #{id};
	</select>


	<!-- 대학교 설정 -->
	<!-- 대학교 추가 0 -->
	<insert id='addTargetUniversity'
		parameterType="ks52team01.student.study.dto.TargetUniversity">
		<selectKey keyProperty="targetUniverseCode"
			resultType="string" order="BEFORE">
			SELECT
			CASE
			WHEN COUNT(*) = 0 THEN
			CONCAT('tuc', 1)
			ELSE
			CONCAT('tuc',
			MAX(CAST(SUBSTRING_INDEX(target_university_code, 'tuc', -1) AS
			UNSIGNED))+1)
			END AS targetUniverseCode
			FROM
			target_university tu;
		</selectKey>
		insert into target_university
		VALUES(
		#{targetUniverseCode},
		#{usercode},
		#{targetUniversityName},
		#{targetUniversityLesson},
		#{targetUniversityRangking}
		);
	</insert>



	<!-- 대학교 수정 0 -->
	<update id='modifyTargetUniversity'
		parameterType="ks52team01.student.study.dto.TargetUniversity">
		update target_university
		<trim prefix="SET" suffixOverrides=",">
			<if
				test="targetUniversityName != null and targetUniversityName != ''">
				target_university_name= #{targetUniversityName},
			</if>
			<if
				test="targetUniversityLesson != null and targetUniversityLesson != ''">
				target_university_lesson= #{targetUniversityLesson},
			</if>
			<if
				test="targetUniversityRangking != null and targetUniversityRangking != ''">
				target_university_rangking= #{targetUniversityRangking}
			</if>
		</trim>
		WHERE
		target_university_code = #{targetUniverseCode};
	</update>


	<delete id='removeTargetUniversity'
		parameterType="ks52team01.student.study.dto.TargetUniversity">
		DELETE FROM target_university tu WHERE
		tu.target_university_code = #{targetUniverseCode};
	</delete>













	<resultMap type="ks52team01.student.study.dto.TargetGrade"
		id="TargetGradeResultMap">
		<id column="obj_grade_code" property="gradeCode" />
		<result column="user_code" property="UserCode" />
		<result column="sub_mjr_cat_code" property="smjcc" />
		<result column="sub_mir_cat_code" property="smicc" />
		<result column="last_grade_set" property="lastGrade" />
		<result column="recent_grade_set" property="recentGrade" />
		<result column="obj_grade_set" property="tar_grade_set" />
		<result column="result_grade_set" property="result_grade_set" />
		<result column="count_grade_set" property="count_grade_set" />
		<result property="subMjrCatNm" column="sub_mjr_cat_nm" />
		<result property="subMirCatNm" column="sub_mir_cat_nm" />

	</resultMap>
	<select id="getTargetGrade" resultMap="TargetGradeResultMap">
		select
		og.obj_grade_code,
		og.user_code,
		og.sub_mjr_cat_code,
		og.sub_mir_cat_code,
		og.last_grade_set,
		og.recent_grade_set,
		og.obj_grade_set,
		smjc.sub_mjr_cat_code,
		smjc.sub_mjr_cat_nm,
		smic.sub_mir_cat_code,
		smic.sub_mir_cat_nm
		FROM
		obejctive_grade og
		JOIN sub_mjr_cat smjc
		ON
		og.sub_mjr_cat_code = smjc.sub_mjr_cat_code
		JOIN sub_mir_cat smic
		ON
		og.sub_mir_cat_code = smic.sub_mir_cat_code
		where
		og.user_code = #{id};
	</select>

	<!-- 목표등급 추가 0 -->
	<insert id='addTargetGrade'
		parameterType="ks52team01.student.study.dto.TargetGrade">
		<selectKey keyProperty="gradeCode" resultType="string"
			order="BEFORE">
			SELECT
			CASE
			WHEN COUNT(*) = 0 THEN CONCAT('ogc', 1)
			ELSE
			CONCAT('ogc', MAX(CAST(SUBSTRING_INDEX(obj_grade_code, 'ogc', -1) AS
			UNSIGNED))+1)
			END AS gradeCode
			FROM
			obejctive_grade;
		</selectKey>


		insert into obejctive_grade  (obj_grade_code, user_code, sub_mjr_cat_code, sub_mir_cat_code, last_grade_set, recent_grade_set, obj_grade_set, result_grade_set, count_grade_set)
	    SELECT
		#{gradeCode},
		#{UserCode},
		#{smjcc},
		#{smicc},
		IF(${lastGrade}=0, IFNULL(AVG(last_grade_set), 1), ${lastGrade}),
		${recentGrade},
		${tar_grade_set},
		IF(SUM(result_grade_set)=0, IFNULL((${recentGrade}),0), SUM(result_grade_set)),
		COUNT(result_grade_set)+1
		FROM
 		obejctive_grade
 		WHERE user_code=#{UserCode}
		ORDER BY
		obj_grade_code desc
		LIMIT 1
	</insert>
	<!-- 목표등급 수정 수정 -->
	<update id='modifyTargetGrade'
		parameterType="ks52team01.student.study.dto.TargetGrade">
		update obejctive_grade
		<trim prefix="SET" suffixOverrides=",">
			<if test="smjcc != null and smjcc != ''">
				sub_mjr_cat_code = #{smjcc},
			</if>
			<if test="smicc != null and smicc != ''">
				sub_mir_cat_code = #{smicc},
			</if>
			<if test="lastGrade != null and lastGrade != ''">
				last_grade_set = #{lastGrade},
			</if>
			<if test="recentGrade != null and recentGrade != ''">
				recent_grade_set =#{recentGrade} ,
			</if>
			<if test="tar_grade_set != null and tar_grade_set != ''">
				obj_grade_set = #{tar_grade_set},
			</if>
			<if test="result_grade_set != null and result_grade_set != ''">
				result_grade_set = #{result_grade_set},
			</if>
			<if test="count_grade_set != null and count_grade_set != ''">
				count_grade_set = #{count_grade_set}
			</if>
		</trim>
		WHERE obj_grade_code = #{gradeCode};

	</update>
	<!-- 목표등급 삭제 -->
	<delete id='removeTargetGrade'
		parameterType="ks52team01.student.study.dto.TargetGrade">
		DELETE FROM obejctive_grade og WHERE og.obj_grade_code=
		#{gradeCode};
	</delete>













	<resultMap type="ks52team01.student.study.dto.StudySchedule"
		id="StudyScheduleResultMap">
		<id column="learning_schedule" property="learningSchedule" />
		<result column="user_code" property="userCode" />
		<result column="sub_mjr_cat_code" property="smjcc" />
		<result column="sub_mir_cat_code" property="smicc" />
		<result column="learning_schedule_memo"
			property="learningScheduleMemo" />
		<result column="learning_schedule_days"
			property="learningScheduleDay" />
		<result column="learning_schedule_start"
			property="learningScheduleStart" />
		<result column="learning_schedule_end"
			property="learningScheduleEnd" />
		<result column="learning_schedule_compleate"
			property="learningScheduleCompleate" />
	</resultMap>
	<select id="getStudySchedule" resultMap="StudyScheduleResultMap">

		SELECT

		learning_schedule,
		user_code,
		sub_mjr_cat_code,
		sub_mir_cat_code,
		learning_schedule_memo,
		learning_schedule_days,
		learning_schedule_start,
		learning_schedule_end,
		learning_schedule_compleate

		FROM
		learning_schedule
		where
		user_code =
		#{id};
	</select>

	<!-- 학습목표 추가 0 -->
	<insert id='addLearningSchedule'
		parameterType="ks52team01.student.study.dto.StudySchedule">
		<selectKey keyProperty="learningSchedule"
			resultType="string" order="BEFORE">
			SELECT
			CASE
			WHEN COUNT(*) = 0 THEN
			CONCAT('les', 1)
			ELSE
			CONCAT('les',
			MAX(CAST(SUBSTRING_INDEX(learning_schedule, 'les', -1) AS
			UNSIGNED))+1)
			END AS learningSchedule
			FROM
			learning_schedule;
		</selectKey>

		insert into learning_schedule VALUES(
		#{learningSchedule},
		#{userCode},
		#{smjcc},
		#{smicc},
		#{learningScheduleMemo},
		#{learningScheduleDay},
		#{learningScheduleStart},
		#{learningScheduleEnd},
		#{learningScheduleCompleate}
		);


	</insert>
	<!-- 학습목표 수정 0 -->
	<update id='modifyLearningSchedule'
		parameterType="ks52team01.student.study.dto.StudySchedule">
		UPDATE learning_schedule
		<trim prefix="SET" suffixOverrides=",">
			<if test="smjcc != null and smjcc != ''">
				sub_mjr_cat_code = #{smjcc},
			</if>
			<if test="smicc != null and smicc != ''">
				sub_mir_cat_code = #{smicc},
			</if>
			<if
				test="learningScheduleMemo != null and learningScheduleMemo != ''">
				learning_schedule_memo = #{learningScheduleMemo},
			</if>
			<if
				test="learningScheduleDay != null and learningScheduleDay != ''">
				learning_schedule_days = #{learningScheduleDay},
			</if>
			<if
				test="learningScheduleStart != null and learningScheduleStart != ''">
				learning_schedule_start = #{learningScheduleStart},
			</if>
			<if
				test="learningScheduleEnd != null and learningScheduleEnd != ''">
				learning_schedule_end = #{learningScheduleEnd},
			</if>
			<if
				test="learningScheduleCompleate != null and learningScheduleCompleate != ''">
				learning_schedule_compleate = #{learningScheduleCompleate}
			</if>
		</trim>
		WHERE learning_schedule = #{learningSchedule};
	</update>

	<!-- 학습목표 삭제 -->
	<delete id='removeLearningSchedule'
		parameterType="ks52team01.student.study.dto.StudySchedule">
		<!-- delete FROM learning_schedule ls where
		ls.learning_schedule = #{learningSchedule}; -->
		CALL study_ls_delete (#{learningSchedule}, #{userCode})
	</delete>









	<resultMap
		type="ks52team01.student.study.dto.DetailedSchedule"
		id="DetailedScheduleResultMap">
		<id column="detailed_schedule_code" property="detailedSchedule" />
		<result column="user_code" property="userCode" />
		<result column="learning_schedule" property="learningSchedule" />
		<result column="detailed_schedule_memo"
			property="detailedScheduleMemo" />
		<result column="smjrcc" property="smjrcc" />
		<result column="smircc" property="smircc" />
		<result column="detailed_schedule_date"
			property="detailedScheduleDate" />
		<result column="detailed_schedule_starttime"
			property="detailedScheduleStartTime" />
		<result column="detailed_schedule_endtime"
			property="detailedScheduleEndTime" />
		<result column="detailed_schedule_studytime"
			property="detailedScheduleStudyTime" />
		<result column="detailed_schedule_result"
			property="detailedScheduleResult" />
	</resultMap>
	<select id="getDetailedSchedule"
		resultMap="DetailedScheduleResultMap">

		SELECT
		detailed_schedule_code,
		user_code,
		learning_schedule,
		detailed_schedule_memo,
		detailed_schedule_date,
		detailed_schedule_starttime,
		detailed_schedule_endtime,
		detailed_schedule_studytime,
		detailed_schedule_result

		FROM
		detailed_schedule
		where
		user_code = #{id};
	</select>

	<!-- 상세일정 추가 0 -->
	<insert id='addDetailedSchedule'
		parameterType="ks52team01.student.study.dto.DetailedSchedule">
		<selectKey keyProperty="detailedSchedule"
			resultType="string" order="BEFORE">
			SELECT
			CASE
			WHEN COUNT(*) = 0 THEN
			CONCAT('dsc', 1)
			ELSE
			CONCAT('dsc',
			MAX(CAST(SUBSTRING_INDEX(detailed_schedule_code, 'dsc', -1) AS
			UNSIGNED))+1)
			END AS detailedSchedule
			FROM
			detailed_schedule;
		</selectKey>

		insert into detailed_schedule VALUES(
		#{detailedSchedule},
		#{userCode},
		<choose>
			<when
				test="learningSchedule == null or learningSchedule == '' or learningSchedule == 'null'">
				NULL
			</when>
			<otherwise>
				#{learningSchedule}
			</otherwise>
		</choose>
		,
		#{smjrcc},
		#{smircc},
		#{detailedScheduleMemo},
		#{detailedScheduleDate},
		#{detailedScheduleStartTime},
		#{detailedScheduleEndTime},
		TIME_FORMAT(TIMEDIFF(#{detailedScheduleEndTime},
		#{detailedScheduleStartTime}), '%H:%i'),
		#{detailedScheduleResult}
		);
	</insert>
	<!-- 상세일정 수정 0 -->
	<update id='modifyDetailedSchedule'
		parameterType="ks52team01.student.study.dto.DetailedSchedule">
		update detailed_schedule
		<trim prefix="SET" suffixOverrides=",">
			<if test="learningSchedule != null and learningSchedule !=''">
				learning_schedule = #{learningSchedule},
			</if>
			<if
				test="detailedScheduleMemo != null and detailedScheduleMemo !=''">
				detailed_schedule_memo = #{detailedScheduleMemo},
			</if>
			<if
				test="detailedScheduleDate != null and detailedScheduleDate !=''">
				detailed_schedule_date = #{detailedScheduleDate},
			</if>
			<if
				test="detailedScheduleStartTime != null and detailedScheduleStartTime !=''">
				detailed_schedule_starttime = #{detailedScheduleStartTime},
			</if>
			<if
				test="detailedScheduleEndTime != null and detailedScheduleEndTime !=''">
				detailed_schedule_endtime = #{detailedScheduleEndTime},
			</if>
			<if
				test="detailedScheduleStudyTime != null and detailedScheduleStudyTime !=''">
				detailed_schedule_studytime = #{detailedScheduleStudyTime},
			</if>
			<if
				test="detailedScheduleResult != null and detailedScheduleResult !=''">
				detailed_schedule_result = #{detailedScheduleResult}
			</if>
		</trim>
		WHERE detailed_schedule_code = #{detailedSchedule};
	</update>
	<!-- 상세일정 삭제 -->
	<delete id='removeDetailedSchedule'
		parameterType="ks52team01.student.study.dto.DetailedSchedule">
		delete FROM detailed_schedule ds where
		ds.detailed_schedule_code = #{detailedSchedule};
	</delete>











	<!-- 석진씨가 담당해야 할 부분들 -->





	<resultMap type="ks52team01.student.study.dto.ProblemScrape"
		id="ProblemScrapeResultMap">
		<id column="question_scrape_code" property="questionScrape" />
		<result column="user_code" property="userCode" />
		<result column="exam_code" property="examCode" />
		<result column="exam_qna_code" property="examQnaCode" />
		<result column="question_scrape_memo"
			property="questionScrapeMemo" />
		<result column="question_scrape_level"
			property="questionScrapeLevel" />
		<result column="question_scrape_time"
			property="questionScrapeCreateTime" />
		<result column="question_scrapemodify_time"
			property="questionScrapeModifyTime" />
		<result column="question_scrape_result"
			property="questionScrapeResult" />

	</resultMap>
	<select id="getProblemScrape" resultMap="ProblemScrapeResultMap">

		SELECT
		question_scrape_code,
		user_code,
		exam_code,
		exam_qna_code,
		question_scrape_memo,
		question_scrape_level,
		question_scrape_time,
		question_scrapemodify_time,
		question_scrape_result

		FROM
		question_scrape;
	</select>

	<!-- 문제스크랩 추가 0 -->
	<insert id='addQuestionScrape'
		parameterType="ks52team01.student.study.dto.ProblemScrape">
		insert into question_scrape VALUES(
		#{questionScrape},
		#{userCode},
		#{examCode},
		#{examQnaCode},
		#{questionScrapeMemo},
		#{questionScrapeLevel},
		now(),
		#{questionScrapeModifyTime},
		#{questionScrapeResult}
		);
	</insert>
	<!-- 문제스크랩 수정 0 -->
	<update id='modifyQuestionScrape'
		parameterType="ks52team01.student.study.dto.ProblemScrape">
		update question_scrape qs SET
		qs.exam_code = #{examCode},
		qs.exam_qna_code = #{examQnaCode},
		qs.question_scrape_memo =
		#{questionScrapeMemo},
		qs.question_scrape_level =
		#{questionScrapeLevel},
		qs.question_scrapemodify_time = NOW(),
		qs.question_scrape_result = #{questionScrapeResult}
		WHERE
		qs.question_scrape_code =
		#{questionScrape};
	</update>
	<!-- 문제스크랩 삭제 -->
	<delete id='removeQuestionScrape'
		parameterType="ks52team01.student.study.dto.ProblemScrape">
		delete FROM question_scrape qs where
		qs.question_scrape_code = #{questionScrape};
	</delete>

	<resultMap type="ks52team01.student.study.dto.ProblemSolving"
		id="ProblemSolvingResultMap">
		<id column="solving_history" property="solvingHistory" />
		<result column="question_scrape_code"
			property="questionScrapeCode" />
		<result column="user_code" property="UserCode" />
		<result column="sub_mjr_cat_code" property="smjcc" />
		<result column="sub_mir_cat_code" property="smicc" />
		<result column="solving_date" property="solvingDate" />
		<result column="qna_code" property="qnaCode" />
		<result column="solving_type" property="solvingType" />
		<result column="solving_qna_type" property="solvingcategory" />
		<result column="solving_history_note"
			property="solvingHistoryNote" />
		<result column="solving_history_count"
			property="solvingHistoryCount" />
	</resultMap>
	<select id="getProblemSolving"
		resultMap="ProblemSolvingResultMap">

		SELECT
		solving_history,
		question_scrape_code,
		user_code,
		sub_mjr_cat_code,
		sub_mir_cat_code,
		solving_date,
		qna_code,
		solving_type,
		solving_qna_type,
		solving_history_note,
		solving_history_count

		FROM
		problem_solving_history;
	</select>

	<insert id='addProblemSolving'
		parameterType="ks52team01.student.study.dto.ProblemSolving">
		insert into problem_solving_history VALUES(
		#{solvingHistory},
		#{questionScrapeCode},
		#{UserCode},
		#{smjcc},
		#{smicc},
		Now(),
		#{qnaCode},
		#{solvingType},
		#{solvingcategory},
		#{solvingHistoryNote},
		#{solvingHistoryCount}
		);
	</insert>
	<!-- 문제스크랩 수정 0 -->
	<update id='modifyProblemSolving'
		parameterType="ks52team01.student.study.dto.ProblemSolving">
		update problem_solving_history psh SET
		psh.question_scrape_code = #{questionScrapeCode},
		psh.sub_mjr_cat_code
		= #{smjcc},
		psh.sub_mir_cat_code = #{smicc},
		psh.solving_date = NOW(),
		psh.qna_code = #{qnaCode},
		psh.solving_type = #{solvingType},
		psh.solving_qna_type = #{solvingcategory},
		psh.solving_history_note =
		#{solvingHistoryNote},
		psh.solving_history_count =
		#{solvingHistoryCount}
		WHERE psh.solving_history = #{solvingHistory};
	</update>
	<!-- 문제스크랩 삭제 -->
	<delete id='removeProblemSolving'
		parameterType="ks52team01.student.study.dto.ProblemSolving">
		delete FROM problem_solving_history psh where
		psh.solving_history = #{solvingHistory};
	</delete>


	<select id="getLearningSchedules"
		resultType="ks52team01.student.study.dto.LearningScheduleDto">
		SELECT
		ls.learning_schedule AS FullSchedule,
		ds.detailed_schedule_code AS detailed,
		ls.user_code AS usercode,
		ls.sub_mjr_cat_code AS submjr,
		ls.sub_mir_cat_code AS submir,
		ls.learning_schedule_memo AS lesMemo,
		ls.learning_schedule_days AS
		days,
		ls.learning_schedule_start AS startDay,
		ls.learning_schedule_end
		AS endDay,
		ls.learning_schedule_compleate AS compleateMemo,
		ds.detailed_schedule_memo AS detailMemo,
		ds.detailed_schedule_date AS
		detailDate,
		ds.detailed_schedule_starttime AS startTime,
		ds.detailed_schedule_endtime AS endTime,
		ds.detailed_schedule_studytime AS studyTime,
		ds.detailed_schedule_result AS result
		FROM
		learning_schedule ls
		right
		JOIN
		detailed_schedule ds
		ON
		ls.learning_schedule = ds.learning_schedule
		where
		ls.user_code = #{id};
	</select>
</mapper>