<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team01.common.mapper.CommonMapper">

	<select id="getPrimaryKey" parameterType="string">
		/* 자동증가코드 생성 */
		SELECT
			CASE
				WHEN COUNT(*) = 0 THEN CONCAT(#{codePattern}, 1)
			ELSE
				CONCAT(#{codePattern}, MAX(CAST(SUBSTRING_INDEX(${columnName}, #{codePattern}, -1) AS UNSIGNED))+1)
			END AS newCode
		FROM
		${tableName};
	</select>

</mapper>







