<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" th:href="@{/user/css/study/exam_new.css}">
	<link rel="stylesheet" th:href="@{/user/css/study/style.css}">
	<link rel="stylesheet" th:href="@{/user/css/study/common(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/layout(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/board(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/past_question.css}">
</head>
<th:block layout:fragment="customJsFile">
	<script th:src="@{/user/js/study/jquery-3.5.1.min.js}"></script>
</th:block>
<th:block layout:fragment="customJs">
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">
		<!-- container -->
		<section class="container">
			<!-- sub_container -->
			<div class="sub_container">

				<!-- Include the sidebar fragment here -->
				<div th:replace="fragments/user/study/sidebar :: sidebar"></div>



				<!-- content -->
				<div class="content">
					<div id="wrap_2014">
						<div class="column_top">
							<!-- 상단 메뉴 시작 -->
							<div class="column_right cust_test" id="contents">
								<div id="tabContent">

									<div class="myWorkbook">
										<div class="sort_select"
											style="width: 150px; margin-bottom: 20px;">
											
										</div>

										<div class="myWorkbook">
											<div class="sort_select"
												style="width: 150px; margin-bottom: 20px;">
												
											</div>
											<div id="MyTestArea">
												<form th:action="@{/study/addDetailedSchedule}" method="post"
													class="insert">
													<!-- 나중에 js로 수정해야 할 부분 -->
												<!-- 	<input type="hidden" name="detailedSchedule" value="second" /> -->
													<input type="hidden" name="userCode" th:value="${session.loggedInUser.userCode}" />  
													<a>추가할 학습계획 선택 : <select name="learningSchedule" style="width: 500px">
															<option value="les1">1번</option>
															<option value="les2">2번</option>
															<option value="les3">3번</option>
													</select>
													</a><br />
													 <a>일정 메모 : <input type="text" name="detailedScheduleMemo" 	style="width: 500px;"></a><br /> 
													 <a>일정 시작 날자 : <input 	type="date" name="detailedScheduleDate" style="width: 500px;"></a><br />
													<a>일정 시작 시간 : <input type="time" name="detailedScheduleStartTime" style="width: 500px;"></a><br /> 
													<a>예상 종료 시간 : <input type="time" name="detailedScheduleEndTime" style="width: 500px;"></a><br />
													<a>예상 소모 시간 : <input type="time" name="detailedScheduleStudyTime" style="width: 500px;"></a><br /> 
													<input type="hidden" name="detailedScheduleResult" style="width: 500px" value="미달성"><br />
													<input type="submit" value="상세 스케쥴 추가"> <br /> <br />
													<br />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>

	</div>
</div>

</html>