<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<link rel="stylesheet" th:href="@{/user/css/study/exam_new.css}">
	<link rel="stylesheet" th:href="@{/user/css/study/style.css}">
	<link rel="stylesheet" th:href="@{/user/css/study/common(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/layout(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/board(1).css}">
	<link rel="stylesheet" th:href="@{/user/css/study/past_question.css}">
</head>
<th:block layout:fragment="customJsFile">
	<script th:src="@{/user/js/study/jquery-3.5.1.min.js}"></script>
</th:block>
<th:block layout:fragment="customJs">
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">
		<!-- container -->
		<section class="container">
			<!-- sub_container -->
			<div class="sub_container">

				<!-- Include the sidebar fragment here -->
				<div th:replace="fragments/user/study/sidebar :: sidebar"></div>



				<!-- content -->
				<div class="content">
					<div id="wrap_2014">
						<div class="column_top">
							<!-- 상단 메뉴 시작 -->
							<div class="column_right cust_test" id="contents">
								<p style="color:black;font-weight: bolder;font-size: 28px;margin-bottom: 40px;">
									문제풀이 리스트
								</p>
								<div id="tabContent">
								

									<div class="myWorkbook">
										<div class="sort_select" style="width:150px;margin-bottom: 20px;">
											<a th:href = "@{/study/addProblem}">문제풀이 생성</a>
										</div>

										<div id="MyTestArea">
											<table class="bot_tbl--type">
												<colgroup>
													<col width="50">
													<col width="50">
													<col width="90">
													<col width="90">
													<col width="90">
													<col width="50">
													<col width="50">
													<col width="50">
													<col width="70">
													<col width="70">
													<col width="70">
												</colgroup>
												<thead>
													<tr>
														<th>문제 스크랩 코드</th>
														<th>유저 코드</th>
														<th>과목 대분류</th>
														<th>과목 중분류</th>
														<th>문제풀이 생성 날짜</th>
														<th>문제 코드</th>
														<th>문제 타입</th>
														<th>풀이 유형</th>
														<th>풀이 노트</th>
														<th>문제 푼 횟수</th>
														<th>다시 풀기</th>
														<th>수정</th>
														<th>삭제</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="list : ${ProblemSolvingList}">

														<td th:text="${list.questionScrapeCode}"></td>
														<td th:text="${list.UserCode}"></td>
														<td th:text="${list.smjcc}"></td>
														<td th:text="${list.smicc}"></td>
														<td th:text="${list.solvingDate}"></td>
														<td th:text="${list.qnaCode}"></td>
														<td th:text="${list.solvingType}"></td>
														<td th:text="${list.solvingcategory}"></td>
														<td th:text="${list.solvingHistoryNote}"></td>
														<td th:text="${list.solvingHistoryCount}"></td>
														<td><a href="#">재풀이 진행</a></td>
														<td><a th:href="@{/study/modifyProblem(list.solvingHistory=*{list.solvingHistory})}">수정</a></td>
														<td><a th:href="@{/study/deleteProblem(list.solvingHistory=*{list.solvingHistory})}">삭제</a></td>
													</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>

</html>