<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<link rel="stylesheet" th:href="@{/user/css/study/exam_new.css}">
<link rel="stylesheet" th:href="@{/user/css/study/common(1).css}">
<link rel="stylesheet" th:href="@{/user/css/study/layout(1).css}">
<link rel="stylesheet" th:href="@{/user/css/study/board(1).css}">
<link rel="stylesheet" th:href="@{/user/css/study/past_question.css}">
<link rel="stylesheet" th:href="@{/user/css/study/bootstrap.min.css}">
</head>
<th:block layout:fragment="customJsFile">
	<script th:src="@{/user/js/study/jquery-3.5.1.min.js}"></script>
</th:block>
<th:block layout:fragment="customJs">
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">
	<!-- container -->
	<section class="container">
		<!-- sub_container -->
		<div class="sub_container">

			<!-- Include the sidebar fragment here -->
			<div th:replace="fragments/user/study/sidebar :: sidebar"></div>



			<!-- content -->
			<div class="content">
				<div id="wrap_2014">
					<div class="column_top">
						<!-- 상단 메뉴 시작 -->
						<div class="column_right cust_test" id="contents">
							<p
								style="color: black; font-weight: bolder; font-size: 28px; margin-bottom: 40px;">
								목표 대학교 추가</p>
							<div id="tabContent">
								<div class="myWorkbook">
									<div class="sort_select"
										style="width: 150px; margin-bottom: 20px;"></div>

									<div id="MyTestArea" class="text-center">
										<form name="universityInsert"th:action="@{/study/addTargetUniversity}" method="post"
											class="insert">
											<input type="hidden" name="usercode"
												th:value="${session.loggedInUser.userCode}" />

											<h3>목표 대학교 추가</h3>

											<!-- 목표 대학교 이름 -->
											<div class="form-group">
												<label for="targetUniversityName">목표 대학교 이름</label> <input
													type="text" name="targetUniversityName"
													id="targetUniversityName" class="form-control"
													style="width: 500px; display: inline-block;">
											</div>

											<!-- 목표 대학교 학과 -->
											<div class="form-group">
												<label for="targetUniversityLesson">목표 대학교 학과</label> <input
													type="text" name="targetUniversityLesson"
													id="targetUniversityLesson" class="form-control"
													style="width: 500px; display: inline-block;">
											</div>

											<!-- 목표 대학교 순위 -->
											<div class="form-group">
												<label for="targetUniversityRangking">목표 대학교 순위</label> <select
													name="targetUniversityRangking"
													id="targetUniversityRangking" class="form-control"
													style="width: 500px; display: inline-block;">
													<option value="1">1순위</option>
													<option value="2">2순위</option>
													<option value="3">3순위</option>
												</select>
											</div>

											<div class="form-group">
												<input type="submit" value="목표 대학교 추가"
													class="btn btn-primary" />
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
</div>

</html>