
body { 
	background: #ffffff !important;
  	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	  flex-direction: column;
}

#wrapper {
	width: 100%; /* 전체 너비 차지 */
	  display: flex;
	  flex-direction: column;
	  align-items: center; /* 가운데 정렬 */
	  padding: 20px;
}

#container {
  width: 80%;
	  max-width: 1200px;
	  margin: 0 auto;
	  flex-grow: 1; /* 남은 공간을 차지 */
}


.user_delete {
	width: 100%;
	  margin-bottom: 50px; /* 콘텐츠 간의 간격 추가 */
	  padding: 20px;
	  margin-left:25%;
}

.user_delete_message, .dropout_reason, .verification {
  margin-bottom: 30px; /* 각 섹션 간의 간격 확보 */
}

.user_delete_message{
	width: 80%;
	height:100px;
	text-align: center;
	
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 30px;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
	box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
}
.user_delete_message h1{
	font-size: 17px !important;
	margin-top:-5px;
}
.user_delete_message p{
	color:#005aa7 !important;
	font-size: 13px !important;
}
.user_delete_message2{
	font-size: 15px;
	text-align: center;
}
.user_delete_message3 {
  margin-top: 30px; /* 위의 요소와의 간격을 추가 */
  position: relative;
  top: -100px; /* 위로 이동 */
}

.dropout_reason{
	width: 80%; 
	height: 100px;
	margin-top:70px;
}
.reason_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.reason_table td {
    padding: 15px;
    border: 1px solid #ccc;
}
.reason_table input[type="radio"] {
    margin-right: 10px;
}

.verification{
	clear: both;
    position: relative;
    top: -120px; /* 위로 이동 */
}

	
.verification .input-group input {
  font-size: 15px;
  color: #222222;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
  z-index: 5;
}
[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.1s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid #4686B8;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #4686B8;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}



fieldset {
  justify-content: center;
  border: none;
  margin: 0;
  padding: 40px 20px;
}

.input-group input[type="text"] {
  width: 50%; /* 입력칸의 너비를 조절 */
}

.input-group input[type="submit"] {
  padding: 8px 16px; /* 버튼 크기를 조절 */
  box-shadow: none;
  color:white;
}
