<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<title>MOMO</title>
<link href="/user/css/user/user_join.css" rel="stylesheet">
<script charset="UTF-8" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	$('#some-select').prop('disabled', true).niceSelect('update');
</script>
</head>
<div layout:fragment="content">
	<div id="momoDefault">
		<body>
			<hr>
			<!-- 콘텐츠 시작 { -->
			<div class="wrapper">
				<div id="formContent">
					<form id="fregisterform" name="fregisterform" action="/user/userJoinAction"
						onsubmit="return fregisterform_submit(this);" method="post" enctype="multipart/form-data"
						autocomplete="off">
						<div id="register_form" class="form_01">
							<h3> 회원가입 정보 </h3>
							<div class="regi_table">
								<table>
									<caption>사이트 이용정보 입력</caption>
									<colgroup>
										<col width="130">
										<col width="*">
									</colgroup>
									<tbody>
										<tr>
											<th scope="row"><label for="reg_mb_id" class="req">아이디</label></th>
											<td>
												<input type="text" name="userId" value="" id="reg_mb_id" required=""
													class="reg_input" minlength="4" maxlength="20"
													placeholder="영문소문자/숫자, 8~20자">
												<span id="msg_mb_id" class="reg_msg"></span>
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="reg_mb_password" class="req">비밀번호</label>
											</th>
											<td>
												<input type="password" name="userPw" id="reg_mb_password" required=""
													class="reg_input" minlength="3" maxlength="20"
													placeholder="영문대소문자/숫자/특수문자, 8~20자">
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="reg_mb_password_re" class="req">비밀번호
													확인</label></th>
											<td>
												<input type="password" name="userPwCheck" id="reg_mb_password_re"
													required="" class="reg_input" minlength="3" maxlength="20">
												<span id="msg_mb_pw" class="reg_msg"></span>
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="reg_mb_name" class="req">이름</label></th>
											<td>
												<input type="text" id="reg_mb_name" name="userName" value="" required=""
													class="reg_input">
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="userZip" class="req">주소</label></th>
											<td>
												<input type="text" name="userZip" value="" id="userZip" required=""
													class="reg_input" style="width:30%;" maxlength="6" placeholder="우편번호">
												<button type="button" class="btn_frmline" style="line-height: 38px;"
													onclick="findAddr();">주소검색</button><br>
												<input type="text" name="userAddress" value="" id="userAddress"
													required="" class="reg_input" placeholder="기본주소">
												<input type="text" name="userDetailAddress" value="" id="userDetailAddress"
													class="reg_input" placeholder="상세주소">
											</td>
										</tr>


										<tr>
											<th scope="row"><label for="reg_mb_hp" class="req">휴대전화</label></th>
											<td>
												<div class="telselect_wrap">
													<select name="hp1" id="hp1" class="reg_input" required="">
														<option value="010">010</option>
														<option value="011">011</option>
														<option value="016">016</option>
														<option value="017">017</option>
														<option value="018">018</option>
														<option value="019">019</option>
													</select> <b>-</b>
													<input type="text" name="hp2" value="" id="hp2" class="reg_input"
														maxlength="4" required=""> <b>-</b>
													<input type="text" name="hp3" value="" id="hp3" class="reg_input"
														maxlength="4" required="">
												</div>

												<input type="hidden" name="userPhone" value="" id="reg_mb_hp">

												<input type="hidden" name="old_mb_hp" value="">
											</td>
										</tr>
										<tr>
											<th scope="row"><label for="reg_mb_email" class="req">이메일</label></th>
											<td>
												<input type="hidden" name="old_email" value="">
												<div class="emailselect_wrap">
													<input type="text" name="email1" value="" id="email1"
														class="reg_input" maxlength="20" required="">
													<b>@</b>
													<input type="text" name="email2" value="" id="email2"
														class="reg_input" maxlength="20" required="" readonly="">
													<select name="email3" id="email3" class="reg_input" required="">
														<option value="">선택하세요</option>
														<option value="직접입력">직접입력</option>
														<option value="naver.com">naver.com</option>
														<option value="gmail.com">gmail.com</option>
														<option value="hanmail.com">hanmail.com</option>
													</select>
												</div>
												<input type="hidden" name="userEmail" value="" id="reg_mb_email">
												<span id="msg_mb_email" class="reg_msg"></span>
											</td>
										</tr>
										<tr>
											<th scope="row"><label class="req">생년월일</label></th>
											<td>
												<div class="telselect_wrap">
													<select name="birthYear" id="birth1" class="reg_input" required="">
														<option value="2024">2024</option>
														<option value="2023">2023</option>
														<option value="2022">2022</option>
														<option value="2021">2021</option>
														<option value="2020">2020</option>
														<option value="2019">2019</option>
														<option value="2018">2018</option>
														<option value="2017">2017</option>
														<option value="2016">2016</option>
														<option value="2015">2015</option>
														<option value="2014">2014</option>
														<option value="2013">2013</option>
														<option value="2012">2012</option>
														<option value="2011">2011</option>
														<option value="2010">2010</option>
														<option value="2009">2009</option>
														<option value="2008">2008</option>
														<option value="2007">2007</option>
														<option value="2006">2006</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
													</select>
													<select name="birthMonth" id="birth2" class="reg_input" required="">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
													<select name="birthDay" id="birth3" class="reg_input" required="">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14">14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="31">31</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label class="req">성별</label></th>
											<td>
												<div class="telselect_wrap">
													<select name="userGender" id="gender" class="reg_input" required="">
														<option value="m">남</option>
														<option value="f">여</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label>학교</label></th>
											<td>
												<input type="text" id="userSchool" name="userSchool" value=""
													class="reg_input">
											</td>
										</tr>
										<tr>
											<th scope="row"><label>학년</label></th>
											<td>
												<div class="telselect_wrap">
													<select name="userLevel" id="userLevel" class="reg_input">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row"><label>계열</label></th>
											<td>
												<div class="telselect_wrap">
													<select name="userSerial" id="userSerial" class="reg_input">
														<option value="aff1">인문계</option>
														<option value="aff2">실업계</option>
													</select>
												</div>
											</td>
										</tr>
									</tbody>

								</table>
							</div>
							<div class="btn_confirm">
								<input type="button" class="btn_cancel" value="CANCLE" onClick="location.href='/'">
								<input type="submit" class="btn_submit" value="JOIN">
							</div>
						</div>
					</form>

					<script>
						function findAddr() {
							new daum.Postcode({
								oncomplete: function (data) {
									// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

									// 각 주소의 노출 규칙에 따라 주소를 조합한다.
									// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
									var addr = ''; // 주소 변수

									//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
									if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
										addr = data.roadAddress;
									} else { // 사용자가 지번 주소를 선택했을 경우(J)
										addr = data.jibunAddress;
									}

									// 우편번호와 주소 정보를 해당 필드에 넣는다.
									document.getElementById('userZip').value = data.zonecode;
									document.getElementById('userAddress').value = addr;
									// 커서를 상세주소 필드로 이동한다.
									document.getElementById('userDetailAddress').focus();
								}
							}).open();
						}
					</script>

					<!-- } 회원정보 입력/수정 끝 -->
				</div>

			</div>
			<!-- } 콘텐츠 끝 -->
		</body>
	</div>
</div>
</html>