<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
</head>
<th:block layout:fragment="customJsFile">
</th:block>
<th:block layout:fragment="customJs">
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		
		
	</div>

</html>