<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<link rel="stylesheet" type="text/css" href="/admin/css/exam/adminExamAddQuestion/admin.css" />
	<link rel="stylesheet" type="text/css" href="/admin/css/exam/adminExamAddQuestion/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

	<style>
		/* ---------------------------- */
		/* 숨겨진 파일 입력 */
		#fileInput {
			display: none;
		}



		/* 파일 이름 텍스트 */
		#fileName {
			margin-left: 10px;
			color: #555;
			font-style: italic;
		}

		#fileList {
			list-style-type: none;
			padding: 0;
			border: 1px solid #ccc;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		#fileList li {
			padding: 10px;
			border-bottom: 1px solid #eee;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		#fileList li:last-child {
			border-bottom: none;
		}

		.remove-button {
			background-color: #ff4d4d;
			color: white;
			border: none;
			border-radius: 5px;
			padding: 5px 10px;
			cursor: pointer;
		}

		.remove-button:hover {
			background-color: #e60000;
		}

		.thumbnail {
			width: 50px;
			/* 썸네일의 너비 */
			height: auto;
			/* 높이는 비율에 따라 자동으로 설정 */
			margin-right: 10px;
			/* 이미지와 텍스트 사이의 간격 */
		}

		.modal {
			display: none;
			/* 모달이 열릴 때만 display: block; 으로 전환 */
			position: fixed;
			z-index: 1000;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.modal-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			max-width: 800px;
			background-color: #fff;
			padding: 20px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
			text-align: center;
		}

		.image-container {
			margin-top: 15px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.image-container img {
			width: 60%;
			/* 기본 크기를 적당히 설정 */
			max-width: 80vw;
			/* 가로 최대 크기를 화면 가로의 80%로 제한 */
			max-height: 80vh;
			/* 세로 최대 크기를 화면 세로의 80%로 제한 */
			object-fit: contain;
			/* 이미지 비율 유지 */
			margin: 0 auto;
		}

		.folder-name-header {
			font-size: 1.5em;
			/* 폰트 크기 조정 */
			font-weight: bold;
			/* 두껍게 */
			color: rgb(0, 0, 0);
			/* 색상 변경 (파란색 계열) */
			margin-bottom: 5px;
			/* 아래쪽 여백 추가 (경계선과의 거리 조정) */
			border-bottom: 3px solid #ddd;
			/* 아래쪽 경계선 추가 */
			padding-bottom: 10px;
			/* 아래쪽 패딩 추가 (경계선과의 거리 조정) */
		}

		/* 캐러셀 css */
		/* 캐러셀 컨테이너 스타일 */
		.carousel-container {
			width: 80%;
			max-width: 600px;
			margin: auto;
			overflow: hidden;
			position: relative;
		}

		/* 슬라이드 래퍼 */
		.carousel-slide {
			display: flex;
			transition: transform 0.5s ease;
		}

		/* 슬라이드 이미지 */
		.carousel-slide img {
			width: 100%;
			flex: 0 0 100%;
		}

		/* 네비게이션 버튼 */
		.carousel-button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 24px;
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			border: none;
			padding: 10px;
			cursor: pointer;
		}

		.prev-btn {
			left: 10px;
		}

		.next-btn {
			right: 10px;
		}

		.conceal {
			display: none;
		}
	</style>
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
	<!-- Include the Korean language file -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
	<!-- Select2 JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<!-- bootstrap v4.6 cdn-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#summernote').summernote({
				height: 300,  // 고정된 높이
				minHeight: 300,  // 최소 높이 설정 (고정)
				maxHeight: 300,  // 최대 높이 설정 (고정)
				placeholder: '이미지 삽입후 삭제시 꼭 이미지 클릭후 삭제버튼을 눌러주세요',  // 플레이스홀더
				focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
				lang: "ko-KR",                // 한글 설정
				callbacks: {
					onImageUpload: function (files) {
						var data = new FormData();
						data.append("file", files[0]); // 단일 파일만 업로드

						$.ajax({
							url: "/admin/exam/upload/image", // 이미지 업로드 API
							type: "POST",
							data: data,
							contentType: false,
							processData: false
						}).done(function (response) {
							// 업로드된 이미지 경로를 Summernote에 삽입
							$('#summernote').summernote('insertImage', response);
						}).fail(function (err) {
							console.error("이미지 업로드 실패", err);
						});
					},
					onMediaDelete: function ($target) {
						var filePath = $target.attr('src'); // 삭제할 이미지 경로

						$.ajax({
							url: "/admin/exam/delete/summerNoteImage", // 이미지 삭제 API
							type: "POST",
							data: {filePath: filePath}
						}).done(function (response) {
							console.log(response); // 삭제 성공 메시지
						}).fail(function (err) {
							console.error("이미지 삭제 실패", err);
						});
					},
					onChange: function (contents, $editable) {
						// console.log('Content changed:', contents);
					}
				},
				toolbar: [
					['fontname', ['fontname']],
					['fontsize', ['fontsize']],
					['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
					['color', ['forecolor', 'backcolor']],
					['table', ['table']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']],
					['insert', ['picture', 'link', 'hr']],
					['view', ['fullscreen', 'codeview', 'help']],
				],
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '돋움체', '바탕체'],
				fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
				airMode: false,
				disableResize: false,
			});

			var qnaQst = /*[[${qnaBankInfo.qnaQst}]]*/[];
			$('#summernote').summernote('code', qnaQst); // Summernote에 코드 로드

		});

		// Select2 초기화
		$('.js-example-basic-single').select2({
			minimumResultsForSearch: 0, // 검색 기능 활성화
			language: {
				noResults: function () {
					return "검색 결과가 없습니다"; // 사용자 정의 메시지
				}
			}
		});
		$('#goQuestionList').click(function () {
			location.href = "/admin/exam/questionList";
		})

		$('select[name="item_cnt"]').click(function () {
			if ($('select[name="item_cnt"]').val() == "4") {
				$('input[name="qnaSlt5"]').closest('tr').css('display', 'none');
				$('input[name="qnaSlt5"]').prop('disabled', 'true');
			}
			if ($('select[name="item_cnt"]').val() == "5") {
				$('input[name="qnaSlt5"]').closest('tr').css('display', '');
				$('input[name="qnaSlt5"]').prop('disabled', '');
			}
		})

		// ---------------------------------------------------

		var qnaTypeList = /*[[${qnaTypeList}]]*/[];
		var qnaChapList = /*[[${qnaChapList}]]*/[];
		var categoryList = /*[[${categoryList}]]*/[];
		console.log(categoryList)
		// 초기 옵션을 저장
		const initialQnaChapList = $('#qnaChapList').html();
		const initialQnaTypeListList = $('#qnaTypeList').html();

		$('#categoryList').change(function () {
			if ($(this).val() == '') {
				$('#qnaChapList').html(initialQnaChapList);
				$('#qnaTypeList').html(initialQnaTypeListList);
			} else {
				$('#qnaChapList').empty();
				$('#qnaTypeList').empty();

				// 전체 카테고리 리스트에서 select에서 현재 선택한 smjrcc를 찾아서 hidden에 부여
				categoryList.forEach(element => {
					if ($(this).val() == element['subMirCatCode']) {
						$('#categorySubMjrCatCode').val(element['subMjrCatCode'])
					}
				})

				// select에서 선택한 smircc를 기반으로 전체 단원목록에서 해당부분만 추출해 단원 select를 생성
				qnaChapList.forEach(element => {
					if (element['subMirCatCode'] == $(this).val()) {
						$('#qnaChapList').append($('<option/>').val(element['examQnaChapCode']).text(element['examQnaChapNm']));
					}
				})
				// 위에서 부여한 hidden의 value를 기반으로 타입리스트를 순회해서 타입 select를 생성
				qnaTypeList.forEach(element => {
					if (element['subMjrCatCode'] == $('#categorySubMjrCatCode').val()) {
						$('#qnaTypeList').append($('<option/>').val(element['examQnaTypeCode']).text(element['examQnaTypeNm']));
					}
				})


				// 점수버튼 활성화 비활성화
				if ($('#categorySubMjrCatCode').val() == "smjrcc2") {
					$('input[name="qnaScr"]').eq(3).prop('disabled', false);
				} else {
					$('input[name="qnaScr"]').eq(3).prop('disabled', true);
				}

				if ($('#categorySubMjrCatCode').val() == "smjrcc8") {
					$('input[name="qnaScr"]').eq(0).prop('disabled', false);
					$('input[name="qnaScr"]').eq(2).prop('disabled', true);
				} else {
					$('input[name="qnaScr"]').eq(0).prop('disabled', true);
					$('input[name="qnaScr"]').eq(2).prop('disabled', false);
				}



			}
		});
		// ------------- 이미지 모달 ------------------------------
		// 모달을 여는 함수
		function openModal(modalId) {
			var modal = document.getElementById(modalId);
			if (!modal) {
				alert('해당 이미지가 없습니다');
				return;
			}
			modal.style.display = "block"; // 모달을 보이게 함
		}

		// 모달을 닫는 함수
		function closeModal(modalId) {
			var modal = document.getElementById(modalId);
			modal.style.display = "none"; // 모달을 숨김
		}

		// 모달 외부 클릭 시 닫기
		window.onclick = function (event) {
			var modals = document.getElementsByClassName('modal');
			for (let modal of modals) { // 'for (let modal of modals)'로 수정
				if (event.target === modal) {
					closeModal(modal.id);
				}
			}
		}

		$('.closeModal').click(function () {
			const parentId = $(this).closest('.modal').attr('id');
			closeModal(parentId);
		});

		$('#customButton').click(function () {
			$('#fileInput').click();
		})

		/* 캐러셀 javascript */
		let currentSlide = 0;

		function moveSlide(direction) {
			const slides = document.querySelectorAll('.carousel-slide img');
			const totalSlides = slides.length;

			// 슬라이드 이동
			currentSlide = (currentSlide + direction + totalSlides) % totalSlides;
			document.querySelector('.carousel-slide').style.transform = `translateX(-${currentSlide * 100}%)`;

			$('h2[name="qnaImgTitle"]').removeClass('conceal').addClass('conceal');

			$('h2[name="qnaImgTitle"]').eq(currentSlide).removeClass('conceal');
		}

		$('button').filter(function () {
			return $(this).text() === '삭제';
		}).click(function () {
			//console.log($(this).siblings('h2').not('.conceal').text());
			const isDelete = confirm('정말로 해당 이미지를 삭제하시겠습니까?');

			const $newForm = $('<form action="/admin/exam/deleteImg" method="post"/>')
			const $qnaCode = $('<input type="hidden" name="qnaCode"/>').val($('input[name="qnaCode"]').val());
			const $qnaImgOriginalName = $('<input type="hidden" name="qnaImgOriginalName"/>').val($(this).siblings('h2').not('.conceal').text());
			$newForm.append($qnaCode);
			$newForm.append($qnaImgOriginalName);
			$('body').append($newForm); // 폼을 body에 추가
			if (isDelete)
				$newForm.submit();
		})
	</script>
</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button">
				<i class="fa fa-angle-left"></i>
			</button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">문제은행</span>

				<button type="button" class="btn_simp yellow">
					<i class="fa fa-star"></i>
					퀵메뉴추가
				</button>

			</div>
			<div id="sys-page-util">
				<a id="sys-page-util-refresh">
					<i class="fa fa-retweet"></i>
				</a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="alert_area"></div>
				<div id="sys-contents">
					<form name="adminModifyQuestionForm" action="/admin/exam/modifyQuestion" method="post"
						enctype="multipart/form-data">

						<input type="hidden" name="qnaCode" th:value="${qnaBankInfo.qnaCode}" />
						<input type="hidden" name="qnaCreateTime" th:value="${qnaBankInfo.qnaCreateTime}" />
						<input type="hidden" id="categorySubMjrCatCode" name="subMjrCatCode"
							th:value="${qnaBankInfo.subMjrCatCode}" />
						<table class="c_tb01" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td class="c_th01">수정</td>
									<td class="c_td01"></td>
								</tr>
							</tbody>
						</table>

						<table class="f_tb01" cellpadding="0" cellspacing="0" style="table-layout:fixed;">
							<colgroup>
								<col width="120" />
								<col />
								<col width="120" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<td class="f_th01">문항 생성시간</td>
									<td class="f_td01">
										<span
											th:text="${#dates.format(qnaBankInfo.qnaCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
									</td>
									<td class="f_th01">문항 수정시간</td>
									<td class="f_td01">
										<span
											th:text="${#dates.format(qnaBankInfo.qnaUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 카테고리</td>
									<td class="f_td01" colspan="3">
										<select id="categoryList" name="subMirCatCode" class="js-example-basic-single"
											required>
											<option value=""> - 전체 - </option>
											<option th:if="${categoryList != null}" th:each="cl : ${categoryList}"
												th:text="${cl.subMirCatNm == '통합국어' || cl.subMirCatNm == '통합수학' || cl.subMirCatNm == '통합사회' || cl.subMirCatNm == '통합과학' ? cl.subMjrName + ' > (중등과정) ' + cl.subMirCatNm :(cl.subMjrName =='한국사')?cl.subMjrName + ' > ' + '한국사': cl.subMjrName + ' > ' + cl.subMirCatNm}"
												th:value="${cl.subMirCatCode}"
												th:selected="${cl.subMirCatCode == qnaBankInfo.subMirCatCode}">
											</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 출제단원</td>
									<td class="f_td01" colspan="3">
										<select id="qnaChapList" name="qnaChap" class="js-example-basic-single">
											<option value=""> - 전체 - </option>
											<option th:if="${qnaChapList !=null}" th:each="qcl:${qnaChapList}"
												th:text="${qcl.examQnaChapNm}" th:value="${qcl.examQnaChapCode}"
												th:selected="${qcl.examQnaChapCode == qnaBankInfo.qnaChap}">
											</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 출제유형</td>
									<td class="f_td01" colspan="3">
										<select id="qnaTypeList" name="qnaType" class="js-example-basic-single">
											<option value=""> - 전체 - </option>
											<option th:if="${qnaTypeList !=null}" th:each="qtl:${qnaTypeList}"
												th:text="${qtl.examQnaTypeNm}" th:value="${qtl.examQnaTypeCode}"
												th:selected="${qtl.examQnaTypeCode==qnaBankInfo.qnaType}">
											</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 제목</td>
									<td class="f_td01" colspan="3">
										<input type="text" name="qnaSubject" style="width:99%" required
											th:value="${qnaBankInfo.qnaSubject}" />
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 배점</td>
									<td class="f_td01" colspan="3">

										<label>
											<input type="radio" name="qnaScr" value="1" class="ipt01"
												th:disabled="${qnaBankInfo.qnaScr != 1}"
												th:checked="${qnaBankInfo.qnaScr == 1}" /> 1
										</label>
										&nbsp;

										<label>
											<input type="radio" name="qnaScr" value="2" class="ipt01" required
												th:checked="${qnaBankInfo.qnaScr == 2}" /> 2
										</label>
										&nbsp;

										<label>
											<input type="radio" name="qnaScr" value="3" class="ipt01"
												th:checked="${qnaBankInfo.qnaScr == 3}" /> 3
										</label>
										&nbsp;

										<label>
											<input type="radio" name="qnaScr" value="4" class="ipt01"
												th:disabled="${qnaBankInfo.qnaScr != 4}"
												th:checked="${qnaBankInfo.qnaScr == 4}" /> 4
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제 내용</td>
									<td class="f_td01" colspan="3">
										<div style="width:100%;">
											<textarea id="summernote" name="qnaQst"
												th:value="qnaBankInfo.qnaQst"></textarea>
										</div>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제이미지</td>
									<td class="f_td01" colspan="3">
										<!-- 실제 파일 입력 (숨김) -->
										<input type="file" id="fileInput" name="fileInput" accept="image/*" multiple>

										<button type="button" onclick="openModal('fileInputImg')" class="bttn2">
											이미지보기
										</button>


										<!-- 커스텀 버튼과 파일 이름 표시 -->
										<button type="button" id="customButton" class="bttn2">파일 선택</button>

										<span id="fileName">선택된 파일이 없습니다.</span> <!-- 파일명을 표시하는 텍스트 -->

										<ul id="fileList"></ul>
									</td>
								</tr>
								<tr>
									<td class="f_th01">문제유형</td>
									<td class="f_td01">
										<select name="question_type">
											<option value="1">단일선택</option>
											<option value="2" disabled>다중선택</option>

										</select>
									</td>
									<td class="f_th01">문항 갯수</td>
									<td class="f_td01">
										<select name="item_cnt">
											<option value="4">4개</option>
											<option value="5" selected>5개</option>
										</select>
									</td>
								</tr>
								<tr id="item_tr" style="display: none;">
									<td class="f_th01">문항</td>
									<td class="f_td01" colspan="3">
										<table class="l_tb01" cellpadding="0" cellspacing="0">
											<colgroup>
												<col width="40" />
												<col width="40" />
												<col />
											</colgroup>
											<tbody>
												<tr>
													<td class="l_th03">정답</td>
													<td class="l_th03">번호</td>
													<td class="l_th03">내용</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr id="item_tr" style="display: table-row;">
									<td class="f_th01">문항</td>
									<td class="f_td01" colspan="3">
										<table class="l_tb01" cellpadding="0" cellspacing="0">
											<colgroup>
												<col width="40">
												<col width="40">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th class="l_th03">정답</th>
													<th class="l_th03">번호</th>
													<th class="l_th03">내용</th>
												</tr>
											</tbody>
											<tbody id="item_area">

												<tr style="display: table-row;">
													<td class="l_td01">
														<div style="text-align:center">
															<input type="radio" name="qnaAns" value="1" required
																th:checked="${qnaBankInfo.qnaAns ==1}">
														</div>
													</td>
													<td class="l_td01" align="center">1</td>
													<td class="l_td01">
														<input type="text" name="qnaSlt1" size="95" required
															th:value="${qnaBankInfo.qnaSlt1}">
														<button type="button" onclick="openModal('item1_file')"
															class="bttn2">
															이미지보기
														</button>
														<p class="mt3">
															<input type="file" name="item1_file" size="80"
																style="border:1px solid #d1d1d1;">
														</p>

													</td>
												</tr>

												<tr style="display: table-row;">
													<td class="l_td01">
														<div style="text-align:center">
															<input type="radio" name="qnaAns" value="2"
																th:checked="${qnaBankInfo.qnaAns ==2}">
														</div>
													</td>
													<td class="l_td01" align="center">2</td>
													<td class="l_td01">
														<input type="text" name="qnaSlt2" size="95" required
															th:value="${qnaBankInfo.qnaSlt2}">
														<button type="button" onclick="openModal('item2_file')"
															class="bttn2">
															이미지보기
														</button>
														<p class="mt3">
															<input type="file" name="item2_file" size="80"
																style="border:1px solid #d1d1d1;">
														</p>

													</td>
												</tr>

												<tr style="display: table-row;">
													<td class="l_td01">
														<div style="text-align:center">
															<input type="radio" name="qnaAns" value="3"
																th:checked="${qnaBankInfo.qnaAns ==3}">
														</div>
													</td>
													<td class="l_td01" align="center">3</td>
													<td class="l_td01">
														<input type="text" name="qnaSlt3" size="95" required
															th:value="${qnaBankInfo.qnaSlt3}">
														<button type="button" onclick="openModal('item3_file')"
															class="bttn2">
															이미지보기
														</button>
														<p class="mt3">
															<input type="file" name="item3_file" size="80"
																style="border:1px solid #d1d1d1;">
														</p>

													</td>
												</tr>

												<tr style="display: table-row;">
													<td class="l_td01">
														<div style="text-align:center">
															<input type="radio" name="qnaAns" value="4"
																th:checked="${qnaBankInfo.qnaAns ==4}">
														</div>
													</td>
													<td class="l_td01" align="center">4</td>
													<td class="l_td01">
														<input type="text" name="qnaSlt4" size="95" required
															th:value="${qnaBankInfo.qnaSlt4}">
														<button type="button" onclick="openModal('item4_file')"
															class="bttn2">
															이미지보기
														</button>
														<p class="mt3">
															<input type="file" name="item4_file" size="80"
																style="border:1px solid #d1d1d1;">
														</p>

													</td>
												</tr>

												<tr style="display: table-row;">
													<td class="l_td01">
														<div style="text-align:center">
															<input type="radio" name="qnaAns" value="5"
																th:checked="${qnaBankInfo.qnaAns ==5}">
														</div>
													</td>
													<td class="l_td01" align="center">5</td>
													<td class="l_td01">
														<input type="text" name="qnaSlt5" size="95" required
															th:value="${qnaBankInfo.qnaSlt5}">
														<button type="button" onclick="openModal('item5_file')"
															class="bttn2">
															이미지보기
														</button>
														<p class="mt3">
															<input type="file" name="item5_file" size="80"
																style="border:1px solid #d1d1d1;">
														</p>

													</td>
												</tr>

											</tbody>
										</table>
									</td>
								</tr>

								<tr>
									<td class="f_th01">정답설명</td>
									<td class="f_td01" colspan="3">
										<textarea name="qnaCmt" id="textarea1" style="width:99%;height:150px;"
											class="mceNoEditor" placeholder="여기에 설명을 입력하세요" required
											th:text="${qnaBankInfo.qnaCmt}"></textarea>
									</td>
								</tr>
								<tr>
									<td class="f_th01">정답설명이미지</td>
									<td class="f_td01" colspan="3">
										<input type="file" name="question_file" size="90"
											style="border:1px solid #D1D1D1;" />
										<button type="button" onclick="openModal('question_file')" class="bttn2">
											이미지보기
										</button>
									</td>
								</tr>
								<tr>
									<td class="f_th01">출제자</td>
									<td class="f_td01" colspan="3">
										<select name="userCode" class="js-example-basic-single">
											<option value=""> - 담당자 선택 - </option>
											<!-- <option th:if="${userList !=null}" th:each="ul:${userList}"
												th:text="'['+${ul.userId}+'] '+${ul.userName}"
												th:selected="${ul.userId == session.loggedInUser.userId}"></option>-->
											<option th:if="${userList !=null}" th:each="ul:${userList}"
												th:text="'['+${ul.userId}+'] '+${ul.userName}"
												th:selected="${ul.userCode == qnaBankInfo.userCode}"
												th:value="${ul.userCode}">
											</option>
										</select>
									</td>
								</tr>

								<tr>
									<td class="f_th01">상태</td>
									<td class="f_td01" colspan="3">

										<label>
											<input type="radio" name="qnaCurExamState" value="Y" class="ipt01" required
												th:checked="${qnaBankInfo.qnaCurExamState =='Y'}" /> 사용
										</label>
										&nbsp;

										<label>
											<input type="radio" name="qnaCurExamState" value="N" class="ipt01"
												th:checked="${qnaBankInfo.qnaCurExamState =='N'}" /> 중지
										</label>
										&nbsp;
									</td>
								</tr>
							</tbody>
						</table>
						<table class="b_tb01" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<button type="button" class="bttn2" id="goQuestionList">목록</button>
									</td>
									<td class="b_td01">
										<button type="submit" class="bttn2">수정</button>
										<button type="reset" class="bttn2">초기화</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 모달 -->
	<div th:if="${qnaImgList != null}">
		<div th:each="qil : ${qnaImgList}" th:id="${qil.qnaImgType}" class="modal">
			<div class="modal-content">
				<h2 class="folder-name-header" th:text="${qil.qnaImgOriginalName}"></h2>
				<div class="image-container">
					<img th:src="|@{${qil.qnaImgPath}}|" th:alt="${qil.qnaImgOriginalName}" style="width: 90%;" />
				</div>
				<button type="button" class="bttn2 closeModal"
					style="float:right !important;margin-left: 10px;">닫기</button>
				<button type="button" class="bttn2" style="float:right !important;" id="deleteImgBtn">삭제</button>
			</div>
		</div>
	</div>
	<div id="fileInputImg" class="modal" th:if="${qnaImgFileInputList !=null && qnaImgFileInputList.size()>0}">
		<div class="modal-content">
			<h2 th:class="${status.index == 0} ? 'folder-name-header' : 'folder-name-header conceal'"
				th:each="qifil,status:${qnaImgFileInputList}" name="qnaImgTitle" th:text="${qifil.qnaImgOriginalName}">
				test1</h2>
			<div class="image-container">
				<div class="carousel-container">
					<div class="carousel-slide">
						<img th:each="qifil:${qnaImgFileInputList}" th:src="|@{${qifil.qnaImgPath}}|"
							th:alt="${qifil.qnaImgOriginalName}" style="width: 90%;" />
					</div>
					<button class="carousel-button prev-btn" onclick="moveSlide(-1)">&#10094;</button>
					<button class="carousel-button next-btn" onclick="moveSlide(1)">&#10095;</button>
				</div>
			</div>
			<button type="button" class="bttn2 closeModal" style="float:right !important;margin-left: 10px;">닫기</button>
			<button type="button" class="bttn2" style="float:right !important;">삭제</button>
		</div>
	</div>

</div>

</html>