<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<style>
		.flatpickr-current-month {
			background-color: rgba(70, 134, 184, 1);
			/* 배경색 */
			color: white;
			/* 글자색 */
			font-size: 1.2em;
			/* 글자 크기 */

			border-radius: 8px;
			/* 둥근 모서리 */
			text-align: center;
			/* 중앙 정렬 */
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			/* 그림자 효과 */
		}

		.flatpickr-monthDropdown-month {
			color: black;
		}


		.flatpickr-current-month .flatpickr-prev-month,
		.flatpickr-current-month .flatpickr-next-month {
			color: white;
			/* 화살표 색상 */
			cursor: pointer;
			/* 커서 포인터 */
			transition: color 0.3s;
			/* 색상 변경 효과 */
			margin-bottom: 5px;
		}

		.flatpickr-current-month .flatpickr-prev-month:hover,
		.flatpickr-current-month .flatpickr-next-month:hover {
			color: #FFD700;
			/* 호버 시 색상 변경 */
		}
	</style>
</head>
<th:block layout:fragment="customJsFile">

	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- jQuery UI CSS -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- jQuery UI JS -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Select2 CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<!-- Select2 JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<!-- flatpickr JS -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/l10n/ko.js"></script>



</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(document).ready(function () {
			$('.js-example-basic-single').select2({
				placeholder: "카테고리를 선택하세요",
				allowClear: true,
				language: {
					noResults: function () {
						return "해당 검색 내용이 없습니다";  // 검색 결과가 없을 때 표시될 메시지
					}
				},
				escapeMarkup: function (markup) {
					return markup;
				},
				minimumResultsForSearch: 0,  // 검색 입력창 항상 보이게 설정
				width: 'resolve'  // 드롭다운의 너비를 자동으로 조정
			});
		});

		$(function () {
			var picker = flatpickr(".flatpicker", {locale: "ko"});
		})
		$('#addExamBtn').click(function () {
			location.href = "/admin/exam/management";
		})
	</script>


</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button"><i class="fa fa-angle-left"></i></button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">시험관리</span>
				<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->
				<button type="button" class="btn_simp yellow"><i class="fa fa-star"></i>
					퀵메뉴추가</button>

			</div>
			<div id="sys-page-util">

				<a id="sys-page-util-refresh" href="javascript:window.location.reload(true);"><i
						class="fa fa-retweet"></i></a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="alert_area"></div>
				<div id="sys-contents">
					<form name="form1" method="get">

						<table class="t_tb01" cellpadding="0" cellspacing="0">
							<colgroup>
								<col class="col-width-120" />
								<col />
								<col class="col-width-120" />
								<col />
							</colgroup>

							<tbody>
								<tr>
									<td class="t_th01">카테고리</td>
									<td class="t_td01" colspan="3">
										<select name="s_category" class="js-example-basic-single" aria-label="카테고리 선택"
											style="width: 100%;">
											<option value=""> - 전체 - </option>
											<option value="1750">서비스</option>
											<option value="1800">제품</option>
											<option value="1900">기타</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="t_th01">구분</td>
									<td class="t_td01" colspan="3">
										<label for="s_onofftype_all">
											<input type="radio" id="s_onofftype_all" name="s_onofftype" value=""
												class="ipt01" checked />
											전체
										</label>

										<label for="s_onofftype_online">
											<input type="radio" id="s_onofftype_online" name="s_onofftype" value="N"
												class="ipt01" />
											온라인
										</label>

										<label for="s_onofftype_group">
											<input type="radio" id="s_onofftype_group" name="s_onofftype" value="F"
												class="ipt01" />
											집합
										</label>
									</td>

								</tr>
								<tr>
									<td class="t_th01">등록일</td>
									<td class="t_td01">

										<input type="date" name="s_sdate" size="10" class="cal01 flatpicker"
											id="dp1729133177442" placeholder="시작날짜"
											style="background-color: rgb(244, 244, 244); border: 1px solid rgb(222, 222, 222); padding-left: 3px;" />

										<img class="ui-datepicker-trigger"
											src="/admin/img/exam/adminExamManagement/calendar.gif" alt="..."
											title="..." />
										-
										<input type="text" name="s_edate" size="10" class="cal01 flatpicker" readonly=""
											id="dp1729133177443" placeholder="끝날짜"
											style="background-color: rgb(244, 244, 244); border: 1px solid rgb(222, 222, 222); padding-left: 3px;" />
										<img class="ui-datepicker-trigger"
											src="/admin/img/exam/adminExamManagement/calendar.gif" alt="..."
											title="..." />
									</td>
									<td class="t_th01">상태</td>
									<td class="t_td01">
										<label>
											<input type="radio" name="s_status" value="" class="ipt01" checked="" />
											전체
										</label>
										&nbsp;

										<label>
											<input type="radio" name="s_status" value="1" class="ipt01" /> 사용
										</label>
										&nbsp;

										<label>
											<input type="radio" name="s_status" value="0" class="ipt01" /> 중지
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="t_th01">검색</td>
									<td class="t_td01" colspan="3">
										<select name="s_field">
											<option value="">-전체-</option>
											<option value="a.exam_nm">시험명</option>
										</select>
										<input type="text" name="s_keyword" size="30" />
										<button type="submit" class="bttn2">검색</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<table class="a_tb01" cellpadding="0" cellspacing="0" border="0">
						<tbody>
							<tr>
								<td class="a_th01"><span style="font-family:arial, dotum;font-weight:normal;">Total :
										<font color="blue">66</font> 건
									</span></td>
								<td class="a_td01">
									<button type="button" class="bttn2" id="addExamBtn">등록 (온라인)</button>
									<button type="button" class="bttn2">등록 (집합)</button>
									<button type="button" class="bttn2">EXCEL</button>
								</td>
							</tr>
						</tbody>
					</table>

					<form name="form2" method="post">
						<table class="l_tb01" cellpadding="0" cellspacing="0">
							<colgroup>
								<col width="50" />
								<col width="80" />
								<col />
								<col width="70" />
								<col width="70" />
								<col width="100" />
								<col width="180" />
								<col width="80" />
								<col width="80" />
							</colgroup>
							<thead>
								<tr align="center">
									<td class="l_th01">No</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.onoff_type">구분</span>
									</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.exam_nm">시험명</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.exam_time">시험시간</span>
									</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.question_cnt">문제수</span>
									</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.reg_date">등록일</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_u.user_nm">담당자</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.status">상태</span></td>
									<td class="l_th01">미리보기</td>
								</tr>
							</thead>
							<tbody>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">66</td>
									<td class="l_td01">온라인</td>
									<td class="l_td01" title="종합시험" align="left">
										<a href="#">종합시험</a>
									</td>
									<td class="l_td01">60 분</td>
									<td class="l_td01">25 문제</td>
									<td class="l_td01">2024.08.11</td>
									<td class="l_td01" align="left">

										<span class="label red">공용</span>
									</td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01">
										<input type="button" value="미리보기" class="btn_simp" />
									</td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">65</td>
									<td class="l_td01">온라인</td>
									<td class="l_td01" title="기말고사 2차시" align="left">
										<a href="https://demo.malgnlms.com/sysop/exam/exam_modify.jsp?id=148&amp;">기말고사
											2차시</a>
									</td>
									<td class="l_td01">60 분</td>
									<td class="l_td01">1 문제</td>
									<td class="l_td01">2024.06.19</td>
									<td class="l_td01" align="left">

										<span class="label red">공용</span>
									</td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01">
										<input type="button" value="미리보기" class="btn_simp" />
									</td>
								</tr>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">64</td>
									<td class="l_td01">온라인</td>
									<td class="l_td01" title="2024.06.19 3:34 시험" align="left">
										<a href="https://demo.malgnlms.com/sysop/exam/exam_modify.jsp?id=147&amp;">2024.06.19
											3:34 시험</a>
									</td>
									<td class="l_td01">60 분</td>
									<td class="l_td01">1 문제</td>
									<td class="l_td01">2024.06.19</td>
									<td class="l_td01" align="left">
										<span class="label red">공용</span>
									</td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01">
										<input type="button" value="미리보기" class="btn_simp" />
									</td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">63</td>
									<td class="l_td01">온라인</td>
									<td class="l_td01" title="기말고사 1차시" align="left">
										<a href="https://demo.malgnlms.com/sysop/exam/exam_modify.jsp?id=146&amp;">기말고사
											1차시</a>
									</td>
									<td class="l_td01">60 분</td>
									<td class="l_td01">1 문제</td>
									<td class="l_td01">2024.06.19</td>
									<td class="l_td01" align="left">

										<span class="label red">공용</span>
									</td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01">
										<input type="button" value="미리보기" class="btn_simp" />
									</td>
								</tr>
							</tbody>
						</table>
					</form>

				</div>
			</div>
		</div>
	</div>

</html>