<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<!-- Select2 CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<!-- Select2 JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function () {
			// Select2 초기화
			$('.js-example-basic-single').select2({
				placeholder: "항목을 선택하세요", // 기본 placeholder 설정
				allowClear: true, // 클리어 버튼 허용
				language: {
					noResults: function () {
						return "결과가 없습니다"; // Set custom message when no results are found
					}
				}
			});
		});
		$('input').each((idx, element) => {
			if ($(element).val() == "미리보기") {
				$(element).click(function () {
					window.open('/admin/exam/questionPopup', '문제미리보기', 'width=600,height=800,scrollbars=yes');
				})
			}
		})
		$('#addQuestionBtn').click(function () {
			location.href = "/admin/exam/addQuestion"
		})

	</script>

</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button">
				<i class="fa fa-minus" style="font-size: 12px;"></i>
			</button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">문제은행</span>
				<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->
				<button type="button" class="btn_simp yellow">
					<i class="fa fa-star"></i> 퀵메뉴추가
				</button>

			</div>
			<div id="sys-page-util">

				<a id="sys-page-util-refresh" href="javascript:window.location.reload(true);">
					<i class="fa fa-retweet"></i>
				</a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="alert_area"></div>
				<div id="sys-contents">
					<form name="form1" method="get">
						<input type="hidden" name="ord" value="" />
						<input type="hidden" name="mode" value="" />
						<input type="hidden" name="cid" />
						<table class="t_tb01" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
							<colgroup>
								<col style="width: 120px;">
								<!-- 첫 번째 열의 너비를 120px로 설정 -->
								<col>
								<!-- 두 번째 열 (너비 기본값) -->
								<col style="width: 120px;">
								<!-- 세 번째 열의 너비를 120px로 설정 -->
								<col>
								<!-- 네 번째 열 (너비 기본값) -->
							</colgroup>
							<tbody>
								<tr>
									<td class="t_th01">카테고리</td>
									<td class="t_td01" colspan="3">
										<select name="subMirCatCode" class="js-example-basic-single">
											<option value=""> - 전체 - </option>
											<option value="category1">Category 1</option>
											<option value="category2">Category 2</option>
											<option value="category3">Category 3</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="t_th01">문제 배점</td>
									<td class="t_td01" colspan="3">
										<label>
											<input type="radio" name="qnaScr" value="" class="ipt01" checked="" /> 전체
										</label>
										&nbsp;
										<label>
											<input type="radio" name="qnaScr" value="1" class="ipt01" /> 1
										</label>
										&nbsp;
										<label>
											<input type="radio" name="qnaScr" value="2" class="ipt01"> 2
										</label>
										&nbsp;
										<label>
											<input type="radio" name="qnaScr" value="3" class="ipt01"> 3
										</label>
										&nbsp;
										<label>
											<input type="radio" name="qnaScr" value="5" class="ipt01"> 4
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="t_th01">출제자</td>
									<td class="t_td01">
										<select name="subMirCatCode" class="js-example-basic-single">
											<option value=""> - 전체 - </option>
											<option value="category1">Category 1</option>
											<option value="category2">Category 2</option>
											<option value="category3">Category 3</option>
										</select>
									</td>
									<td class="t_th01">상태</td>
									<td class="t_td01">
										<label>
											<input type="radio" name="s_status" value="" class="ipt01" checked="" /> 전체
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_status" value="1" class="ipt01" /> 사용
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_status" value="0" class="ipt01"> 중지
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="t_th01">검색</td>
									<td class="t_td01" colspan="3"><select name="s_field">
											<option value="">- 전체 -</option>
											<option value="a.question">문제 제목</option>
											<option value="a.question_text">문제 내용</option>
											<option value="a.question_item">출제 단원</option>
											<option value="a.question_item">출제 유형</option>
											<option value="a.question_item">문제 해설</option>
										</select>
										<input type="text" name="s_keyword" size="30" />
										<button type="submit" class="bttn2">검색</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<form name="form2" method="post" action="https://demo.malgnlms.com/sysop/question/question_list.jsp"
						target="sysfrm">
						<input type="hidden" name="mode" value="status" />

						<table class="a_tb01" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td class="a_th01">
										<span style="font-family: arial, dotum; font-weight: normal;">Total :
											<font color="blue">390</font> 건
										</span>
										&nbsp;&nbsp;
										<input type="button" value="전체문제 미리보기" class="btn_simp" />
									</td>
									<td class="a_td01">
										<button type="button" class="bttn2">일괄등록</button>
										<button type="button" class="bttn2" id="addQuestionBtn">등록</button>
										<button type="button" class="bttn2">EXCEL</button>
										<select name="a_status">
											<option value="">상태변경</option>
											<option value="1">사용</option>
											<option value="0">중지</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="l_tb01" cellpadding="0" cellspacing="0">
							<thead>
								<tr align="center">
									<td class="l_th01" width="20"><input type="checkbox" /></td>
									<td class="l_th01">No</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.question">문제</span></td>
									<td class="l_th01">미리보기</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.grade">문항배점</span></td>

									<td class="l_th01"><span class="l_sort01" id="CL_u.user_nm">출제자</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.status">상태</span></td>
									<td class="l_th01" width="80"><span class="l_sort01"
											id="CL_a.question_type">생성날짜</span></td>
									<td class="l_th01" width="80"><span class="l_sort01"
											id="CL_a.question_type">수정날짜</span></td>

								</tr>
							</thead>
							<tbody>
								<tr class="l_tr_even" align="center">
									<td class="l_td01"><input type="checkbox" name="idx" value="792" /></td>
									<td class="l_td01">1</td>
									<td class="l_td01" align="left" title="인생에서 가장 멋진 일을 슈바이처 박사는 무엇이라고 하였는가?">
										<p class="cate01">[사회과학 - 성공적인 직업 생활]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=792&amp;"
												target="_Main">인생에서 가장 멋진 일을 슈바이처 박사는 무엇이라고 하였는가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>

									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>

									<td class="l_td01">24.09.12 </td>
									<td class="l_td01">24.11.12 </td>
								</tr>


							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</html>