<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<!-- Select2 CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<th:block layout:fragment="customJsFile">
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<!-- Select2 JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function () {
			// Select2 초기화
			$('.js-example-basic-single').select2({
				placeholder: "카테고리를 선택하세요", // 기본 placeholder 설정
				allowClear: true, // 클리어 버튼 허용
				language: {
					noResults: function () {
						return "결과가 없습니다"; // Set custom message when no results are found
					}
				}
			});
		});
		$('input').each((idx, element) => {
			if ($(element).val() == "미리보기") {
				$(element).click(function () {
					window.open('/exam/test4', '문제미리보기', 'width=600,height=800,scrollbars=yes');
				})
			}
		})
		$('#addQuestionBtn').click(function () {
			location.href = "/exam/test5"
		})

	</script>

</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button">
				<i class="fa fa-minus" style="font-size: 12px;"></i>
			</button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">문제은행</span>
				<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->
				<button type="button" class="btn_simp yellow">
					<i class="fa fa-star"></i> 퀵메뉴추가
				</button>

			</div>
			<div id="sys-page-util">

				<a id="sys-page-util-refresh" href="javascript:window.location.reload(true);">
					<i class="fa fa-retweet"></i>
				</a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="alert_area"></div>
				<div id="sys-contents">
					<form name="form1" method="get">
						<input type="hidden" name="ord" value="" />
						<input type="hidden" name="mode" value="" />
						<input type="hidden" name="cid" />
						<table class="t_tb01" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
							<colgroup>
								<col style="width: 120px;">
								<!-- 첫 번째 열의 너비를 120px로 설정 -->
								<col>
								<!-- 두 번째 열 (너비 기본값) -->
								<col style="width: 120px;">
								<!-- 세 번째 열의 너비를 120px로 설정 -->
								<col>
								<!-- 네 번째 열 (너비 기본값) -->
							</colgroup>
							<tbody>
								<tr>
									<td class="t_th01">카테고리</td>
									<td class="t_td01" colspan="3">
										<select name="s_category" class="js-example-basic-single">
											<option value=""> - 전체 - </option>
											<option value="category1">Category 1</option>
											<option value="category2">Category 2</option>
											<option value="category3">Category 3</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="t_th01">난이도</td>
									<td class="t_td01" colspan="3">
										<label>
											<input type="radio" name="s_grade" value="" class="ipt01" checked="" /> 전체
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="1" class="ipt01" /> A
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="2" class="ipt01"> B
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="3" class="ipt01"> C
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="4" class="ipt01" /> D
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="5" class="ipt01" /> E
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_grade" value="6" class="ipt01" /> F
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="t_th01">문제유형</td>
									<td class="t_td01">
										<label>
											<input type="radio" name="s_type" value="" class="ipt01" checked="" /> 전체
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_type" value="1" class="ipt01" /> 단일선택
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_type" value="2" class="ipt01"> 다중선택
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_type" value="3" class="ipt01"> 단답형
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_type" value="4" class="ipt01" /> 서술형
										</label>
										&nbsp;
									</td>
									<td class="t_th01">상태</td>
									<td class="t_td01">
										<label>
											<input type="radio" name="s_status" value="" class="ipt01" checked="" /> 전체
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_status" value="1" class="ipt01" /> 사용
										</label>
										&nbsp;
										<label>
											<input type="radio" name="s_status" value="0" class="ipt01"> 중지
										</label>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="t_th01">검색</td>
									<td class="t_td01" colspan="3"><select name="s_field">
											<option value="">- 전체 -</option>
											<option value="a.question">문제</option>
											<option value="a.question_text">문제설명</option>
											<option value="a.question_item">문항</option>
										</select>
										<input type="text" name="s_keyword" size="30" />
										<button type="submit" class="bttn2">검색</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<form name="form2" method="post" action="https://demo.malgnlms.com/sysop/question/question_list.jsp"
						target="sysfrm">
						<input type="hidden" name="mode" value="status" />

						<table class="a_tb01" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td class="a_th01">
										<span style="font-family: arial, dotum; font-weight: normal;">Total :
											<font color="blue">390</font> 건
										</span>
										&nbsp;&nbsp;
										<input type="button" value="전체문제 미리보기" class="btn_simp" />
									</td>
									<td class="a_td01">
										<button type="button" class="bttn2">일괄등록</button>
										<button type="button" class="bttn2" id="addQuestionBtn">등록</button>
										<button type="button" class="bttn2">EXCEL</button>
										<select name="a_status">
											<option value="">상태변경</option>
											<option value="1">사용</option>
											<option value="0">중지</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="l_tb01" cellpadding="0" cellspacing="0">
							<thead>
								<tr align="center">
									<td class="l_th01">No</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.question">문제</span></td>
									<td class="l_th01">미리보기</td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.grade">난이도</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.question_type">문제유형</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_u.user_nm">담당자</span></td>
									<td class="l_th01"><span class="l_sort01" id="CL_a.status">상태</span></td>
									<td class="l_th01" width="20"><input type="checkbox" /></td>
								</tr>
							</thead>
							<tbody>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">390</td>
									<td class="l_td01" align="left" title="인생에서 가장 멋진 일을 슈바이처 박사는 무엇이라고 하였는가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=792&amp;"
												target="_Main">인생에서 가장 멋진 일을 슈바이처 박사는 무엇이라고 하였는가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="792" /></td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">389</td>
									<td class="l_td01" align="left"
										title="최근 많은 기업에서는 CS 고객 만족을 넘어 고객의 OO에 집중하고 있다. OO은 무엇인가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=791&amp;"
												target="_Main">최근 많은 기업에서는 CS 고객 만족을 넘어 고객의 OO에 집중하고 있다. OO은 무엇인가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="791" /></td>
								</tr>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">388</td>
									<td class="l_td01" align="left" title="최후의 보루를 뜻하며 가성비를 생각하는 소비 트렌드를 무엇이라 표현하는가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=790&amp;"
												target="_Main">최후의 보루를 뜻하며 가성비를 생각하는 소비 트렌드를 무엇이라 표현하는가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="790" /></td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">387</td>
									<td class="l_td01" align="left" title="사람들은 선택의 대상이 많은 것을 원치 않는 것을 입증한 이론은?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=789&amp;"
												target="_Main">사람들은 선택의 대상이 많은 것을 원치 않는 것을 입증한 이론은?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="789" /></td>
								</tr>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">386</td>
									<td class="l_td01" align="left"
										title="고객이 원하는 것을 물어보는 질문을 OO탐색 질문이라고 한다. OO에 들어갈 알맞은 표현은?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=788&amp;"
												target="_Main">고객이 원하는 것을 물어보는 질문을 OO탐색 질문이라고 한다. OO에 들어갈 알맞은 표현은?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="788" /></td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">385</td>
									<td class="l_td01" align="left"
										title="고객으로 하여금 수치스런 감정을 느끼지 않도록 자신의 그릇된 기준은 없는지 살펴보고 매 순간 자신의 (     )을 생각해야 한다.">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=787&amp;"
												target="_Main">고객으로 하여금 수치스런 감정을 느끼지 않도록 자신의 그릇된 기준은 없는지 살펴보고 매 순간 자신의 (
												...</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="787" /></td>
								</tr>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">384</td>
									<td class="l_td01" align="left" title="자아가 손상 되었을 때 느껴지는 감정은 무엇인가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=786&amp;"
												target="_Main">자아가 손상 되었을 때 느껴지는 감정은 무엇인가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="786" /></td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">383</td>
									<td class="l_td01" align="left" title="사람의 인상착의를 보고 단정 짓는 것을 표현하는 말은 무엇인가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=785&amp;"
												target="_Main">사람의 인상착의를 보고 단정 짓는 것을 표현하는 말은 무엇인가?</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="785" /></td>
								</tr>

								<tr class="l_tr_even" align="center">
									<td class="l_td01">382</td>
									<td class="l_td01" align="left"
										title="미국 인터넷 매체 복스는 우리에게 로봇, 컴퓨터가 가질 수 없는 이것이 있기에 두려워할 필요가 없다고 하였다. 이것은 무엇인가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=784&amp;"
												target="_Main">미국 인터넷 매체 복스는 우리에게 로봇, 컴퓨터가 가질 수 없는 이것이 있기에 두려워할 필요가 없다고
												하...</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="784" /></td>
								</tr>

								<tr class="l_tr_odd" align="center">
									<td class="l_td01">381</td>
									<td class="l_td01" align="left"
										title="서비스의 만족감은 고객의 OO와 관련이 있으며 고객의 사전 OO를 파악하는 것이 중요하다. 이 때 OO은 무엇인가?">
										<p class="cate01">[DDM]</p>
										<div style="float: left; margin-top: 4px;">
											<a href="https://demo.malgnlms.com/sysop/question/question_modify.jsp?id=783&amp;"
												target="_Main">서비스의 만족감은 고객의 OO와 관련이 있으며 고객의 사전 OO를 파악하는 것이 중요하다. 이 때
												OO은
												무엇...</a>
										</div>
									</td>
									<td class="l_td01"><input type="button" class="btn_simp" value="미리보기" /></td>
									<td class="l_td01">B</td>
									<td class="l_td01">단답형</td>
									<td class="l_td01" align="left"><span class="label red">공용</span></td>
									<td class="l_td01"><span class="label blue">사용</span></td>
									<td class="l_td01"><input type="checkbox" name="idx" value="783" /></td>
								</tr>

							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</html>