<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<!-- Select2 CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

</head>
<th:block layout:fragment="customJsFile">
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<!-- Select2 JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">

		// Select2 초기화
		$('.js-example-basic-single').select2({
			minimumResultsForSearch: 0, // 검색 기능 활성화
			language: {
				noResults: function () {
					return "검색 결과가 없습니다"; // 사용자 정의 메시지
				}
			}
		});

		$(document).on('click', 'input[value="미리보기"]', function () {
			const $qnaCode = $(this).prop('id');
			window.open(`/admin/exam/questionPopup?qnaCode=${$qnaCode}`, '문제미리보기', 'width=600,height=830,scrollbars=yes');
		});

		$('#addQuestionBtn').click(function () {
			location.href = "/admin/exam/addQuestion"
		})


		$('#searchBtn').click(function () {

			let subMirCatCode = $('#subMirCatCode').val();
			const qnaScr = $('input[name="qnaScr"]:checked').val(); // 체크된 라디오 버튼 값 가져오기
			const userCode = $('#userCode').val();
			const qnaCurExamState = $('input[name="qnaCurExamState"]:checked').val(); // 체크된 라디오 버튼 값 가져오기
			const searchType = $('#searchType').val();
			const searchKeyword = $('#searchKeyword').val();

			if (searchKeyword != '' && searchType == '') {
				alert('검색타입을 선택해주세요');
				return;
			}



			// Ajax 요청
			const request = $.ajax({
				url: '/admin/exam/searchQuestionList',
				method: 'get',
				data: {
					'subMirCatCode': subMirCatCode,
					'qnaScr': qnaScr,
					'userCode': userCode,
					'qnaCurExamState': qnaCurExamState,
					'searchType': searchType,
					'searchKeyword': searchKeyword,
				},
				dataType: 'json'
			});

			request.done(function (data) {
				const searchList = data;
				$('#questionCount').text(data.length);
				$('#questionListTable').empty();
				if (searchList.length > 0) {
					$(searchList).each(function (idx, item) {
						let questionState = '';
						if (item.qnaCurExamState === 'Y') {
							questionState = '<span class="label green">사용</span>';
						} else {
							questionState = '<span class="label red">중지</span>';
						}
						let subjectCategory = '';
						if (item.subMirCatNm) {
							subjectCategory = `[${item.subMjrCatNm} - ${item.subMirCatNm}]`;
						} else {
							subjectCategory = `[${item.subMjrCatNm}]`;
						}

						const newRow = `
				    <tr class="l_tr_even" align="center">
				        <td class="l_td01"><input type="checkbox" name="idx" value="${item.qnaCode}" /></td>
						<td class="l_td01">${searchList.length - idx}</td>
				        <td class="l_td01">${item.qnaCode}</td>
				        <td class="l_td01" align="left">
				            <p class="cate01">${subjectCategory}</p>
				            <div style="float: left; margin-top: 4px;">
				                <a href="/admin/exam/modifyQuestion?qnaCode=${item.qnaCode}" target="_Main">${item.qnaSubject}</a>
				            </div>
				        </td>
				        <td class="l_td01"><input type="button" class="btn_simp" id="${item.qnaCode}" value="미리보기" /></td>
				        <td class="l_td01">${item.qnaScr}점</td>
				        <td class="l_td01" align="center">
				            <p class="label blue" style="display: inline-block;padding:4px;font-weight: bolder;">${item.userId}</p>
				            <br>
				            <p>${item.userName}</p>
				        </td>
				        <td class="l_td01">${questionState}</td>
				        <td class="l_td01">${new Date(item.qnaCreateTime).toLocaleDateString('ko-KR', {year: '2-digit', month: '2-digit', day: '2-digit'})}</td>
				        <td class="l_td01">${new Date(item.qnaUpdateTime).toLocaleDateString('ko-KR', {year: '2-digit', month: '2-digit', day: '2-digit'})}</td>
				    </tr>
				    `;
						$('#questionListTable').append(newRow);  // 새로운 행을 테이블에 추가
					});
				} else {
					const newRow = '<tr class="l_tr_even" align="center"><td class="l_td01" colspan="10" style="padding: 20px; font-weight: bold; color: #555;">검색결과에 해당하는 문제가 없습니다</td></tr>';
					$('#questionListTable').append(newRow);
				}
			});

			request.fail(function (jqXHR, textStatus, error) {
				console.log(error);
			});
		});


		$(document).on('change', 'select[name="a_status"]', function () {
			let isState = true;
			if ($('select[name="a_status"]').val() == '1') {
				isState = true;
			}

			if ($('select[name="a_status"]').val() == '0') {
				isState = false;
			}
			const stateArray = [];
			$('input[name="idx"]:checked').each((idx, element) => {
				//console.log(element.value);
				//const $stateForm = $('<form action="/admin/exam/questionState" method="post"/>');
				stateArray.push(element.value);
			})

			if (stateArray.length == 0) {
				alert('문항을 체크한다음에 실행해주세요');
				return;
			}


			console.log(stateArray);
			const request = $.ajax({
				url: '/admin/exam/questionState',
				method: 'post',
				data: {
					'qnaCode': stateArray,
					'isState': isState
				},
				dataType: 'json'
			});

			request.done(function (data) {
				if (data) location.reload();
				if (!data) alert('변경안됨');
			})
			request.fail(function (jqXHR, textStatus, error) {
				console.log(error);
			});
		})
		$(document).on('click', '#AllCheck', function () {
			if ($('#AllCheck').is(':checked')) {
				$('input[type="checkbox"]').not('#AllCheck').prop('checked', true);
			} else {
				$('input[type="checkbox"]').not('#AllCheck').prop('checked', false);
			}
		})

		$(document).on('click', 'input[type="checkbox"]', function () {
			const checkbox = $('input[type="checkbox"]').not('#AllCheck').length;
			const checked = $('input[type="checkbox"]:checked').not('#AllCheck').length;

			if (checkbox == checked) {
				$('#AllCheck').attr('checked', true);
			} else {
				$('#AllCheck').attr('checked', false);
			}
		})

		$('#searchReset').click(function () {

			$('#searchType').val("");
			$('#searchKeyword').val("");

			$('input[name="qnaScr"]:checked').prop('checked', false);
			$('input[name="qnaCurExamState"]:checked').prop('checked', false);

			$('input[name="qnaScr"]').first().prop('checked', true);
			$('input[name="qnaCurExamState"]').first().prop('checked', true);

			$('#subMirCatCode').val(null).trigger('change');
			$('#userCode').val(null).trigger('change');


		})

		var questionList = /*[[${questionList}]]*/[];
		$('#questionCount').text(questionList.length);

	</script>

</th:block>
<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button">
				<i class="fa fa-minus" style="font-size: 12px;"></i>
			</button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">문제등록</span>
				<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->
			</div>
			<div id="sys-page-util">

				<a id="sys-page-util-refresh">
					<i class="fa fa-retweet"></i>
				</a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="alert_area"></div>
				<div id="sys-contents">
					<table class="t_tb01" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
						<colgroup>
							<col style="width: 120px;">
							<!-- 첫 번째 열의 너비를 120px로 설정 -->
							<col>
							<!-- 두 번째 열 (너비 기본값) -->
							<col style="width: 120px;">
							<!-- 세 번째 열의 너비를 120px로 설정 -->
							<col>
							<!-- 네 번째 열 (너비 기본값) -->
						</colgroup>
						<tbody>
							<tr>
								<td class="t_th01">카테고리</td>
								<td class="t_td01" colspan="3">
									<select name="subMirCatCode" class="js-example-basic-single" id="subMirCatCode">
										<option value=""> - 전체 - </option>
										<option th:if="${categoryList != null}" th:each="cl : ${categoryList}"
											th:text="${cl.subMirCatNm == '통합국어' || cl.subMirCatNm == '통합수학' || cl.subMirCatNm == '통합사회' || cl.subMirCatNm == '통합과학' ? cl.subMjrName + ' > (중등과정) ' + cl.subMirCatNm : cl.subMjrName + ' > ' + cl.subMirCatNm}"
											th:value="${cl.subMirCatCode}">
										</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="t_th01">문제 배점</td>

								<td class="t_td01" colspan="3">
									<label>
										<input type="radio" name="qnaScr" value="0" class="ipt01" checked="" /> 전체
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaScr" value="1" class="ipt01" /> 1
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaScr" value="2" class="ipt01"> 2
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaScr" value="3" class="ipt01"> 3
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaScr" value="4" class="ipt01"> 4
									</label>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td class="t_th01">출제자</td>
								<td class="t_td01">
									<select name="userCode" class="js-example-basic-single" id="userCode">
										<option value=""> - 전체 - </option>
										<option th:if="${userList !=null}" th:each="ul: ${userList}"
											th:text="'['+${ul.userId}+'] '+ ${ul.userName}" th:value="${ul.userCode}">
										</option>

									</select>
								</td>
								<td class="t_th01">상태</td>
								<td class="t_td01">
									<label>
										<input type="radio" name="qnaCurExamState" value="" class="ipt01" checked="" />
										전체
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaCurExamState" value="Y" class="ipt01" /> 사용
									</label>
									&nbsp;
									<label>
										<input type="radio" name="qnaCurExamState" value="N" class="ipt01"> 중지
									</label>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td class="t_th01">검색</td>
								<td class="t_td01" colspan="3">
									<select name="searchType" id="searchType">
										<option value="">검색타입선택</option>
										<option value="qna_subject">문제 제목</option>
										<option value="qna_qst">문제 내용</option>
										<option value="qna_chap">출제 단원</option>
										<option value="qna_type">출제 유형</option>
										<option value="qna_cmt">문제 해설</option>
									</select>
									<input type="text" name="searchKeyword" size="30" id="searchKeyword"
										placeholder="검색어를 입력해주세요" />
									<button type="button" class="bttn2" id="searchBtn">검색</button>
									<button type="button" class="bttn2" id="searchReset">초기화</button>
								</td>
							</tr>
						</tbody>
					</table>

					<form name="form2" method="post" action="#" target="sysfrm">
						<input type="hidden" name="mode" value="status" />

						<table class="a_tb01" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td class="a_th01">
										<span style="font-family: arial, dotum; font-weight: normal;">Total :
											<font color="blue" id="questionCount"></font> 건
										</span>
										&nbsp;&nbsp;

									</td>
									<td class="a_td01">
										<button type="button" class="bttn2" id="addQuestionBtn">등록</button>
										<select name="a_status">
											<option value="">상태변경</option>
											<option value="1">사용</option>
											<option value="0">중지</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="l_tb01" cellpadding="0" cellspacing="0" >
							<thead>
								<tr align="center">
									<td class="l_th01" width="20">
										<input type="checkbox" id="AllCheck" />
									</td>
									<td class="l_th01" width="50">번호</td>
									<td class="l_th01" width="80">문제코드</td>
									<td class="l_th01"><span class="l_sort01">문제</span></td>
									<td class="l_th01" width="80">미리보기</td>
									<td class="l_th01" width="80"><span class="l_sort01">문항배점</span>
									</td>

									<td class="l_th01" width="100"><span class="l_sort01">출제자</span>
									</td>
									<td class="l_th01" width="80"><span class="l_sort01">상태</span></td>
									<td class="l_th01" width="80"><span class="l_sort01"
											id="CL_a.question_type">생성날짜</span></td>
									<td class="l_th01" width="80"><span class="l_sort01"
											id="CL_a.question_type">수정날짜</span></td>

								</tr>
							</thead>
							<tbody id="questionListTable">
								<tr class="l_tr_even" align="center" th:if="${questionList !=null}"
									th:each="ql,status:${questionList}">
									<td class="l_td01">
										<input type="checkbox" name="idx" th:value="${ql.qnaCode}" />
									</td>
									<td class="l_td01" th:text="${status.size - status.index}">1</td>
									<td class="l_td01" th:text="${ql.qnaCode}">1</td>
									<td class="l_td01" align="left">
										<p class="cate01"
											th:text="(${ql.subMirCatNm !=null})?'['+${ql.subMjrCatNm}+' - '+${ql.subMirCatNm}+']':'['+${ql.subMjrCatNm}+']'">
										</p>
										<div style="float: left; margin-top: 4px;">
											<a th:href="@{/admin/exam/modifyQuestion(qnaCode=${ql.qnaCode})}"
												target="_Main" th:text="${ql.qnaSubject}"> </a>
										</div>
									</td>
									<td class="l_td01">
										<input type="button" th:id="${ql.qnaCode}" class="btn_simp" value="미리보기" />
									</td>
									<td class="l_td01" th:text="${ql.qnaScr}+'점'"></td>

									<td class="l_td01" align="center">
										<p class="label blue"
											style=" display: inline-block;padding:4px;font-weight: bolder;"
											th:text="${ql.userId}">
										</p>
										<br>
										<p th:text="${ql.userName}">홍길동</p>
									</td>
									<td class="l_td01"><span th:if="${ql.qnaCurExamState == 'Y'}"
											class="label green">사용</span>
										<span th:unless="${ql.qnaCurExamState == 'Y'}" class="label red">중지</span>
									</td>

									<td class="l_td01" th:text="${#dates.format(ql.qnaCreateTime, 'yy.MM.dd')}"></td>
									<td class="l_td01" th:text="${#dates.format(ql.qnaUpdateTime, 'yy.MM.dd')}"></td>

								</tr>


							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</html>