<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/admin/css/exam/admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/admin/css/exam/select2.css}" />
	<!-- FancyTree CSS CDN -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.1/skin-lion/ui.fancytree.min.css" />

	<!-- Bootstrap Icons (FontAwesome 대용으로 사용 가능) -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" />
	<!-- Select2 CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

	<style>
		#examMain {
			display: flex;
			/* 플렉스 박스를 사용하여 레이아웃 설정 */
		}

		.sidebar {
			width: 250px;
			padding: 0px;
			height: 100vh;
		}


		@font-face {
			font-family: 'Didact Gothic';
			src:
				url(chrome-extension://ignghjdjmgleolgiaifohmdlnbjklkij/assets/fonts/didactgothic.woff2) format('woff2');
			font-weight: normal;
			font-style: normal;
		}

		/* Flexbox 레이아웃 적용 */
		.container {
			display: flex;
			width: 100%;
			height: 100vh;
		}

		.left-section,
		.right-section {
			padding: 10px;
			box-sizing: border-box;
		}

		/* 왼쪽 섹션 스타일 */
		.left-section {
			width: 50%;

		}

		/* 오른쪽 섹션 스타일 */
		.right-section {
			width: 50%;
		}

		.c_tb01,
		.f_tb01 {
			width: 100%;
		}

		.fancytree-container {
			border: none;
			/* FancyTree 테두리 없애기 */
		}

		.fancytree-title {
			font-weight: normal;
		}
	</style>
</head>
<th:block layout:fragment="customJsFile">
	<!-- jQuery CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- FancyTree JS CDN -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.1/jquery.fancytree-all-deps.min.js"></script>
	<!-- Select2 JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">

		// 트리 데이터를 JSON 형식으로 정의
		var treeData = [
			{
				title: "[ 현행 시험 과목 ]",
				folder: true,
				expanded: true,  // 카테고리 노드를 기본으로 확장 상태로 설정
				children: []
			},
			{
				title: "[ 폐지된 시험 과목 ]",
				folder: true,
				expanded: false,  // 카테고리 노드를 기본으로 확장 상태로 설정
				children: []
			},
			{
				title: "[ 출제 유형 ]",
				folder: true,
				expanded: false,  // 카테고리 노드를 기본으로 확장 상태로 설정
				children: []
			},
			{
				title: "[ 출제 단원 ]",
				folder: true,
				expanded: false,  // 카테고리 노드를 기본으로 확장 상태로 설정
				children: []
			}
		];

		/* 타임리프에서 전달받은 categoryList 데이터를 자바스크립트 변수로 변환 */
		var categoryList = /*[[${categoryList}]]*/[];

		var qnaTypeList = /*[[${qnaTypeList}]]*/[];
		var qnaChapList = /*[[${qnaChapList}]]*/[];
		var categoryMap = {};

		// categoryList에서 subMjrName을 추출하여 HashMap에 저장
		categoryList.forEach(element => {
			const subMjrName = element['subMjrName'];

			if (!categoryMap[subMjrName]) {
				categoryMap[subMjrName] = {
					title: subMjrName,
					folder: true,
					children: []
				};
			}

		});
		for (const key in categoryMap) {
			treeData[0]['children'].push({
				title: categoryMap[key].title,
				folder: categoryMap[key].folder,
				children: [] // 새로운 children 배열 생성
			});
		}
		for (const key in categoryMap) {
			treeData[1]['children'].push({
				title: categoryMap[key].title,
				folder: categoryMap[key].folder,
				children: [] // 새로운 children 배열 생성
			});
		}

		for (const key in categoryMap) {
			treeData[2]['children'].push({
				title: categoryMap[key].title,
				folder: categoryMap[key].folder,
				children: [] // 새로운 children 배열 생성
			});
		}
		for (const key in categoryMap) {
			treeData[3]['children'].push({
				title: categoryMap[key].title,
				folder: categoryMap[key].folder,
				children: [] // 새로운 children 배열 생성
			});
		}
		qnaTypeList.forEach((element) => {
			switch (element['subMjrCatCode']) {
				case 'smjrcc1':
					treeData[2]['children'][0]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc2':
					treeData[2]['children'][1]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc3':
					treeData[2]['children'][2]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc4':
					treeData[2]['children'][3]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc5':
					treeData[2]['children'][4]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc6':
					treeData[2]['children'][5]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc7':
					treeData[2]['children'][6]['children'].push({title: element['examQnaTypeNm']})
					break;
				case 'smjrcc8':
					treeData[2]['children'][7]['children'].push({title: element['examQnaTypeNm']})
					break;
			}
		})


		// subMirCatNm을 treeData[0]의 children에 추가
		categoryList.forEach(element => {
			for (let elem of treeData[0]['children']) {
				// subMjrName이 일치하는 경우
				if (element['subMjrName'] === elem['title']) {
					// treeData[0]의 children에만 추가
					if (element['curExamUserState'] == 'Y' && (element['subMirState'] == 'Y' || element['subMirState'] == null)) {

						elem['children'].push({title: element['subMirCatNm']});

					}
				}
			}
			for (let elem of treeData[1]['children']) {
				// subMjrName이 일치하는 경우
				if (element['subMjrName'] === elem['title']) {
					// treeData[0]의 children에만 추가
					if (element['curExamUserState'] == 'N' || element['subMirState'] == 'N') {

						elem['children'].push({title: element['subMirCatNm']});

					}
				}
			}
			for (let elem of treeData[3]['children']) {
				// subMjrName이 일치하는 경우
				if (element['subMjrName'] === elem['title']) {
					// treeData[0]의 children에만 추가


					elem['children'].push({
						title: element['subMirCatNm'],
						folder: true,
						expanded: false,
						children: []
					});


				}
			}
		});

		qnaChapList.forEach((element, idx) => {

			treeData[3]['children'].forEach(elem => {

				elem['children'].forEach(el => {
					if (element['subMirCatNm'] == el['title']) {
						el['children'].push({title: element['examQnaChapNm']});
					}
				})
			})
		})

		// FancyTree 플러그인을 사용하여 트리 생성
		$("#tree").fancytree({
			source: treeData,       // 트리 데이터
			extensions: ["glyph"],  // 아이콘 확장 사용
			clickFolderMode: 2,     // 폴더 클릭 시 하위 트리 펼치기
			selectMode: 1,          // 한 번에 하나의 항목만 선택 가능
			glyph: {                // 폴더와 노드의 아이콘 설정
				map: {}
			},

		});

		// 모두 펼치기 버튼 클릭 시 모든 노드를 펼침
		$("#expandAll").on("click", function () {
			$("#tree").fancytree("getTree").visit(function (node) {
				node.setExpanded(true);
			});
		});

		// 모두 접기 버튼 클릭 시 모든 노드를 접음
		$("#collapseAll").on("click", function () {
			$("#tree").fancytree("getTree").visit(function (node) {
				node.setExpanded(false);
			});
		});

		// 노드 클릭 시 이벤트 처리
		$("#tree").on("fancytreeactivate", function (event, data) {
			alert("선택된 과목: " + data.node.title);
		});

		$(function () {
			$('.js-example-basic-single').select2({
				allowClear: false, // 클리어 버튼 비허용
			});
		});

		// 옵션에서 첫번째 항목을 누르면 전체 코드가 다시 다 나오게 하기 위한 부분
		const original = $('#subMirCatCode > select').html()

		// 선택한 과목에 따라 중분류가 다르게 나오게 하는 부분
		$('#selectMJR').change(function () {
			if ($(this).val() == "") {
				$('#subMirCatCode > select').append(original);
			} else {
				$('#subMirCatCode > select').empty();
				categoryList.forEach((element, idx) => {
					if ($(this).val() == element['subMjrCatCode']) {
						const optionVal = element['subMirCatCode']
						const optionNm = element['subMirCatNm']
						const newOption = `<option value="${optionVal}">${optionNm}</option>`;
						$('#subMirCatCode > select').append(newOption);
					}
				})
			}
		})
		$('#category').change(function () {
			if ($(this).val() == "exam_qna_chap") {
				$(this).closest('tr').next().next().css('display', '');
			} else {
				$(this).closest('tr').next().next().css('display', 'none');
			}
		})


		$('#addCategoryBtn').click(function () {
			const tableNm = $('#category').val()
			const selectMJR = $('#selectMJR').val()
			const categoryNm = $('input[name="category_nm"]').val()
			let selectSubMirCatCode = $('#subMirCatCode > select').val()
			const selectUserCode = $('select[name="manager_id"]').val()

			if (tableNm != "exam_qna_chap") {
				selectSubMirCatCode = "";
			}


			const request = $.ajax({
				url: '/admin/exam/addCategory',
				method: 'post',
				data: {
					'tableNm': tableNm,
					'selectMJR': selectMJR,
					'categoryNm': categoryNm,
					'selectSubMirCatCode': selectSubMirCatCode,
					'selectUserCode': selectUserCode,
				},
				dataType: 'json'
			});

			request.done(function (data) {
				if (data)
					location.reload();
				if (!data)
					alert('등록에 실패했습니다.')
			})
			request.fail(function (jqXHR, textStatus, error) {
				console.log(error);
			});
		})

	</script>

</th:block>

<!-- layout.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content" id="examMain">

	<div class="sidebar">
		<div th:replace="fragments/admin/exam/sidebar :: sidebar"></div>
	</div>
	<div class="content" style="padding:0px">
		<div id="sys-breadcrumb">
			<button id="sys-breadcrumb-arrow" type="button">
				<i class="fa fa-minus" style="font-size: 12px;"></i>
			</button>
			<div id="sys-page-title">
				<span id="sys-page-title-nm">문제은행</span>
				<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->


			</div>
			<div id="sys-page-util">

				<a id="sys-page-util-refresh" href="javascript:window.location.reload(true);">
					<i class="fa fa-retweet"></i>
				</a>
			</div>
		</div>
		<div id="sys-wrap">
			<div id="sys-scroll">
				<div id="sys-contents">
					<div class="container">
						<!-- 왼쪽 섹션 -->
						<div class="left-section">
							<div style="padding:3px">
								<button id="expandAll" class="btn btn-primary">모두 펼치기</button>
								<button id="collapseAll" class="btn btn-danger">모두 접기</button>
							</div>
							<!-- 트리가 생성될 div 요소 -->
							<div id="tree" class="mt-3"></div>
						</div>

						<!-- 오른쪽 섹션 -->
						<div class="right-section">

							<form name="" method="">
								<table class="c_tb01" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="c_th01">카테고리 등록</td>
											<td class="c_td01"></td>
										</tr>
									</tbody>
								</table>

								<table class="f_tb01" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="f_th01">상위 카테고리</td>
											<td class="f_td01">
												<span>
													<select id="category" style="width:100%">
														<option style="color:gray">카테고리 선택</option>
														<option value="sub_mir_cat">과목 중분류</option>
														<option value="exam_qna_type">출제 유형</option>
														<option value="exam_qna_chap">출제 단원</option>
													</select>
												</span>
											</td>
										</tr>
										<tr>
											<td class="f_th01">과목 대분류</td>
											<td class="f_td01">
												<span id="subMjrCatCode">
													<select style="width:100%" id="selectMJR">
														<option style="color:gray" value="">과목 선택</option>
														<option value="smjrcc1">국어</option>
														<option value="smjrcc2">수학</option>
														<option value="smjrcc3">영어</option>
														<option value="smjrcc4">한국사</option>
														<option value="smjrcc5">사회탐구</option>
														<option value="smjrcc6">과학탐구</option>
														<option value="smjrcc7">직업탐구</option>
														<option value="smjrcc8">제2외국어 및 한문</option>
													</select>
												</span>
											</td>
										</tr>
										<tr style="display: none;">
											<td class="f_th01">과목 중분류</td>
											<td class="f_td01">
												<span id="subMirCatCode">
													<select class="js-example-basic-single select2" style="width:99%">
														<option value=""> - 담당자 선택 - </option>
														<option th:if="${categoryList != null}"
															th:each="cl : ${categoryList}"
															th:text="${cl.subMirCatNm == '통합국어' || cl.subMirCatNm == '통합수학' || cl.subMirCatNm == '통합사회' || cl.subMirCatNm == '통합과학' ? cl.subMjrName + ' > (중등과정) ' + cl.subMirCatNm :(cl.subMjrName =='한국사')?cl.subMjrName + ' > ' + '한국사': cl.subMjrName + ' > ' + cl.subMirCatNm}"
															th:value="${cl.subMirCatCode}">
														</option>
													</select>
												</span>
											</td>
										</tr>
										<tr>
											<td class="f_th01">카테고리명</td>
											<td class="f_td01">
												<input type="text" name="category_nm" style="width:99%"
													placeholder="카테고리명" />
											</td>
										</tr>


										<tr>
											<td class="f_th01">담당자</td>
											<td class="f_td01" colspan="3">
												<select name="manager_id" class="js-example-basic-single select2"
													hname="담당자" required="Y">
													<option value=""> - 담당자 선택 - </option>
													<option th:if="${userList !=null}" th:each="ul:${userList}"
														th:value="${ul.userCode}"
														th:text="${'['+ul.userId+'] '+ul.userName }">
													</option>
												</select>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="b_th01"></td>
											<td class="b_td01">
												<button type="button" class="bttn2" id="addCategoryBtn">등록</button>
											</td>
										</tr>
									</tfoot>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</html>