<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 다른 페이지에 포함시킬 영역을 th:fragment로 선언해준다.-->
<div th:fragment="sidebar" id="momoDefault" style="max-width: 20%; width: 100%">
	<div class="sidebar">
		<div class="sidebar__item">
			<h4>모의고사</h4>
			<ul>
				<li><a th:href="@{userExamCreate}">모의고사 만들기</a></li>
				<li><a th:href="@{examList}">모의고사 목록</a></li>
				<li><a th:href="@{userExamResultList}">모의고사 응시목록</a></li>
				<li><a th:href="@{userExamAnalyse}">모의고사 결과분석</a></li>
			</ul>
		</div>
	</div>
</div>

</html>