<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 다른 페이지에 포함시킬 영역을 th:fragment로 선언해준다.-->
<section th:fragment="examSection(subjectName,maxQuestion,questionList,categoryList)">
	<table class="t_tb01" cellpadding="0" cellspacing="0" style="table-layout: fixed;" th:id="${subjectName}">
		<colgroup>
			<col style="width: 120px;">
			<!-- 첫 번째 열의 너비를 120px로 설정 -->
			<col>
			<!-- 두 번째 열 (너비 기본값) -->
			<col style="width: 120px;">
			<!-- 세 번째 열의 너비를 120px로 설정 -->
			<col>
			<!-- 네 번째 열 (너비 기본값) -->
		</colgroup>
		<tbody>
			<tr>
				<td class="t_th01">카테고리</td>
				<td class="t_td01" colspan="3">
					<select name="subMirCatCode" class="js-example-basic-single" style="width: 100%;">
						<option value=""> - 전체 - </option>
						<option th:if="${categoryList != null}" th:each="cl : ${categoryList}"
							th:text="${cl.subMirCatNm == '통합국어' || cl.subMirCatNm == '통합수학' || cl.subMirCatNm == '통합사회' || cl.subMirCatNm == '통합과학' ? cl.subMjrName + ' > (중등과정) ' + cl.subMirCatNm : cl.subMjrName + ' > ' + cl.subMirCatNm}"
							th:value="${cl.subMirCatCode}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="t_th01">문제 배점</td>

				<td class="t_td01" colspan="3">
					<label style="margin:0!important">
						<input type="radio" name="qnaScr" value="0" class="ipt01" checked style="margin:0!important" />
						전체
					</label>
					&nbsp;

					<label style="margin:0!important">
						<input type="radio" name="qnaScr" value="1" class="ipt01" style="margin:0!important" /> 1
					</label>
					&nbsp;
					<label style="margin:0!important">
						<input type="radio" name="qnaScr" value="2" class="ipt01" style="margin:0!important"> 2
					</label>
					&nbsp;
					<label style="margin:0!important">
						<input type="radio" name="qnaScr" value="3" class="ipt01" style="margin:0!important"> 3
					</label>
					&nbsp;
					<label style="margin:0!important">
						<input type="radio" name="qnaScr" value="4" class="ipt01" style="margin:0!important"> 4
					</label>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td class="t_th01">검색</td>
				<td class="t_td01" colspan="3">
					<select name="searchType">
						<option value="">검색타입선택</option>
						<option value="qna_code">문제 코드</option>
						<option value="qna_subject">문제 제목</option>
						<option value="qna_qst">문제 내용</option>
						<option value="qna_chap">출제 단원</option>
						<option value="qna_type">출제 유형</option>
						<option value="qna_cmt">문제 해설</option>
					</select>
					<input type="text" name="searchKeyword" size="30" placeholder="검색어를 입력해주세요"
						style="margin:0 !important" />
					<button type="button" class="bttn2" name="searchQuestionBtn">검색</button>
					<button type="button" class="bttn2" name="searchReset">초기화</button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="a_tb01" cellpadding="0" cellspacing="0" border="0">
		<tbody>
			<tr>
				<td class="a_th01">
					<span style="font-family: arial, dotum; font-weight: normal;">Total
						:
						<font color="blue" name="questionCount" th:text="${questionList.size()}"></font> 건
					</span>
				</td>
				<td class="a_td01">

					<button type="button" class="bttn2" name="addQuestion">등록</button>

				</td>
			</tr>
		</tbody>
	</table>
	<table class="l_tb01" cellpadding="0" cellspacing="0">
		<thead>
			<tr align="center">
				<td class="l_th01" width="20">
					<input type="checkbox" name="AllCheck" />
				</td>
				<td class="l_th01" width="50">번호</td>
				<td class="l_th01" width="80">문제코드</td>
				<td class="l_th01"><span class="l_sort01">문제</span></td>
				<td class="l_th01" width="80">미리보기</td>
				<td class="l_th01" width="80"><span class="l_sort01">문항배점</span>
				</td>

				<td class="l_th01" width="100"><span class="l_sort01">출제자</span>
				</td>
				<td class="l_th01" width="80"><span class="l_sort01">상태</span></td>
				<td class="l_th01" width="80"><span class="l_sort01" id="CL_a.question_type">생성날짜</span></td>
				<td class="l_th01" width="80"><span class="l_sort01" id="CL_a.question_type">수정날짜</span></td>

			</tr>
		</thead>
		<tbody>
			<tr class="l_tr_even" align="center" th:if="${questionList !=null}" th:each="ql,status:${questionList}">
				<td class="l_td01">
					<input type="checkbox" name="idx" th:value="${ql.qnaCode}" />
				</td>
				<td class="l_td01" th:text="${status.size - status.index}">1</td>
				<td class="l_td01" th:text="${ql.qnaCode}">1</td>
				<td class="l_td01" align="left">
					<p class="cate01"
						th:text="(${ql.subMirCatNm !=null})?'['+${ql.subMjrCatNm}+' - '+${ql.subMirCatNm}+']':'['+${ql.subMjrCatNm}+']'">
					</p>
					<div style="float: left; margin-top: 4px;">
						<a th:href="@{/admin/exam/modifyQuestion(qnaCode=${ql.qnaCode})}" target="_Main"
							th:text="${ql.qnaSubject}">
						</a>
					</div>
				</td>
				<td class="l_td01">
					<input type="button" th:id="${ql.qnaCode}" class="btn_simp" value="미리보기" />
				</td>
				<td class="l_td01" th:text="${ql.qnaScr}+'점'"></td>

				<td class="l_td01" align="center">
					<p class="label blue" style=" display: inline-block;padding:4px;font-weight: bolder;"
						th:text="${ql.userId}">
					</p>
					<br>
					<p th:text="${ql.userName}">홍길동</p>
				</td>
				<td class="l_td01"><span th:if="${ql.qnaCurExamState == 'Y'}" class="label green">사용</span>
					<span th:unless="${ql.qnaCurExamState == 'Y'}" class="label red">중지</span>
				</td>

				<td class="l_td01" th:text="${#dates.format(ql.qnaCreateTime, 'yy.MM.dd')}">
				</td>
				<td class="l_td01" th:text="${#dates.format(ql.qnaUpdateTime, 'yy.MM.dd')}">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="margin: 20px 0 10px;">
		<span th:text="${subjectName}"></span> : ( <span>0</span> <span th:if="${maxQuestion !='00'}"
			th:text="${' / '+maxQuestion}">45</span> )
		<button type="button" name="clear-tags" class="btn_simp" style="margin-left:5px">
			모든 문제 지우기
		</button>
	</div>
	<div th:id="${subjectName+'QuestionContainer'}" class="tag-container" style="margin-bottom:10px;">
		<!-- 선택된 검색어들이 이곳에 태그처럼 추가됩니다. -->
	</div>


</section>

</html>